:root {
  --SINGLE-GRID-SIZE: (((100vw - 56px - 56px) - (24px * 11)) / 12);
}

.search-header-container:has(.search-results){
  .search-header-page{
    padding-bottom: 0px;
    .menu-header {
      display: none;
    }
    .wrapper{
      padding: 48px 20px 0px 20px;
    }
    .search-form {
      .search-input {
        input {
          padding-block: 6px;
        }
      }
    }
  }
}

main:has(.search-results){
  background: var(--tertiary-light-grey);
}

.search-results {
  padding-inline: 20px;
  font-family: var(--font-primary-nexa);
  background: var(--tertiary-light-grey);
  display: flex;
  align-items: center;
  flex-direction: column;
  .tablist {
    width: 100%;
  }

  .tabpanel-container {
    margin-bottom: 64px;
  }

  p {
    margin: 0;
  }

  .section-heading {
    line-height: 22px;
    margin: 40px 0 24px 0;
    letter-spacing: 0.32px;
    color: var(--secondary-main);
    font-family: var(--font-primary-nexa);

    strong {
      font-weight: inherit;
      color: var(--primary-main);
    }

    &.error {
      padding: 16px;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: unset;
      color: var(--primary-red);
      background: var(--secondary-red);

      strong {
        color: inherit;
        font-weight: 500;
      }
    }
  }

  .related-results-title {
    margin-top: 48px;
    line-height: 20px;
    letter-spacing: unset;
  }  

  .description {
    line-height: 16px;
    padding-right: 24px;
    color: var(--secondary-main);

    display: -webkit-box;
    line-clamp: 3;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .hyphen-separator {
    margin-inline: 4px;
  }

  .hide-visibility {
    visibility: hidden;
  }

  .search-results-nav {
    position: relative;
    button[hidden]{
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      overflow: hidden;
      list-style: none;
      overflow-x: auto;
      margin-top: 32px;
      scroll-behavior: smooth;
      justify-content: flex-start;
      transition: all 0.5s ease-in;
      &::-webkit-scrollbar {
        width: 0px;
      }

      li {
        position: relative;
        &::after {
          left: 0;
          bottom: 0;
          content: '';
          width: 100%;
          position: absolute;
          border-bottom: 1px solid var(--tertiary-medium-grey);
        }
        button {
          text-decoration: none;
          color: var(--secondary-main);
          padding: 12px 24px;
          white-space: nowrap;
          display: block;
          border: none;
          background: none;
          line-height: 16px;
          &:disabled{
            color: var(--tertiary-medium-grey);
          }
        }
        button:not(:disabled) {
          cursor: pointer;
        }
        &.active {
          &::after {
            border-bottom: 2px solid var(--primary-main);
          }
          button {
            font-weight: 500;
            color: var(--primary-main);
            &:disabled{
              color: var(--tertiary-medium-grey);
            }
          }
        }
      }
    }
    .scrollBtn {
      position: absolute;
      top: 0;
      border: 0;
      display: flex;
      width: 20px;
      height: 40px;
      padding: 14px 4px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      cursor: pointer;
      background: var(--tertiary-light-grey);

      &:after {
        content: '';
        height: 100%;
        width: 100%;
        display: block;
        background: url('/icons/arrow-next.svg') no-repeat;
      }
      &.nextBtn {
        right: 0;
      }
      &.prevBtn {
        left: 0;
        &:after {
          background: url('/icons/arrow-prev.svg') no-repeat;
        }
      }
    }
  }

  .search-results-cards {
    li {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    &.is-hidden {
      display: none;
    }
  }

  .search-results-card {
    padding: 12px;
    display: block;
    background: var(--tertiary-white);

    &:any-link {
      color: black;
    }

    .card-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 4px;

      h3 {
        margin: 0;
        line-height: 19px;
        letter-spacing: 0.32px;
        color: var(--primary-main);
        font-family: var(--font-secondary-nexa);
        span {
          font-family: inherit;
        }
      }

      .cta-link {
        width: 16px;
        height: 16px;
        margin: auto 0;
        display: inline-block;
        background: url("/icons/north_east.svg") no-repeat center center /
          contain;
      }
    }

    &.media-card {
      padding: 0;
      height: 174px;
      display: flex;
      flex-direction: row;

      .image-container {
        width: 122px;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        background: var(--gradient-1);
  
        .car-image {
          overflow: hidden;
          color: transparent;
          width: 120px;
          height: 92px;
          object-fit: contain;
        }
      }

      .card-header {
        h3 {  
          span {
            color: black;
            /* font-family: var(--font-primary-nexa); */
          }
        }

        .cta-link {
          margin: 0;
          margin-left: 8px;
        }
      }

      .details-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% - 122px);

        .starting-price {
          padding-right: 0;
          line-height: 16px;
          color: var(--secondary-main);
          span {
            color: var(--primary-main);
          }
        }

        .car-details {
          display: flex;
          align-items: start;
          flex-direction: column;
          justify-content: space-between;
          .car-details-specs {
              display: flex;
              flex-wrap: wrap;
              line-height: 16px;
              align-items: center;
              flex-direction: row;
              color: var(--primary-main);
              &.fuel-types {
                margin-bottom: 8px;
              }
              span:first-of-type {
                margin-right: 8px;
                line-height: 20px;
                color: var(--secondary-main);
              }
              span:last-of-type {
                min-width: 100%;
                margin-bottom: 1px;
                text-transform: capitalize;
              }
          }
        }
      }

      .card-header {
        height: 38px;
      }
    }
  }

  .card-blurred {
    .search-results-card {
      user-select: none;
      animation: animateblur 3s infinite;
    }
  }

  .pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
    .pagination {
      display: flex;
      align-items: center;

      margin: 0;

      button {
        padding: 0;
        border: none;
        height: 24px;
        line-height: 20px;
        position: relative;
        margin-inline: 10px;

        color: #18171a;
        word-wrap: break-word;
        background: none;

        display: flex;
        align-items: center;
        justify-content: center;
        &:not(:disabled){
          cursor: pointer;
        }
        span {
          z-index: 1;
          position: relative;
          pointer-events: none;
        }
        
        &.active {
          color: white;
          font-size: 0.875rem;
          &::after {
            content: '';
            width: 24px;
            height: 24px;
            position: absolute;
            background-image: url("/icons/rectangle-pagination-icon.svg");
          }
        }

        &.prev,
        &.next {
          width: 16px;
          height: 16px;
        }

        &.prev {
          margin-left: 0;
          margin-right: 8px;
          background-image: url("/icons/arrow-prev.svg");
        }
        
        &.next {
          margin-right: 0;
          margin-left: 8px;
          background-image: url("/icons/arrow-next.svg");
        }

        &.prev,
        &.next,
        &.active::after {
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

@media (width >= 768px) {
  .search-header-container:has(.search-results){
    .search-header-page{
      padding-top: 0px;
      max-width: 100%;
      .wrapper{
        padding: 56px 20px 0px 20px;
        margin-bottom: 4px;
      }
      .search-form {
        .search-input {
          input {
            padding-block: 10px;
          }
        }
      }
    }
  }
  .search-results {
    .tablist {
      max-width: 100%;
    }
    .tabpanel-container {
      margin-bottom: 96px;
    }
    .section-heading {
      line-height: 32px;
      letter-spacing: unset;
      margin: 56px 0 32px 0;
      &.error {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 24px;
        margin-top: 48px;
        
        strong {
          font-size: inherit
        }
      }
    }
    .related-results-title {
      margin-top: 64px;
      line-height: 32px;
    }

    .description {
      line-clamp: 2;
      line-height: 20px;
      padding-right: 40px;
      -webkit-line-clamp: 2;
    }

    .search-results-nav {
      ul {
        overflow-x: auto;
        margin-top: 40px;
        li {
          button {
            padding: 12px 48px;
            line-height: 20px;
          }
        }
      }
    }

    .search-results-cards {
      li {
        margin-bottom: 24px;
      }
    }

    .search-results-card {
      padding: 32px;

      .card-header {
        margin-bottom: 12px;
        .cta-link {
          width: 32px;
          height: 32px;
          background-image: url("/icons/north_east-lg.svg")
        }

        h3 {
          line-height: normal;
          letter-spacing: 0.56px;
        }
      }

      &.media-card {
        height: 186px;

        .image-container {
          width: 295px;

          .car-image {
            width: 240px;
            height: 186px;
            object-fit: contain;
          }
        }

        .card-header {  
          align-items: center;
          margin-bottom: 8px;
          .cta-link {
            margin: auto 0;
          }
        }

        .details-section {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: calc(100% - 295px);

          .car-details {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-start;

            .car-details-specs {
              line-height: 20px;
              &.fuel-types {
                margin-right: 40px;
                margin-bottom: 0;
              }
              span:last-of-type {
                min-width: 210px;
              }
            }
          }

          .starting-price {
            line-height: 20px;
          }
        }

        .card-header,
        .car-details-specs {
          height: unset;
        }
      }
     }

    .pagination-container {
      margin-bottom: 96px;
      justify-content: flex-end;

      .pagination {
        button {
          height: 32px;
          margin-inline: 14px;
          
          &.active {
            font-size: 1rem;
            &::after {
              width: 32px;
              height: 32px;
            }
          }

          &.prev {
            margin-right: 11px;
          }
          
          &.next {
            margin-left: 11px;
          }
        }
      }
    }
  }
}

@media (width >= 768px) and (width <= 796px) {
  .search-results {
    .search-results-card {
      &.media-card {
        .details-section {
          .car-details {
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}

@media (width >= 1200px) {
  .search-header-container:has(.search-results){
    .search-header-page {
      /* 10 Grid Width */
      max-width: calc((var(--SINGLE-GRID-SIZE) * 10) + (24px * (10 - 1)));

      .wrapper{
        padding: 0;
        padding-top: 56px;
      }
    }
  }
  .search-results {
    .tablist {
      /* 10 Grid Width */
      max-width: calc((var(--SINGLE-GRID-SIZE) * 10) + (24px * (10 - 1)));
    }
  }
}

@keyframes animateblur {
  0% { filter: blur(7px);}
  50% { filter: blur(12px);}
  100% { filter: blur(7px);}
}
