body.appear {
  background: var(--tertiary-light-grey);
}

.dealer-locator-filter.block::after {
  position: absolute;
  content: "";
  height: 16px;
  background-color: var(--tertiary-light-grey);
  right: 0;
  left: 0;
  clip-path: polygon(0 0, 24% 0, 22% 100%, 0 100%);
}

@media(width >=768px) {
  .dealer-locator-filter.block::after {
    height: 25px;
    clip-path: polygon(0 0, 100% 0, 65% calc(78% - 1.9375rem), 68% calc(100% - 4.9375rem), calc(66% - 25px) 100%, 0 100%);
  }
}

.dealer-locator {
  padding: 3rem 1.25rem 3.5rem;

  @media(width >=768px) {
    padding: 5rem 0 2.5rem 3.5rem;
  }
}

.dealer-flex .container {
  background: var(--Gradients-Gradient-1, linear-gradient(60deg, #C9D3D7 3.71%, #EBEBEB 104.51%));
}

.dealer-locator-container .filter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding: 16px;
  gap: 16px 16px;
  background: var(--tertiary-white, #FFF);

  @media(width >=768px) {
    margin-right: 3.5rem;
  }
}

.dealer-locator-container .filter-container .filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #F2F2F2;
  position: relative;

  &:nth-child(1) {
    position: relative;
  }

  &:nth-child(3) {
    grid-column: span 2;
  }

  .error-message-pincode {
    font-family: var(--font-primary-nexa);
    font-size: 0.625rem;
    font-weight: 400;
    color: #C2220A;
    position: absolute;
    bottom: 0;

    @media(width >=768px) {
      top: 2rem;
    }

    @media(width >=1200px) {
      top: 3rem;
    }
  }
}

.dealer-locator-container .filter-container .carVariant-block,
.dealer-locator-container .filter-container .colours-block,
.dealer-locator-container .filter-container .delieveryTime-block {
  display: none;
}

.dealer-locator-container .filter-container .filter-group label {
  margin-bottom: 0.25rem;
  color: #515151;
  font-family: var(--font-primary-nexa);
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;

  @media(width >=768px) {
    font-size: 14px;
    font-weight: 400;
  }
}

.dealer-locator-container .filter-container .search-button {
  grid-column: span 2;
  background-color: var(--primary-main);
  padding: 0.625rem 1.5rem;
  border: none;
  cursor: pointer;
  color: var(--Text-Colour-CTA-Styles-CTA-Primary, #FDFDFD);
  font-feature-settings: "liga"off, "clig"off;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;

  @media(width >=768px) {
    padding: 0.5rem 1rem;
    background-image: url(/icons/dealer-search-icon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2rem;
    width: 2rem;
  }

  @media(width >=1200px) {
    margin-left: 4rem;
    padding: 1.5rem;
    height: 3rem;
    width: 3rem;
  }
}

.dealer-locator-container .filter-container .filter-group custom-select,
.dealer-locator-container .filter-container .filter-group input {
  border: none;
  outline: none;
  width: 100%;
  margin: 0;
  padding: 0;
  appearance: none;
  color: var(--primary-main, #18171A);
  font-family: var(--font-primary-nexa);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  @media(width >=768px) {
    font-size: 0.625rem;
    line-height: 0.6875rem;
  }

  @media(width >=1200px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.dealer-locator-container .filter-container .filter-group input:focus {
  border: 1px solid var(--tertiary-deep-Grey);
}

.dealer-locator-container .filter-container .filter-group custom-select .select-hide {
  display: none;
}

.dealer-locator-container .filter-container .filter-group custom-select .select-show {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-height: 450px;
  overflow-y: auto;
  width: 100%;
  background: var(--tertiary-white);
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 12%);
  z-index: 10;

  @media(width >=768px) {
    top: 3.5rem;
    left: 0;
    width: calc(100% + 1.4rem);
  }



  @media(width >=823px) {
    top: 3rem;
  }

  @media(width >=1200px) {
    top: 4.1rem;
  }
}

.select-items::-webkit-scrollbar {
  width: 2px;
}

.select-items::-webkit-scrollbar-track {
  background: linear-gradient(34deg, #C9D3D7 0%, #EBEBEB 100%, #EBEBEB 100%);
}

.select-items::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.dealer-locator-container .filter-container .filter-group custom-select .select-show .explore-less {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 1rem;

  @media(width >=768px) {
    justify-content: center;
  }
}

.dealer-locator-container .filter-container .filter-group custom-select .select-show .explore-less::after {
  content: '';
  height: 1.25rem;
  width: 1.25rem;
  background-image: url('../../icons/expand_less.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: auto;
  opacity: 0.5;
}

.dealer-locator-container .filter-container .filter-group custom-select .select-show .explore-less:hover {
  cursor: pointer;
}

.dealer-locator-container .filter-container .filter-group .select-items .custom-option {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  gap: 0.5rem;
  width: 100%;

  @media(width >=1200px) {
    gap: 0.75rem;
  }
}

.dealer-locator-container .filter-container .filter-group .select-items .custom-option .select__icon {
  content: ' ';
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-image: url('../../icons/select_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media((width >=768px) and (width < 1200px)) {
    width: 0.75rem;
    height: 0.75rem;
  }
}

.dealer-locator-container .filter-container .filter-group .select-items .custom-option .select__option {
  font-family: var(--font-primary-nexa), sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: var(--secondary-main);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @media(width >=768px) {
    font-size: 0.625rem;
    line-height: 0.75rem;
  }

  @media(width >=1200px) {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

.dealer-locator-container .filter-container .filter-group .select-items .custom-option:hover,
.dealer-locator-container .filter-container .filter-group .select-items .custom-option.active {
  .select__option {
    color: var(--primary-main);
    font-weight: 500;
  }

  .select__icon {
    background-image: url('../../icons/select_icon_active.svg');
  }
}

.dealer-locator-container .filter-container .filter-group.colours-block {
  .select-selected {
    text-overflow: ellipsis;
  }

  .select-items .custom-option {
    .select__option {
      max-width: 3rem;
      text-overflow: ellipsis;
    }

    .colour-box {
      height: 1rem;
      width: 1rem;
    }
  }
}

.dealer-locator-container .filter-container .filter-group.colours-block,
.dealer-locator-container .filter-container .filter-group.radius-block,
.dealer-locator-container .filter-container .filter-group.showcasing-block {
  border-bottom: none;
}

.dealer-locator .card-header {
  display: none;
  padding-top: 3rem;
  position: relative;

  @media(width >=768px) {
    justify-content: space-between;
    align-items: center;
    margin-right: 4rem;
  }

  .book-my-car__heading {
    display: none;
  }

  .card-view__heading,
  .book-my-car__heading {
    font-family: var(--font-secondary-nexa);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.48px;

    @media(width >=768px) {
      font-size: 1.125rem;
      line-height: 1.25rem;
      letter-spacing: 0.36px;
    }

    @media(width >=1200px) {
      font-size: 32px;
      line-height: 36px;
      letter-spacing: 0.64px;
    }
  }
}

.dealer-locator .explore-cta-mob {
  display: none;
  width: 100%;
  justify-content: right;

  @media(width >=768px) {
    display: none;
  }
}

.dealer-locator .explore-cta-web {
  display: none;

  @media(width >=768px) {
    display: flex;
  }
}

.dealer-locator .explore-cta-mob,
.dealer-locator .explore-cta-web {
  border: none;
  cursor: pointer;
  background: none;
}

.dealer-locator .explore-cta-mob a,
.dealer-locator .explore-cta-web a {
  font-family: var(--font-primary-nexa), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--primary-main);
  text-decoration: none;
  display: flex;
  align-items: center;

  @media(width >=768px) {
    font-size: 0.625rem;
    line-height: 0.6875rem;
  }

  @media(width >=1200px) {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

.dealer-locator .map-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 3rem;
  margin-top: 0.75rem;

  @media(width >=768px) {
    gap: 12px;
    margin-bottom: 2rem;
    margin-top: -1.25rem;
  }

  span h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-secondary-nexa);
    color: var(--primary-main);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.36px;
    margin: 0;

    @media(width >=768px) {
      line-height: 1.25rem;
    }

    @media(width >=1200px) {
      font-size: 32px;
      line-height: 36px;
      letter-spacing: 0.64px;
    }
  }

  .cardDealer {
    border: none;
    background: none;
    content: '';
    height: 1rem;
    width: 1rem;
    margin-bottom: 0.25rem;
    display: inline-block;
    background-image: url('../../icons/left_arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media(width >=768px) {
      width: 0.75rem;
      height: 0.75rem;
    }

    @media(width >=1200px) {
      width: 1.5rem;
      height: 1.5rem;
      margin-bottom: 0.375rem;
    }
  }
}

.dealer-locator-container .filter-container .filter-group custom-select .select-selected {
  background-image: url('/icons/dealer_expand_arrow.svg');
  background-repeat: no-repeat;
  background-position: right 0 center;
  cursor: pointer;
  position: relative;
  width: 100%;
  font-family: var(--font-primary-nexa), sans-serif;
  font-size: 16px;
  color: var(--primary-main);
  font-weight: 500;
  line-height: 20px;

  @media(width >=768px) {
    font-size: 0.625rem;
    line-height: 0.8125rem;
  }

  @media(width >=1200px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.dealer-locator-container .filter-container .filter-group #visiting .select-selected {
  background: none;
}

.dealer-locator-container .filter-container .filter-group .filter-icon {
  position: absolute;
  top: 57%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  cursor: pointer;

  @media(width >=768px) {
    top: 54%;
    width: 0.75rem;
    height: 0.75rem;
  }

  @media(width >=823px) {
    top: 67%;
  }

  @media(width >=1200px) {
    top: 76%;
    height: 1.25rem;
    width: 1.25rem;
  }
}

.dealer-locator-container .filter-container #locator-icon {
  right: 0.5rem;
  background-image: url('/icons/location_searching.svg');
  background-size: cover;
}

.dealer-locator-container .error-message-smallRadius {
  display: none;
  background-color: var(--System-Colours-Secondary-blue, #D1E3FF);
  padding: 1rem;
  font-family: var(--font-primary-nexa);
  color: var(--System-Colours-Primary-blue, #19458B);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  margin-top: 1rem;

  @media(width >=768px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 1rem 1.5rem;
    margin-right: 3.5rem;
  }

  @media(width >=1200px) {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .highlight {
    font-weight: 500;
  }
}

.dealer-locator-container .dealers-container {
  padding: 1.5rem 0;

  .dealer-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 12px;

    @media(width >=768px) {
      flex-direction: row;
      transition: transform 0.5s ease-in-out;
      transform: translateX(0px);
    }
  }

  .dealer-cards::-webkit-scrollbar {
    width: 2px;
  }

  .dealer-cards::-webkit-scrollbar-track {
    background: linear-gradient(34deg, #C9D3D7 0%, #EBEBEB 100%, #EBEBEB 100%);
  }

  .dealer-cards::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  @media(width >=768px) {
    position: relative;
    overflow: hidden;
    padding: 2rem 0 2.5rem;
  }
}

.dealers-container .dealer-cards .dealer-card {
  background-color: var(--tertiary-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-width: 46%;

  .dealer-card-content {
    padding: 1.5rem 1.5rem 1rem;
    position: relative;

    .dealer-title {
      display: flex;
      align-items: start;
      gap: 1.1875rem;
      justify-content: space-between;

      .dealer-title-text {
        color: var(--secondary-main);
        font-family: var(--font-primary-nexa);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25rem;
        height: 2.5rem;
        overflow: hidden;

        @media(width >=768px) {
          font-size: 0.875rem;
          line-height: 0.9375rem;
          height: 1.875rem;
          min-width: 14rem;
        }

        @media(width >=1200px) {
          font-size: 1.5rem;
          line-height: 2rem;
          min-width: 20rem;
          height: 4rem;
        }

        @media(width >=1368px) {
          min-width: 25rem;
        }
      }

      .bookmark-icon {
        background-image: url('../../icons/bookmark_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
      }

      .bookmark-icon.active {
        background-image: url('../../icons/bookmark_icon-active.svg');
      }
    }

    .dealer-distance {
      font-family: var(--font-primary-nexa);
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.25rem;
      color: var(--secondary-main);
      margin-bottom: 1.5rem;

      @media(width >=768px) {
        font-size: 0.625rem;
        line-height: 0.75rem;
        position: absolute;
        right: 2rem;
        top: 3.7rem;
        margin-bottom: 0;
      }

      @media(width >=1200px) {
        font-size: 0.875rem;
        line-height: 1.25rem;
        top: 4rem;
      }
    }

    .separator {
      height: 1px;
      background-color: var(--tertiary-light-grey);
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    .dealer-location {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .dealer-address {
        font-family: var(--font-primary-nexa);
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.25rem;
        text-transform: capitalize;
        color: var(--secondary-main);
        height: 2.5rem;
        overflow: hidden;

        @media(width >=768px) {
          font-size: 0.625rem;
          line-height: 0.875rem;
          height: 1.75rem;
          max-width: 14rem;
        }

        @media(width >=1200px) {
          font-size: 1rem;
          line-height: 1.25rem;
          min-height: 2.5rem;
          height: auto;
          max-width: 18.75rem;
        }
      }

      .action-cta {
        display: flex;
        align-items: baseline;

        a {
          font-family: var(--font-primary-nexa);
          color: var(--primary-main);
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 1.25rem;
          cursor: pointer;

          @media(width >=768px) {
            font-size: 0.625rem;
            line-height: 0.6875rem;
          }

          @media(width >=1200px) {
            font-size: 0.875rem;
            line-height: 1.25rem;
          }
        }

        .arrow-icon {
          background-image: url('../../icons/arrow.svg');
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
          width: 0.75rem;
          height: 0.75rem;
          transform: scale(0.75);
          margin-left: 0.25rem;
          transition: transform 0.5s ease-in-out;
        }

        &:hover .arrow-icon {
          transform: scale(1.25);
        }
      }

      @media(width >=768px) {
        flex-direction: row;
        justify-content: space-between;

        .separator {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }
    }

    .contact-block {
      margin-top: 1.625rem;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      justify-content: center;

      .contact-phone {
        display: flex;
        align-items: center;

        a {
          font-family: var(--font-primary-nexa);
          color: var(--secondary-main);
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 1rem;
          cursor: pointer;

          @media(width >=768px) {
            font-size: 0.625rem;
            line-height: 0.75rem;
          }

          @media(width >=1200px) {
            font-size: 0.875rem;
            line-height: 1.25rem;
          }
        }

        .phone-icon {
          background-image: url('../../icons/phone_icon.svg');
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 0.75rem;

          @media(width <=768px) {
            width: 20px;
            height: 20px;
          }
        }
      }

      .contact-email {
        display: flex;
        align-items: center;
        position: relative;

        a {
          font-family: var(--font-primary-nexa);
          color: var(--secondary-main);
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 1rem;
          cursor: pointer;

          @media(width >=768px) {
            font-size: 0.625rem;
            line-height: 0.75rem;
          }

          @media(width >=1200px) {
            font-size: 0.875rem;
            line-height: 1.25rem;
          }
        }

        .email-icon {
          background-image: url('../../icons/email_icon.svg');
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 0.75rem;
          @media(width <=768px) {
            width: 20px;
            height: 20px;
          }
        }

        .copy-icon {
          margin-left: 0.5rem;
          background-image: url('../../icons/copy_icon.svg');
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
          width: 0.75rem;
          height: 0.75rem;
          cursor: pointer;

          @media(width >=768px) {
            margin-left: 0.75rem;
          }
        }

        .success-message-email {
          display: none;
          background: #515151;
          box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.12);
          padding: 0.5rem 0.75rem;
          color: var(--tertiary-white);
          font-family: var(--font-primary-nexa);
          font-size: 0.625rem;
          font-weight: 300;
          line-height: 1.0625rem;
          white-space: nowrap;
          text-align: center;
          position: absolute;
          right: 0rem;
          bottom: 1.25rem;
        }
      }

      .contact-timing {
        font-family: var(--font-primary-nexa);
        color: var(--secondary-main);
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1rem;
        display: flex;
        align-items: center;
        gap: 2px;

        .dealer-state {
          color: #298555;
        }

        .timing-icon {
          background-image: url('../../icons/clock_icon.svg');
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 0.625rem;
          @media(width <=768px) {
            width: 20px;
            height: 20px;
          }
        }

        @media(width >=768px) {
          font-size: 0.625rem;
          line-height: 0.75rem;
        }

        @media(width >=1200px) {
          font-size: 0.875rem;
          line-height: 1.25rem;
        }
      }

      @media(width >=768px) {
        gap: 1rem;
        margin-top: 1rem;
      }
    }

    @media(width >=768px) {
      padding: 2rem 1.75rem 1rem 2rem;
    }
  }

  .cta-actions-container {
    background: var(--Gradients-Gradient-1, linear-gradient(60deg, #C9D3D7 3.71%, #EBEBEB 104.51%));
    padding: 2.25rem 1.5rem 1.5rem;
    clip-path: polygon(61% 12px, calc(60% + 0.75rem) 0, 100% 0, 100% 100%, 0 100%, 0 12px);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .visit-cta,
    .request-cta {
      background-color: var(--tertiary-white);
      border: 1px solid var(--primary-main);
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-family: var(--font-primary-nexa);
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
        color: var(--primary-main);
        width: 100%;
        text-align: center;
        transition: all 0.2s linear;

        &:hover {
          background-color: var(--tertiary-light-grey);
        }

        @media(width >=768px) {
          font-size: 0.625rem;
          line-height: 0.75rem;
        }

        @media(width >=1200px) {
          font-size: 1rem;
          line-height: 1.375rem;
        }

        .visit-cta a:hover {
          background-color: var(--tertiary-light-grey);
        }
      }

      @media(width >=768px) {
        flex-basis: 50%;
      }
    }

    .test-cta,
    .book-cta {
      background-color: var(--primary-main);
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-family: var(--font-primary-nexa);
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
        color: var(--tertiary-white);
        width: 100%;
        text-align: center;
        transition: all 0.2s linear;

        &:hover {
          background-color: var(--secondary-main);
        }

        @media(width >=768px) {
          font-size: 0.625rem;
          line-height: 0.75rem;
        }

        @media(width >=1200px) {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }

      @media(width >=768px) {
        flex-basis: 50%;
      }
    }

    @media(width >=768px) {
      padding: 2.25rem 2rem 1.5rem;
      flex-direction: row;
      gap: 1rem;
    }
  }

  .cta-actions-container.book-my-car-cta {
    display: none;

    .request-cta {
      display: none;
    }

    .book-cta {
      flex-basis: 100%;
    }
  }

  .continue-box {
    background: linear-gradient(238deg, rgba(56, 79, 110, 0.60) -11.12%, rgba(91, 91, 91, 0.60) 111.5%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    border-bottom: 1px solid var(--light-grey-shade-5);

    .continue-txt {
      color: var(--tertiary-white);
      font-family: var(--font-primary-nexa);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1rem;
    }

    .continue-btn {
      color: var(--tertiary-white);
      font-family: var(--font-primary-nexa);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1rem;
      padding: 0;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }

  @media(width >=999px) {
    min-width: 39%;
  }
}

.dealers-container .dealer-cards .dealer-card.highlight-card {
  background: var(--Gradients-Gradient-1, linear-gradient(60deg, #C9D3D7 3.71%, #EBEBEB 104.51%));
}

.dealers-container .dealer-cards .dealer-card:last-child {
  @media(width >=768px) {
    margin-right: 3.5rem;
  }
}

.dealers-container.mapView .dealer-cards .dealer-card:last-child {
  @media(width >=768px) {
    margin-right: 0;
  }
}

.dealer-locator-container .carousel-arrow {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  justify-content: right;
  padding-right: 3.5rem;
  padding-top: 40px;

  .prev-btn {
    content: '';
    height: 2rem;
    width: 2rem;
    background-image: url('../../icons/dealer_carousel_nextArrow.svg');
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;

    &:hover {
      background-image: url('../../icons/hover-left-scroll-black.svg');
    }

    @media(width >=1200px) {
      height: 3rem;
      width: 3rem;
    }
  }

  .prev-btn.inactive {
    cursor: none;
    pointer-events: none;
    opacity: 0.5;
  }

  .next-btn {
    content: '';
    height: 2rem;
    width: 2rem;
    background-image: url('../../icons/dealer_carousel_nextArrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background-image: url('../../icons/hover-left-scroll-black.svg');
    }

    @media(width >=1200px) {
      height: 3rem;
      width: 3rem;
    }
  }

  .next-btn.inactive {
    cursor: none;
    pointer-events: none;
    opacity: 0.5;
  }
}

.dealer-locator-container .dealers-container.mapView {
  display: flex;
  flex-direction: column;

  .dealer-cards {
    order: 2;

  }

  .map-container {
    width: 100%;
    aspect-ratio: 320/380;

    .mapboxgl-canvas {
      filter: grayscale(90%);
    }

    #mmi_alert0,
    #mLogo0,
    #mmi_menu0,
    .maplibregl-control-container {
      display: none;
    }
  }

  @media(width >=768px) {
    flex-direction: row;
    gap: 0.6875rem;
    margin-right: 3.5rem;

    .dealer-cards {
      order: unset;
      display: flex;
      flex-direction: column;
      aspect-ratio: unset;
      overflow-y: auto;
      max-height: 24rem;
      flex-basis: 50%;
    }

    .map-container {
      aspect-ratio: unset;
      max-height: 24rem;
      flex-basis: 80%;

      .maplibregl-canvas-container {
        min-height: 100%;
      }
    }
  }

  @media(width >=1200px) {
    .dealer-cards {
      max-height: 46.625rem;
    }

    .map-container {
      max-height: 46.625rem;

    }
  }
}

.dealer-locator-container .dealers-container.mapView .dealer-cards.map-view-cards {
  gap: 0;

  .dealer-card.map-view-card {
    position: relative;

    @media(width >=768px) {
      margin-bottom: 40px;
    }

    .dealer-title-text {
      color: var(--primary-main);

      @media (width >=768px) and (width < 1200px) {
        min-width: 10rem;
      }
    }

    .dealer-distance {
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 500;
      color: var(--primary-main);
      margin-top: 0.375rem;
    }

    .dealer-location {
      gap: 0.75rem;

      .dealer-address {
        color: var(--primary-main);
      }
    }

    .contact-block {
      margin-top: 0.875rem;
    }

    .cta-actions-container {
      padding: 2.25rem 1.5rem 3rem;

      @media(width >=768px) {
        padding: 2.75rem 1.5rem 3.25rem;
      }
    }

    .bottom-action-container {
      position: absolute;
      bottom: 55px;
      padding: 0.75rem 1.5rem;
      width: 100%;

      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .wrapper .toggle-arrow {
        width: 1rem;
        height: 1rem;
        transform: rotate(180deg);
        background-image: url('../../icons/arrow-down-black.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        z-index: 100;

        @media(width >=768px) {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      @media(width >=768px) {
        bottom: 0;
      }
    }

    @media(width >=768px) {
      .dealer-card-content {
        padding: 1.5rem;

        .dealer-distance {
          position: relative;
          top: 0;
          right: 0;
          margin-top: 0.75rem;
        }

        .dealer-location {
          flex-direction: column;
          position: relative;
          margin-top: 1rem;

          .action-cta {
            position: absolute;
            right: 0;
            bottom: -2.5rem;
          }
        }

        .contact-block {
          margin-top: 24px;
          gap: 1rem;
        }
      }
    }

    @media(width >=1200px) {
      .separator {
        display: none;
      }
      .dealer-title-text {
        font-size: 1.375rem;
        line-height: 1.25rem;
        min-height: 2.75rem;
        height: auto;
      }

      .dealer-distance {
        font-size: 1.125rem;
        line-height: 1.5rem;
      }

      .dealer-location {
        .action-cta {
          bottom: -2rem;
        }
      } 
    }
  }

  .dealer-card.map-view-card.closed {
    position: relative;
    background-color: var(--tertiary-light-grey);
    max-height: 15.8rem;
    min-height: 15.8rem;
    overflow: hidden;
    margin-bottom: 0;

    .separator {
      display: none;
    }

    .contact-block div:first-child {
      margin-bottom: 1.75rem;
    }

    .contact-block {
      .contact-phone .phone-icon {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M12.692 7.82034C12.6536 6.54167 12.188 5.456 11.2952 4.56334C10.4024 3.67056 9.31673 3.20495 8.03817 3.1665V2.1665C8.81595 2.18362 9.54412 2.343 10.2227 2.64467C10.9013 2.94645 11.4941 3.35073 12.001 3.8575C12.5078 4.36439 12.912 4.95712 13.2137 5.63567C13.5155 6.31434 13.6749 7.04256 13.692 7.82034H12.692ZM10.0253 7.82034C9.9869 7.28612 9.77962 6.82989 9.40351 6.45167C9.0274 6.07356 8.57229 5.86739 8.03817 5.83317V4.83317C8.84929 4.86739 9.54029 5.171 10.1112 5.744C10.6822 6.31712 10.9869 7.00923 11.0253 7.82034H10.0253ZM12.9598 13.6665C11.7035 13.6665 10.4413 13.3744 9.17334 12.7902C7.90545 12.2059 6.73945 11.3818 5.67534 10.3178C4.61556 9.25373 3.79356 8.08873 3.20934 6.82284C2.62512 5.55706 2.33301 4.296 2.33301 3.03967C2.33301 2.83967 2.39967 2.67189 2.53301 2.53634C2.66634 2.40089 2.83301 2.33317 3.03301 2.33317H5.20734C5.37567 2.33317 5.52417 2.38812 5.65284 2.498C5.78151 2.60778 5.86334 2.74345 5.89834 2.905L6.28051 4.8665C6.30695 5.0485 6.3014 5.20489 6.26384 5.33567C6.22617 5.46645 6.15862 5.57628 6.06117 5.66517L4.52151 7.164C4.76929 7.61778 5.0524 8.04706 5.37084 8.45184C5.68917 8.8565 6.03384 9.243 6.40484 9.61134C6.77062 9.97723 7.15951 10.317 7.57151 10.6307C7.98351 10.9443 8.4284 11.2362 8.90618 11.5063L10.4022 9.99734C10.5065 9.88878 10.6328 9.81267 10.7812 9.769C10.9294 9.72545 11.0835 9.71478 11.2433 9.737L13.0945 10.114C13.2628 10.1584 13.4002 10.2443 13.5067 10.3717C13.6131 10.499 13.6663 10.6434 13.6663 10.805V12.9665C13.6663 13.1665 13.5986 13.3332 13.4632 13.4665C13.3276 13.5998 13.1598 13.6665 12.9598 13.6665ZM4.04834 6.21784L5.23817 5.07934C5.25951 5.06223 5.2734 5.03873 5.27984 5.00884C5.28629 4.97895 5.28523 4.95117 5.27667 4.9255L4.98684 3.43567C4.97829 3.40156 4.96334 3.37595 4.94201 3.35884C4.92067 3.34173 4.8929 3.33317 4.85867 3.33317H3.43301C3.40734 3.33317 3.38595 3.34173 3.36884 3.35884C3.35184 3.37595 3.34334 3.39734 3.34334 3.423C3.37745 3.87856 3.45201 4.34134 3.56701 4.81134C3.6819 5.28145 3.84234 5.75028 4.04834 6.21784ZM9.84834 11.9793C10.2902 12.1853 10.7511 12.3428 11.231 12.4518C11.711 12.5607 12.1595 12.6254 12.5765 12.646C12.6022 12.646 12.6236 12.6374 12.6407 12.6203C12.6578 12.6032 12.6663 12.5818 12.6663 12.5562V11.1537C12.6663 11.1194 12.6578 11.0917 12.6407 11.0703C12.6236 11.049 12.598 11.0341 12.5638 11.0255L11.1638 10.7408C11.1382 10.7323 11.1157 10.7312 11.0965 10.7377C11.0773 10.7441 11.057 10.758 11.0355 10.7793L9.84834 11.9793Z" fill="%23515151"/></svg>');
        border-radius: 50%;
      }

      .contact-email .email-icon {
        background-image: url('../../icons/email-icon_closed.svg');
        border-radius: 50%;
      }

      .contact-timing .timing-icon {
        background-image: url('../../icons/timing-icon_closed.svg');
        border-radius: 50%;
      }
    }

    .bottom-action-container {
      padding: 0.75rem 1.5rem 0;
      position: absolute;
      bottom: 0;

      .wrapper {
        border-bottom: 1px solid var(--tertiary-medium-grey);
        width: 100%;
      }

      .wrapper .toggle-arrow {
        transform: rotate(0);
        display: block;
        cursor: pointer;
        z-index: 100;
        margin-bottom: 0.75rem;

        @media(width >=768px) {
          margin-bottom: 1rem;
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }

    @media (width >=768px) and (width < 1200px) {
      max-height: 13rem;
      min-height: 13rem;
    }
  }

  .dealer-card.map-view-card.card-0:not(.closed) {
    margin-top: 1.5rem;

    @media(width >=768px) {
      margin-top: 0;
    }
  }
}

@media (width >=768px) {
  .dealer-locator-container .dealers-container.mapView .dealer-cards.map-view-cards .dealer-card.map-view-card .dealer-location .dealer-addres {
    height: auto;
    max-width: 14rem;
    max-height: 2.625rem;
  }
  .dealer-locator-container .filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--tertiary-white, #FFF);
    gap: 0;
  }

  .dealer-locator-container .filter-container .filter-group {
    gap: 4px;
    width: 100%;
    padding-bottom: 0;
    border-bottom: none;
    padding-left: 16px;
    border-left: 1px solid #B2B2B2;
    margin-right: 0;
  }

  .dealer-locator-container .filter-container #locator-icon {
    right: 8px;
  }

  .dealer-locator-container .filter-container .filter-group:first-child {
    border-left: none;
    padding-left: 0;
  }

  .dealer-locator-container .filter-container .filter-group:nth-last-child() {
    .select-items {
      left: 0;
    }
  }

  .dealer-locator-container .filter-container .filter-group label {
    margin-bottom: 0;
    font-size: 0.625rem;
    line-height: 0.6875rem;
  }
}

@media(width >=768px) {
  .grid-container {
    display: none !important;
  }

  @media(width >=1200px) {
    .dealer-locator-container .filter-container .filter-group label {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .continue-box .continue-txt {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .continue-box {
    position: absolute;
    bottom: -40px;
    left: -1px;
    right: -1px;
    z-index: 100;
    border-left: 1px solid var(--light-grey-shade-5);
    border-right: 1px solid var(--light-grey-shade-5);
    padding-left: 32px;
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .continue-box .continue-txt,
  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .continue-box .continue-btn {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.dealers-container.dealers-container-initial {
  min-height: 56.25rem;

  @media(width >=768px) {
    min-height: 30rem;
  }
}

@media(width < 768px) {
  .dealer-locator-container .filter-container .filter-group.showcasing-block,
  .dealer-locator-container .filter-container .filter-group.radius-block {
    padding-bottom: 0;
  }

  .dealer-locator-container .dealers-container {
    padding-top: 16px;
  }

  .dealer-locator-container .dealers-container .dealer-cards {
    padding-right: 0;
  }

  .dealers-container .dealer-cards .dealer-card .dealer-card-content .dealer-title .dealer-title-text {
    height: auto;
    padding: 0;
    align-content: center;
    min-height: 54px;
  }

  .dealer-locator-container .dealers-container.mapView .map-view-card .dealer-card-content .separator {
    display: none;
  }

  .dealers-container .dealer-cards .dealer-card .dealer-card-content .dealer-title .bookmark-icon {
    height: 24px;
    width: 24px;
  }

  .dealers-container.mapView .dealer-cards.map-view-cards .dealer-card-content .dealer-distance {
    margin-bottom: 20px;
  }
  .dealers-container .dealer-cards .dealer-card .dealer-card-content .separator {
    margin: 11px 0 12px;
  }

  .dealers-container .dealer-cards .dealer-card .dealer-card-content .contact-block {
    margin-top: 24px;
    gap: 8px;
  } 
  .dealer-locator-container .dealers-container.mapView .dealer-cards.map-view-cards .dealer-card.map-view-card .contact-block {
    margin-top: 12px;
  }

  .dealer-locator-container .dealers-container.mapView .dealer-cards.map-view-cards .dealer-card.map-view-card.closed .separator {
    display: none;
  }

  .dealers-container .dealer-cards .dealer-card .dealer-card-content .dealer-distance {
    margin-bottom: 0;
  }

  .dealers-container .dealer-cards .dealer-card .dealer-card-content .dealer-location .dealer-address {
    height: auto;
  }

  .dealers-container .dealer-cards .dealer-card .cta-actions-container .visit-cta a, 
  .dealers-container .dealer-cards .dealer-card .cta-actions-container .test-cta a{
    line-height: .9375rem;
  }

  .dealers-container .dealer-cards .dealer-card .continue-box .continue-txt {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: .875rem;
  }

  .dealers-container .dealer-cards .dealer-card .continue-box {
    padding: 8px 24px;
  }

  .dealer-locator .explore-cta-mob.map-cta {
    padding: 0;
    border: none;
    margin: 0;
  }

  .dealer-locator-container .dealers-container.mapView .dealer-cards.map-view-cards .dealer-card.map-view-card .bottom-action-container {
    bottom: 35px;
  }

  .dealer-locator .map-header {
    margin-top: 0;
  }
}