.faq-list {
  .faq-container {
    padding: 2rem 1.25rem;
    background-color: var(--primary-main);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .faq-list-title {
      font-family: var(--font-secondary-nexa);
      color: var(--tertiary-white);
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.5rem;
      letter-spacing: 0.64px;
      max-width: 20rem;
    }

    .faq-items .faq-items-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .faq-items .faq-items-container .faq-item {
      display: flex;
      flex-direction: column;
      padding: 0.75rem 0.5rem;
      border-bottom: 1px solid var(--Tertiary-Deep-Grey, #767879);
      background: var(--Gradients-Gradient-4---60,
          linear-gradient(238deg,
            rgba(56, 79, 110, 0.6) -11.12%,
            rgba(91, 91, 91, 0.6) 111.5%));

      .faq-item-title {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.75rem;
        cursor: pointer;
        @media (width < 768px) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.75rem;
        }

        > p, > :is(h1, h2, h3, h4) {
          margin: 0;
          font-family: var(--font-primary-nexa);
          color: var(--tertiary-white);
          font-size: 0.75rem;
          line-height: 1rem;
          font-weight: 500;
          @media (width < 768px) {
            flex-grow: 1;
            margin: 0;
          }
        }

        .toggle_icon {
          background-image: url("../../icons/plus.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          height: 1rem;
          width: 1rem;
          flex-shrink: 0;
          @media (width < 768px) {
            height: 1rem;
            width: 1rem;
            background-size: contain;
          }
        }

        .toggle_icon.active {
          background-image: url("../../icons/minus.svg");
        }
      }

      .faq-item-description {
        height: 0;
        overflow: hidden;
        transition: height 1s ease, opacity 0.5s ease;

        p {
          margin: 0;
          color: var(--tertiary-light-grey);
          font-family: var(--font-primary-nexa);
          font-size: 0.6875rem;
          line-height: 1.125rem;
          font-weight: 400;
          text-align: justify;
          padding-top: 1rem;
        }
      }

      .faq-item-description.active {
        opacity: 1;
        height: auto;
      }
    }
  }

  .faq-toggle-button {
    height: 42px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--Tertiary-Deep-Grey, #767879);
    background: var(--Gradients-Gradient-3---40, linear-gradient(212deg, rgba(157, 207, 218, 0.40) -61.57%, rgba(22, 29, 31, 0.40) 100.57%));
    border-radius: 0px;
    text-align: left;
    font-family: "Fira Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding-top: 12px;
    padding-left: 8px;
    padding-bottom: 14px;
    margin-top: 8px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  .arrow-icon {
    margin-left: auto;
    transition: transform 0.3s ease;
  }

  @media (width >=768px) {
    .faq-container {
      padding: 6rem 3.5rem;
      flex-direction: row;
      gap: 0;
      justify-content: space-between;

      .faq-list-title {
        max-width: 14rem;
      }

      .faq-items-button-container {
        flex-basis: 50%;
      }

      .faq-toggle-button {
        height: 55px;
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--Tertiary-Deep-Grey, #767879);
        background: var(--Gradients-Gradient-3---40, linear-gradient(212deg, rgba(157, 207, 218, 0.40) -61.57%, rgba(22, 29, 31, 0.40) 100.57%));
        border-radius: 0px;
        text-align: left;
        font-family: "Fira Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        padding: 16px;
        padding-bottom: 19px;
        margin-top: 8px;
        color: #fff;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
      }

      .arrow-icon {
        margin-left: auto;
        transition: transform 0.3s ease;
      }

      .faq-items .faq-items-container .faq-item {
        padding: 1rem;

        .faq-item-title {
          gap: 1.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          > p, > :is(h1, h2, h3, h4) {
            font-size: 0.625rem;
            line-height: 0.6875rem;
          }

          .toggle_icon {
            height: 0.75rem;
            width: 0.75rem;
          }
        }

        .faq-item-description p {
          font-size: 0.625rem;
          line-height: 0.75rem;
        }
      }
    }
  }

  @media (width >=1200px) {
    .faq-container {
      .faq-list-title {
        font-size: 3.5rem;
        line-height: 3.5rem;
        letter-spacing: 1.12px;
        max-width: 33.313rem;
      }

      .faq-items .faq-items-container .faq-item {
        .faq-item-title {
          > p, > :is(h1, h2, h3, h4) {
            font-size: 0.875rem;
            line-height: 1.25rem;
          }

          .toggle_icon {
            height: 1.25rem;
            width: 1.25rem;
          }
        }

        .faq-item-description p {
          font-size: 0.75rem;
          line-height: 1.125rem;
        }
      }
    }
  }
}
