html,
body {
  height: 100% !important;

}

main {
  display: initial !important;
}

#radius-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.sf-dealer-locator-container,
.sf-dealer-locator-wrapper,
.sf-dealer-locator,
.dealer-locator,
.map-content,
.map-container,
.maplibregl-canvas-container {
  height: 100%;
}

.radius-btn {
  padding: 10px 20px;
  border: 1px solid #c9c9c9;
  background-color: #ffffff;
  color: var(--tertiary-black);
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 15px;
  ;
}

.radius-btn:hover {
  background-color: var(--sf-primary-color);
  color: #ffffff;
  text-decoration: underline;
}

.selecter-radius {
  background-color: var(--sf-primary-color);
  color: var(--tertiary-white);

  &:hover {
    color: var(--tertiary-white);
  }
}

.suggestion-container {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000 !important;
  display: none;
}

.suggestions {
  max-height: 200px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
    height: 5px
  }
  
  &::-webkit-scrollbar-track {
    background: #eee;
    border: thin solid #d3d3d3;
    box-shadow: 0 0 3px 0 #dfdfdf inset;
    border-radius: 10px
  }
  
  &::-webkit-scrollbar-thumb {
    background: #999;
    border: thin solid gray;
    border-radius: 10px
  }
}

.suggestions div {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.suggestions div:hover {
  background-color: #f0f0f0;
}

.suggestions div.active {
  background-color: #e0e0e0;
  font-weight: bold;
}

.suggestion-container.visible {
  display: block;
}

.suggestion-item {
  display: flex;
  padding: 10px 15px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: default;
  padding: 0 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 30px;
  text-align: left;
  border-top: 1px solid #e6e6e6;
  font-size: 11px;
  color: #515151;
  .marker{
    width: 15px;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
    -webkit-background-size: 34px 34px;
    background-size: 34px;
    background-position: -1px -161px;
  }
}

@media (max-width: 768px) {
  .suggestion-container {
    max-width: 100%;
  }
}


.dealer-locator-filter-container {
  padding-top: clamp(24px, 7vh, 54px);
  padding-bottom: clamp(24px, 7vh, 54px);
}

.dealer-locator-container .filter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 24px 16px;
}

.scheduleVisitButton {
  background: var(--tertiary-white)
}

.sheduleTestDriveButton,
.scheduleVisitButton {
  cursor: pointer;
}

.dealer-locator-filter-container .btd-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;

  .btd-cta,
  .bdc-cta {
    color: var(--neutrals-headings);
    text-align: center;
    font-family: var(--font-primary-nexa);
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--fw-400);
    line-height: normal;
    border-bottom: 1px solid #ccc;
    padding: 0 10px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
    cursor: pointer;
  }

  .btd-cta.active,
  .bdc-cta.active {
    color: var(--primary-blue-700);
    font-weight: var(--fw-700);
    border-bottom: 2px solid var(--primary-blue-700);
  }

  @media(width >=768px) {
    column-gap: 24px;
  }
}

.dealer-locator-filter-container .heading-sub-heading {
  margin-top: 24px;
  margin-bottom: 40px;

  h4 {
    color: var(--neutrals-headings);
    font-family: var(--primary-font-arena);
    font-size: .875rem;
    font-style: normal;
    font-weight: var(--fw-700);
    line-height: 1rem;
    margin: 0;
  }

  p {
    color: var(--tertiary-black);
    font-size: .75rem;
    font-style: normal;
    font-weight: var(--fw-400);
    line-height: 1rem;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.dealer-locator-container .filter-container .filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--inactive-content);
  position: relative;

  .error-message-pincode {
    font-family: var(--font-primary-nexa);
    font-size: 0.625rem;
    font-weight: 400;
    color: #c2220a;
    position: absolute;
    top: 105%;
    line-height: 10px;
  }
}

.dealer-locator-container .filter-container .filter-group.pin-code-grp,
.dealer-locator-container .filter-container .filter-group custom-select {
  position: relative;

  @media (width >=768px) {
    z-index: 2;
  }
}

.dealer-locator-container .filter-container .filter-group custom-select::after {
  content: "";
  height: 24px;
  width: 24px;
  position: absolute;
  right: 0;
  bottom: 0px;
  z-index: -1;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M12.0005 12.9462L16.6005 8.34619L17.6543 9.39994L12.0005 15.0537L6.3468 9.39994L7.40055 8.34619L12.0005 12.9462Z" fill="black"/></svg>');

  @media (width >=768px) {
    bottom: 6px;
  }
}

.dealer-locator-container .filter-container .search-button {
  grid-area: 4/2/4/1;
  cursor: pointer;
}

.dealer-locator-container .filter-container .filter-group label {
  color: var(--tertiary-black);
  font-family: var(--body-font-arena);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: var(--fw-700);
  line-height: 1.25rem;
  margin-bottom: 8px;
}

.dealer-locator-container .filter-container .filter-group custom-select,
.dealer-locator-container .filter-container .filter-group input {
  border: none;
  outline: none;
  width: 100%;
  margin: 0;
  appearance: none;
  color: var(--tertiary-black);
  font-family: var(--body-font-arena);
  font-size: 0.875rem;
  font-weight: var(--fw-500);
  line-height: 1.25rem;
  height: 26px;
}

.dealer-locator-container .filter-container .filter-group custom-select .select-hide {
  display: none;
}

.dealer-locator-container .filter-container .filter-group custom-select .select-show {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-height: 380px;
  overflow-y: auto;
  left: 0;
  top: 100%;
  width: 100%;
  background: var(--tertiary-white);
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 12%);
  z-index: 10;
}

.dealer-locator-container .filter-container .filter-group custom-select .select-show::-webkit-scrollbar {
  width: 4px;
}

.dealer-locator-container .filter-container .filter-group custom-select .select-show::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.dealer-locator-container .filter-container .filter-group custom-select .select-show::-webkit-scrollbar-thumb {
  background: var(--primary-blue-700);
}

.dealer-locator-container .filter-container .filter-group custom-select .select-show .explore-less {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.dealer-locator-container .filter-container .filter-group custom-select .select-show .explore-less::after {
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  background-image: url("../../icons/expand_less.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: auto;
  opacity: 0.5;
}

.dealer-locator-container .filter-container .filter-group custom-select .select-show .explore-less:hover {
  cursor: pointer;
}

.dealer-locator-container .filter-container .filter-group .select-items .custom-option {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  gap: 0.5rem;
  width: 100%;
  cursor: pointer;

  .select__option.selected {
    color: var(--primary-blue-700);
    font-weight: 500;
  }
}

.dealer-locator-container .filter-container .filter-group .select-items .custom-option .select__option {
  font-family: var(--body-font-arena);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  color: var(--tertiary-black);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dealer-locator-container .filter-container .filter-group .select-items .custom-option:hover {
  .select__option {
    color: var(--primary-blue-700);
    font-weight: 500;
  }

  .select__icon {
    background-image: url("../../icons/select_icon_active.svg");
  }
}

.dealer-locator .card-header {
  display: none;
  padding-top: 3rem;
  position: relative;

  * {
    color: var(--Neutrals-Headings, #1d1d1d);
    font-family: var(--primary-font-arena);
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--fw-700);
    line-height: normal;
    margin: 0;
  }
}

.dealer-locator .explore-cta-mob {
  display: none;
  width: 100%;
  justify-content: right;

  @media (width >=768px) {
    display: none;
  }
}

.dealer-locator .explore-cta-web {
  display: none;

  @media (width >=768px) {
    display: flex;
  }
}

.dealer-locator .explore-cta-mob,
.dealer-locator .explore-cta-web {
  border: none;
  cursor: pointer;
  background: none;
}

.dealer-locator .explore-cta-mob a,
.dealer-locator .explore-cta-web a {
  font-family: var(--body-font-arena);
  font-size: 14px;
  font-weight: var(--fw-400);
  line-height: 20px;
  color: var(--primary-blue-700);
  display: flex;
  align-items: center;
  text-decoration: underline;
  padding-left: 0;
  padding-right: 0;

  @media (width >=768px) {
    font-size: 0.625rem;
    line-height: 0.6875rem;
  }

  @media (width >=1200px) {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

.dealer-locator .map-header {
  margin-bottom: 2.5rem;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;

  @media (width >=768px) {
    gap: 16px;
  }


  @media (width >=768px) {
    margin-bottom: 3.375rem;
  }

  span h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--neutrals-headings);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 0;

    @media (width >=768px) {
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 38px;
    }

    @media (width >=1200px) {
      font-size: 32px;
      line-height: 36px;
      letter-spacing: 0.64px;
    }
  }

  .cardDealer {
    border: none;
    background: none;
    content: "";
    height: 1rem;
    width: 1rem;
    display: inline-block;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none"><path d="M6.68708 14.4359L0.231445 8.00004L6.68708 1.56421L7.63616 2.51038L2.12943 8.00004L7.63616 13.4897L6.68708 14.4359Z" fill="%23575A5E"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;

    @media (width >=768px) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}


.dealer-locator-container .dealers-container.mapView .mapboxgl-marker {
  height: 24px !important;
  width: 24px !important;
  background-size: 24px !important;
  transition: all 0.2s linear;
}

.dealer-locator-container .dealers-container.mapView .mapboxgl-marker:hover {
  background-image: url(../../icons/map-hover-marker.png) !important;
  height: 64px !important;
  width: 64px !important;
  background-size: 64px !important;
}

.dealer-locator-container .filter-container .filter-group custom-select .select-selected {
  background-image: url("/icons/dealer_expand_arrow.svg");
  background-repeat: no-repeat;
  background-position: right 0 center;
  cursor: pointer;
  position: relative;
  width: 100%;
  font-family: var(--font-primary-nexa), sans-serif;
  font-size: 0.875rem;
  color: var(--primary-main);
  font-weight: 500;
  line-height: 20px;

  @media (width >=768px) {
    font-size: 0.625rem;
    line-height: 0.8125rem;
  }

  @media (width >=1200px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.dealer-locator-container .filter-container .filter-group .filter-icon {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.dealer-locator-container .filter-container #locator-icon {
  right: 0.5rem;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><g opacity="0.5"><mask id="mask0_4041_10255" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect x="0.126953" width="23.873" height="24" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_4041_10255)"><path d="M11.318 22.2501V20.5193C9.24566 20.3052 7.5011 19.4859 6.08431 18.0616C4.66751 16.6373 3.85259 14.8834 3.63956 12.8001H1.91797V11.3001H3.63956C3.85259 9.21676 4.66751 7.46293 6.08431 6.0386C7.5011 4.61426 9.24566 3.79501 11.318 3.58085V1.8501H12.81V3.58085C14.8823 3.79501 16.6269 4.61426 18.0437 6.0386C19.4605 7.46293 20.2754 9.21676 20.4884 11.3001H22.21V12.8001H20.4884C20.2754 14.8834 19.4605 16.6373 18.0437 18.0616C16.6269 19.4859 14.8823 20.3052 12.81 20.5193V22.2501H11.318ZM12.064 19.0501C13.9871 19.0501 15.6284 18.3668 16.9878 17.0001C18.3472 15.6334 19.027 13.9834 19.027 12.0501C19.027 10.1168 18.3472 8.46676 16.9878 7.1001C15.6284 5.73343 13.9871 5.0501 12.064 5.0501C10.1409 5.0501 8.49963 5.73343 7.14019 7.1001C5.78076 8.46676 5.10104 10.1168 5.10104 12.0501C5.10104 13.9834 5.78076 15.6334 7.14019 17.0001C8.49963 18.3668 10.1409 19.0501 12.064 19.0501Z" fill="black"/></g></g></svg>');
  background-size: cover;
}

.dealer-locator-container .error-message-smallRadius {
  display: none;
  background-color: var(--System-Colours-Secondary-blue, #d1e3ff);
  padding: 1rem;
  font-family: var(--font-primary-nexa);
  color: var(--System-Colours-Primary-blue, #19458b);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  margin-top: 1rem;

  @media (width >=768px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 1rem 1.5rem;
    margin-right: 3.5rem;
  }

  @media (width >=1200px) {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .highlight {
    font-weight: 500;
  }
}

.dealer-locator-container .dealers-container {
  padding: 1.5rem 0;

  .dealer-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .dealer-card .book-my-car-cta {
      display: none;
    }

    @media (width >=768px) {
      flex-direction: row;
      transition: transform 0.5s ease-in-out;
    }
  }

  @media (width >=768px) {
    position: relative;
    overflow: hidden;
    padding: 2rem 0 2.5rem;
  }
}

.dealers-container .dealer-cards .dealer-card {
  border-top: 1px solid var(--light-grey-shade-5);
  border-left: 1px solid var(--light-grey-shade-5);
  border-right: 1px solid var(--light-grey-shade-5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .dealer-card-content {
    padding: 1rem;
    position: relative;

    .dealer-title {
      display: flex;
      gap: 1.1875rem;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 12px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 1px;
        background: linear-gradient(90deg,
            rgba(0, 0, 0, 0) 0%,
            #000 50%,
            rgba(0, 0, 0, 0) 100%);
        bottom: 0;
        left: 0;
        right: 0;
      }

      .dealer-title-text {
        color: var(--neutrals-headings);
        font-family: var(--primary-font-arena);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        display: -webkit-box;
        max-width: 100%;
        height: 40px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .header-right {
        width: 50px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        align-items: end;

        .dealer-distance {
          color: var(--neutrals-headings);
          text-align: right;
          font-family: var(--body-font-arena);
          font-size: 0.75rem;
          font-style: normal;
          font-weight: var(--fw-400);
          line-height: 20px;
          white-space: nowrap;
        }
      }

      .bookmark-icon {
        /* background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M4.16699 17.5V2.5H15.8337V17.5L10.0003 15L4.16699 17.5ZM5.83366 14.9583L10.0003 13.1667L14.167 14.9583V4.16667H5.83366V14.9583Z" fill="black"/></svg>');
        background-repeat: no-repeat;
        background-position: center; */
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
      }

      /* .bookmark-icon.active {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M4.16699 17.5V2.5H15.8337V17.5L10.0003 15L4.16699 17.5ZM5.83366 14.9583L10.0003 13.1667L14.167 14.9583V4.16667H5.83366V14.9583Z" fill="black"/></svg>');
      } */
    }

    .dealer-location {
      display: flex;
      gap: 0.75rem;
      padding-top: 12px;
      align-items: baseline;

      .dealer-address {
        color: var(--tertiary-black);
        font-family: var(--body-font-arena);
        font-style: normal;
        font-weight: var(--fw-400);
        line-height: 1.125rem;
        display: block;
        display: -webkit-box;
        max-width: 100%;
        flex-grow: 1;
        height: 36px;
        font-size: 14px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .action-cta {
        display: flex;
        align-items: center;

        a {
          font-family: var(--body-font-arena);
          color: var(--primary-blue-700);
          font-size: 0.75rem;
          font-weight: var(--fw-400);
          line-height: 1.25rem;
          cursor: pointer;
          padding: 0;
          text-decoration: underline;
        }

        .arrow-icon {
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none"><path d="M15.9603 10.8674L9.50689 17.5098L8.69136 16.7064L15.1448 10.064L9.01656 10.1331L9.01265 8.98308L17.0815 8.89211L17.1679 17.0171L16.026 17.0384L15.9603 10.8674Z" fill="%23171C8F"/></svg>');
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
          width: 0.75rem;
          height: 0.75rem;
          transform: scale(0.75);
          margin-left: 0.25rem;
          transition: all 0.2s linear;
        }

        &:hover .arrow-icon {
          transform: scale(1.2);
          transform-origin: bottom left 0;
        }
      }
    }

    .contact-block {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      justify-content: center;

      .contact-phone {
        display: flex;
        align-items: center;
        gap: 4px;

        a {
          font-family: var(--body-font-arena);
          color: var(--tertiary-black);
          font-size: 0.75rem;
          font-weight: var(--fw-400);
          line-height: 1rem;
          cursor: pointer;
        }

        .phone-icon {
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><path d="M11.1051 6.84286C11.0715 5.72402 10.6641 4.77406 9.88291 3.99298C9.10173 3.2118 8.15177 2.80439 7.03304 2.77075V1.89575C7.71359 1.91072 8.35074 2.05019 8.94447 2.31415C9.53831 2.5782 10.057 2.93195 10.5005 3.37538C10.9439 3.81891 11.2976 4.33754 11.5616 4.93127C11.8257 5.52511 11.9652 6.1623 11.9801 6.84286H11.1051ZM8.77181 6.84286C8.73817 6.37541 8.5568 5.97622 8.2277 5.64527C7.89861 5.31443 7.50038 5.13403 7.03304 5.10409V4.22909C7.74276 4.25903 8.34738 4.52469 8.84691 5.02606C9.34654 5.52754 9.61317 6.13313 9.64681 6.84286H8.77181ZM11.3395 11.9583C10.2402 11.9583 9.13581 11.7027 8.02631 11.1915C6.9169 10.6803 5.89665 9.95917 4.96556 9.02817C4.03825 8.09707 3.319 7.0777 2.80781 5.97004C2.29661 4.86249 2.04102 3.75906 2.04102 2.65977C2.04102 2.48477 2.09935 2.33797 2.21602 2.21936C2.33268 2.10084 2.47852 2.04159 2.65352 2.04159H4.55606C4.70335 2.04159 4.83329 2.08966 4.94587 2.18581C5.05845 2.28187 5.13006 2.40058 5.16068 2.54194L5.49508 4.25825C5.51822 4.4175 5.51336 4.55434 5.4805 4.66877C5.44754 4.7832 5.38843 4.87931 5.30316 4.95709L3.95595 6.26856C4.17276 6.66562 4.42048 7.04124 4.69912 7.39542C4.97766 7.7495 5.27924 8.08769 5.60387 8.40998C5.92393 8.73013 6.2642 9.02744 6.6247 9.3019C6.9852 9.57636 7.37448 9.83176 7.79254 10.0681L9.10154 8.74773C9.19283 8.65275 9.30337 8.58615 9.43316 8.54794C9.56286 8.50983 9.69766 8.5005 9.83756 8.51994L11.4573 8.84981C11.6046 8.8887 11.7248 8.96386 11.818 9.07527C11.9111 9.18669 11.9577 9.31308 11.9577 9.45444V11.3458C11.9577 11.5208 11.8984 11.6666 11.7799 11.7833C11.6613 11.8999 11.5145 11.9583 11.3395 11.9583ZM3.54193 5.44067L4.58304 4.44448C4.6017 4.42951 4.61386 4.40895 4.61949 4.38279C4.62513 4.35664 4.62421 4.33233 4.61672 4.30988L4.36312 3.00627C4.35563 2.97643 4.34256 2.95402 4.32389 2.93904C4.30522 2.92407 4.28092 2.91659 4.25097 2.91659H3.00352C2.98106 2.91659 2.96234 2.92407 2.94737 2.93904C2.93249 2.95402 2.92506 2.97273 2.92506 2.99519C2.9549 3.3938 3.02014 3.79873 3.12077 4.20998C3.22129 4.62133 3.36168 5.03156 3.54193 5.44067ZM8.61693 10.482C9.00359 10.6622 9.40686 10.8 9.82677 10.8954C10.2468 10.9907 10.6392 11.0473 11.0041 11.0653C11.0265 11.0653 11.0453 11.0578 11.0602 11.0429C11.0752 11.0279 11.0827 11.0092 11.0827 10.9867V9.75952C11.0827 9.72958 11.0752 9.70527 11.0602 9.68661C11.0453 9.66794 11.0228 9.65486 10.993 9.64738L9.76799 9.39829C9.74554 9.39081 9.7259 9.38988 9.70908 9.39552C9.69226 9.40116 9.67447 9.41331 9.6557 9.43198L8.61693 10.482Z" fill="%23939393"/></svg>');
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
          width: 0.875rem;
          height: 0.875rem;
          background-size: cover;
        }
      }

      .contact-email {
        display: flex;
        align-items: center;
        position: relative;
        gap: 4px;

        a {
          font-family: var(--font-primary-nexa);
          color: var(--secondary-main);
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 1rem;
          cursor: pointer;
        }

        .email-icon {
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><path d="M2.51351 11.375C2.21882 11.375 1.9694 11.2729 1.76523 11.0688C1.56107 10.8646 1.45898 10.6152 1.45898 10.3205V3.67952C1.45898 3.38484 1.56107 3.13542 1.76523 2.93125C1.9694 2.72708 2.21882 2.625 2.51351 2.625H11.4878C11.7825 2.625 12.0319 2.72708 12.2361 2.93125C12.4402 3.13542 12.5423 3.38484 12.5423 3.67952V10.3205C12.5423 10.6152 12.4402 10.8646 12.2361 11.0688C12.0319 11.2729 11.7825 11.375 11.4878 11.375H2.51351ZM7.00065 7.32535L2.33398 4.34131V10.3205C2.33398 10.3729 2.3508 10.4159 2.38444 10.4495C2.41808 10.4832 2.4611 10.5 2.51351 10.5H11.4878C11.5402 10.5 11.5832 10.4832 11.6169 10.4495C11.6505 10.4159 11.6673 10.3729 11.6673 10.3205V4.34131L7.00065 7.32535ZM7.00065 6.41667L11.5776 3.5H2.42367L7.00065 6.41667ZM2.33398 4.34131V3.5V10.3205C2.33398 10.3729 2.3508 10.4159 2.38444 10.4495C2.41808 10.4832 2.4611 10.5 2.51351 10.5H2.33398V4.34131Z" fill="%23939393"/></svg>');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          display: inline-block;
          width: 0.875rem;
          height: 0.875rem;
        }

        .copy-icon {
          margin-left: 0.5rem;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M6.0385 11.6667C5.70172 11.6667 5.41667 11.5501 5.18333 11.3167C4.95 11.0834 4.83333 10.7984 4.83333 10.4616V2.87191C4.83333 2.53514 4.95 2.25008 5.18333 2.01675C5.41667 1.78341 5.70172 1.66675 6.0385 1.66675H11.6282C11.9649 1.66675 12.25 1.78341 12.4833 2.01675C12.7167 2.25008 12.8333 2.53514 12.8333 2.87191V10.4616C12.8333 10.7984 12.7167 11.0834 12.4833 11.3167C12.25 11.5501 11.9649 11.6667 11.6282 11.6667H6.0385ZM6.0385 10.6667H11.6282C11.6795 10.6667 11.7265 10.6454 11.7692 10.6026C11.8119 10.5599 11.8333 10.5129 11.8333 10.4616V2.87191C11.8333 2.82058 11.8119 2.77358 11.7692 2.73091C11.7265 2.68814 11.6795 2.66675 11.6282 2.66675H6.0385C5.98717 2.66675 5.94017 2.68814 5.8975 2.73091C5.85472 2.77358 5.83333 2.82058 5.83333 2.87191V10.4616C5.83333 10.5129 5.85472 10.5599 5.8975 10.6026C5.94017 10.6454 5.98717 10.6667 6.0385 10.6667ZM3.70517 14.0001C3.36839 14.0001 3.08333 13.8834 2.85 13.6501C2.61667 13.4167 2.5 13.1317 2.5 12.7949V4.20525H3.5V12.7949C3.5 12.8462 3.52139 12.8932 3.56417 12.9359C3.60683 12.9787 3.65383 13.0001 3.70517 13.0001H10.2948V14.0001H3.70517Z" fill="%23171C8F"/></svg>');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          display: inline-block;
          width: 0.875rem;
          height: 0.875rem;
          cursor: pointer;

          @media (width >=768px) {
            width: 1rem;
            height: 1rem;
          }
        }

        .success-message-email {
          display: none;
          background: rgba(23, 28, 143, 0.2);
          padding: 0.5rem 0.75rem;
          color: var(--primary-blue-700);
          font-family: var(--body-font-arena);
          font-size: 0.625rem;
          font-weight: var(--fw-300);
          line-height: normal;
          white-space: nowrap;
          text-align: center;
          position: absolute;
          right: 30px;
          bottom: 35px;
        }
      }

      .contact-timing {
        font-family: var(--font-primary-nexa);
        color: var(--secondary-main);
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1rem;
        display: flex;
        align-items: center;
        gap: 4px;

        .dealer-state {
          color: #37b200;
        }

        .timing-icon {
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><path d="M9.02657 9.64067L9.6414 9.02584L7.43815 6.82259V4.08325H6.56315V7.17711L9.02657 9.64067ZM7.00167 12.5416C6.23517 12.5416 5.51471 12.3961 4.84028 12.1053C4.16585 11.8144 3.57921 11.4196 3.08036 10.9209C2.58151 10.4223 2.18655 9.83589 1.89546 9.16175C1.60448 8.48761 1.45898 7.76734 1.45898 7.00094C1.45898 6.23444 1.60443 5.51397 1.89532 4.83954C2.18621 4.16511 2.58098 3.57847 3.07963 3.07963C3.57828 2.58078 4.16468 2.18581 4.83882 1.89473C5.51296 1.60374 6.23323 1.45825 6.99963 1.45825C7.76613 1.45825 8.4866 1.6037 9.16103 1.89459C9.83546 2.18547 10.4221 2.58025 10.9209 3.0789C11.4198 3.57755 11.8148 4.16395 12.1058 4.83809C12.3968 5.51222 12.5423 6.23249 12.5423 6.9989C12.5423 7.7654 12.3969 8.48586 12.106 9.16029C11.8151 9.83472 11.4203 10.4214 10.9217 10.9202C10.423 11.4191 9.83662 11.814 9.16248 12.1051C8.48835 12.3961 7.76807 12.5416 7.00167 12.5416ZM7.00065 11.6666C8.29371 11.6666 9.39475 11.2121 10.3038 10.303C11.2128 9.39402 11.6673 8.29297 11.6673 6.99992C11.6673 5.70686 11.2128 4.60582 10.3038 3.69679C9.39475 2.78777 8.29371 2.33325 7.00065 2.33325C5.7076 2.33325 4.60655 2.78777 3.69753 3.69679C2.7885 4.60582 2.33398 5.70686 2.33398 6.99992C2.33398 8.29297 2.7885 9.39402 3.69753 10.303C4.60655 11.2121 5.7076 11.6666 7.00065 11.6666Z" fill="%23939393"/></svg>');
          background-repeat: no-repeat;
          background-position: center;
          display: inline-block;
          background-size: cover;
          width: 0.875rem;
          height: 0.875rem;
        }
      }
    }
  }

  .cta-actions-container {
    padding: 8px 16px 16px;
    display: flex;
    gap: 0.75rem;
    position: relative;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      height: 1px;
      background-color: var(--light-grey-shade-5);
      bottom: 0;
      z-index: 0;
    }
  }

  .button {
    flex-grow: 1;
    padding-left: 2px;
    padding-right: 2px;
  }

  .continue-box {
    background: linear-gradient(184deg,
        rgba(23, 29, 155, 0.1) 31.52%,
        rgba(255, 98, 0, 0.1) 111.9%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    border-bottom: 1px solid var(--light-grey-shade-5);

    .continue-txt {
      color: var(--tertiary-black);
      font-family: var(--body-font-arena);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: var(--fw-400);
      line-height: 1rem;
    }

    .continue-btn {
      color: var(--primary-blue-700);
      font-family: var(--body-font-arena);
      font-size: 0.75rem;
      font-style: normal;
      font-weight: var(--fw-400);
      line-height: 1rem;
      text-decoration-line: underline;
      padding: 0;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }


}

.dealers-container .dealer-cards .dealer-card:last-child {
  @media (width >=768px) {
    margin-right: 3.5rem;
  }
}

.dealers-container.mapView .dealer-cards .dealer-card:last-child {
  @media (width >=768px) {
    margin-right: 0;
  }
}

.dealers-container .dealer-cards .dealer-card .dealer-locator-container .carousel-arrow {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  justify-content: right;
  padding-right: 3.5rem;

  .prev-btn {
    content: "";
    height: 2rem;
    width: 2rem;
    background-image: url("../../icons/dealer_carousel_nextArrow.svg");
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;

    @media (width >=1200px) {
      height: 3rem;
      width: 3rem;
    }
  }

  .prev-btn.inactive {
    cursor: none;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }

  .next-btn {
    content: "";
    height: 2rem;
    width: 2rem;
    background-image: url("../../icons/dealer_carousel_nextArrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;

    @media (width >=1200px) {
      height: 3rem;
      width: 3rem;
    }
  }

  .next-btn.inactive {
    cursor: none;
    cursor: not-allowed !important;
    pointer-events: none;
    opacity: 0.5;
  }
}

.dealer-locator-container .dealers-container.mapView {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 48px;

  .dealer-cards {
    order: 2;
  }

  .map-container {
    width: 100%;
    aspect-ratio: 320/330;

    #mmi_alert0,
    #mLogo0,
    #mmi_menu0,
    .maplibregl-control-container {
      display: none;
    }
  }

  @media (width >=768px) {
    flex-direction: row;
    gap: 0.75rem;
    padding-top: clamp(24px, 7vh, 80px);

    .dealer-cards {
      order: unset;
      display: flex;
      flex-direction: column;
      aspect-ratio: unset;
      overflow: auto;
      max-height: 400px;
      min-height: 400px;
      flex-basis: 42%;
      padding-right: 12px;
    }

    .dealer-cards::-webkit-scrollbar {
      width: 4px;
    }

    .dealer-cards::-webkit-scrollbar-track {
      background: #f5f5f5;
    }

    .dealer-cards::-webkit-scrollbar-thumb {
      background: var(--primary-blue-700);
    }

    .map-container {
      aspect-ratio: unset;
      max-height: 24rem;
      flex-basis: 80%;

      .maplibregl-canvas-container {
        min-height: 100%;
      }
    }
  }

  @media (width >=1200px) {
    .dealer-cards {
      max-height: 550px;
      min-height: 550px;
    }

    .map-container {
      max-height: 550px;
      min-height: 550px;
    }
  }
}

.dealer-locator-container .dealers-container.mapView .dealer-cards.map-view-cards {
  gap: 1rem;

  .dealer-card.map-view-card {
    position: relative;
    border: none;

    .dealer-title {
      display: flex;
      align-items: center;
      padding-bottom: 0;

      &::after {
        display: none;
      }

      .dealer-title-text {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        height: 38px;

        @media (width >=768px) and (width < 1200px) {
          min-width: 10rem;
        }
      }
    }

    .dealer-distance {
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 500;
      color: var(--primary-main);
      margin-top: 0.375rem;
    }

    .dealer-location {
      gap: 0.75rem;

      .dealer-address {
        color: var(--primary-main);
      }
    }

    .contact-block {
      margin-top: 0.875rem;
    }

    .cta-actions-container {
      padding: 16px 16px 45px;
    }

    .bottom-action-container {
      position: absolute;
      bottom: 0;
      background-color: #f5f5f5;
      border-bottom: 2px solid #bebebe;
      width: 100%;
      cursor: pointer;
      z-index: 2;

      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .wrapper .toggle-arrow {
        width: 100%;
        height: 1rem;
        padding-top: 1px;
        padding-bottom: 1px;
        transform: rotate(180deg);
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M14.2047 5.56417L7.76884 12L1.33301 5.56417L2.27917 4.618L7.76884 10.1078L13.2585 4.618L14.2047 5.56417Z" fill="black"/></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    @media (width >=768px) {
      .dealer-card-content {
        padding: 1rem;

        .dealer-distance {
          position: relative;
          top: 0;
          right: 0;
          margin-top: 0.75rem;
        }

        .dealer-location {
          margin-top: 1rem;
          gap: 52px;

          .action-cta a {
            font-size: 14px;
            line-height: 20px;
          }
        }

        .contact-block {
          margin-top: 0.875rem;
          gap: 0.875rem;

          a,
          .dealer-state,
          .dealer-time {
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }
  }

  .dealer-card.map-view-card.closed {
    position: relative;
    background-color: var(--tertiary-white);
    max-height: 170px;
    min-height: 170px;
    overflow: hidden;
    transition: all 0.2s linear;

    .contact-block .contact-email,
    .contact-block .contact-timing {
      margin-top: 1.75rem;
      font-size: 12px;
      line-height: 20px;
    }

    .bottom-action-container {
      padding: 0 2px;
      position: absolute;
      bottom: 0;
      background-color: #f5f5f5;
      border-bottom: 2px solid #bebebe;

      .wrapper {
        width: 100%;
      }

      .wrapper .toggle-arrow {
        transform: rotate(0);
        display: block;
        width: 100%;
      }
    }

    @media (width >=768px) {
      max-height: 180px;
      min-height: 180px;
    }
  }
}

@media (width >=768px) {
  .dealer-locator-container .filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--tertiary-white, #fff);
  }

  .dealer-locator-container .filter-container .filter-group {
    gap: 5px;
    width: 100%;
    padding-bottom: 0;
    border-bottom: none;
    padding-left: 16px;
    border-left: 1px solid #b2b2b2;
    margin-right: 8px;
  }

  .dealer-locator-container .filter-container .filter-group:first-child {
    border-left: none;
    padding-left: 0;
  }

  .dealer-locator-container .filter-container .filter-group:nth-last-child() {
    .select-items {
      left: 0;
    }
  }

  .dealer-locator-container .filter-container .filter-group label {
    margin-bottom: 0;
    font-size: 0.625rem;
    line-height: 0.6875rem;
  }

  .dealer-locator-container .filter-container .filter-group .filter-icon {
    top: 75%;
  }
}

@media (width >=768px) {
  .grid-container {
    display: none !important;
  }

  @media (width >=1200px) {
    .dealer-locator-container .filter-container .filter-group label {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    .dealer-locator-container .filter-container .filter-group .filter-icon {
      top: 75%;
      width: 20px;
      height: 20px;
    }
  }
}

/* arena media query */
@media (width >=768px) {
  .filter-container {
    gap: 24px;
  }

  .dealer-locator-filter-container .btd-tabs {

    .btd-cta,
    .bdc-cta {
      font-size: 1.125rem;
      padding: 0 10px 16px;
    }
  }

  .dealer-locator-filter-container .heading-sub-heading {
    margin-top: 30px;
    margin-bottom: 64px;

    h4 {
      font-size: 1.125rem;
      line-height: 1.25rem;
    }

    p {
      font-size: .875rem;
      line-height: 1rem;
      margin-top: 6px;
    }
  }

  .dealer-locator-container .filter-container {
    align-items: end;
  }

  .dealer-locator-container .filter-container .search-button {
    grid-area: auto;
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 20px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M16.627 12.75H4.5V11.25H16.627L10.9308 5.55375L12 4.5L19.5 12L12 19.5L10.9308 18.4462L16.627 12.75Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 8px;
    margin-left: 24px;
  }

  .dealer-locator-container .filter-container .filter-group {
    gap: 32px;
    width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    border-left: none;
    border-bottom: 1px solid #939393;
    margin-right: 0;
  }

  .dealer-locator-container .filter-container .filter-group label {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: var(--fw-700);
    line-height: 20px;
    white-space: nowrap;
  }

  .dealer-locator-container .dealers-container.mapView .dealer-cards.map-view-cards {
    justify-content: flex-start;
  }

  .dealer-locator-container .dealers-container.mapView .dealer-cards.map-view-cards .button {
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 5px;
    white-space: inherit;
  }

  .dealer-locator-container .filter-container .filter-group custom-select,
  .dealer-locator-container .filter-container .filter-group input {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-bottom: 8px;
    padding-top: 8px;
    height: 38px;
  }

  .dealer-locator-container .filter-container .filter-group custom-select .select-selected {
    font-size: 0.875rem;
    line-height: 1.25rem;
    white-space: nowrap;
    padding-right: 20px;
  }

  .dealer-locator .card-header {
    justify-content: space-between;
    align-items: baseline;

    * {
      font-size: 22px;
      line-height: 24px;
      max-width: 540px;
    }

    .explore-cta-web {
      display: flex;
      align-items: baseline;
      align-self: flex-end;

      a {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .dealer-locator-container .dealers-container {
    .dealer-cards {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
    }
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .dealer-card-content {
    padding: 24px;
    flex-grow: 1;
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .dealer-card-content .dealer-title {
    padding-bottom: 24px;
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .dealer-card-content .dealer-title .dealer-title-text {
    height: 42px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .dealer-location {
    padding-top: 20px;
    gap: 60px;

    .action-cta a {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: var(--fw-400);
      line-height: 1.25rem;
      text-decoration: underline;
    }

    .arrow-icon {
      height: 18px !important;
      width: 18px !important;
    }
  }

  .dealers-container.mapView .dealer-cards.map-view-cards .dealer-card.map-view-card .dealer-card-content {
    padding: 16px;

    .dealer-location {
      padding-top: 0;

      .dealer-address {
        font-size: 12px;
        line-height: 18px;
        height: 38px;
      }
    }
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .dealer-location .dealer-address {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    height: 42px;
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .contact-block {
    margin-top: 16px;
    gap: 16px;
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .contact-block .contact-phone {
    .phone-icon {
      height: 20px;
      width: 20px;
    }

    a {
      font-size: 1rem;
      line-height: 20px;
    }
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .contact-block .contact-email {
    .email-icon {
      height: 20px;
      width: 20px;
    }

    a {
      font-size: 1rem;
      line-height: 20px;
    }
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .contact-block .contact-timing {
    .timing-icon {
      height: 20px;
      width: 20px;
    }

    .dealer-state,
    .dealer-time {
      font-size: 1rem;
      line-height: 20px;
    }
  }

  .dealers-container .dealer-cards .dealer-card {
    min-width: 450px;

    .cta-actions-container {
      padding: 0px 24px 24px;
      display: flex;
      gap: 0.75rem;
    }
  }

  .carousel-arrow {
    display: flex;
    gap: 16px;
    justify-content: end;

    .prev-btn,
    .next-btn {
      width: 48px;
      height: 48px;
      cursor: pointer;
      border: 1px solid var(--primary-blue-700);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .carousel-arrow .prev-btn {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M8.26275 12.1549L20.4355 12.1549L20.4355 13.6605L8.26275 13.6605L13.9805 19.3783L12.9072 20.436L5.3789 12.9077L12.9072 5.37938L13.9805 6.43711L8.26275 12.1549Z" fill="%23171C8F"/></svg>');
  }

  .carousel-arrow .next-btn {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M16.7373 12.8451H4.56445V11.3395H16.7373L11.0195 5.6217L12.0928 4.56396L19.6211 12.0923L12.0928 19.6206L11.0195 18.5629L16.7373 12.8451Z" fill="%23171C8F"/></svg>');
  }

  .carousel-arrow .prev-btn.inactive,
  .carousel-arrow .next-btn.inactive {
    cursor: none;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }

  .dealers-container .dealer-cards .dealer-card .button {
    flex-grow: inherit;
    padding-left: inherit;
    padding-right: inherit;
    white-space: nowrap;
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .continue-box .continue-txt {
    font-size: 0.875rem;
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .continue-box {
    position: absolute;
    bottom: -40px;
    left: -1px;
    right: -1px;
    z-index: 100;
    border-left: 1px solid var(--light-grey-shade-5);
    border-right: 1px solid var(--light-grey-shade-5);
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .continue-box .continue-txt,
  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .continue-box .continue-btn {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (width >=1200px) {
  .dealer-locator-filter-container .btd-tabs {

    .btd-cta,
    .bdc-cta {
      font-size: 1.25rem;
      padding: 0 10px 20px;
    }
  }

  .dealer-locator-filter-container .heading-sub-heading {
    margin-top: 30px;
    margin-bottom: 50px;

    h4 {
      font-size: 1.25rem;
      line-height: 1.375rem;
    }

    p {
      font-size: .875rem;
      line-height: 1rem;
      margin-top: 6px;
    }
  }

  .dealer-locator-container .filter-container .filter-group custom-select,
  .dealer-locator-container .filter-container .filter-group input,
  .dealer-locator-container .filter-container .filter-group custom-select .select-selected {
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    height: 34px;
  }

  .dealer-locator .card-header {
    * {
      font-size: 24px;
      line-height: 26px;
    }
  }

  .dealer-locator-container .filter-container {
    align-items: end;
    padding-right: clamp(12px, 5vw, 124px);
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .dealer-card-content .dealer-title .dealer-title-text {
    height: 44px;
    font-size: 20px;
    line-height: 22px;
  }

  .dealers-container .dealer-cards .dealer-card {
    min-width: 500px;
  }
}

@media (width >=1366px) {
  .dealer-locator-filter-container .btd-tabs {

    .btd-cta,
    .bdc-cta {
      font-size: 1.5rem;
      padding: 0 10px 24px;
    }
  }

  .dealer-locator-filter-container .heading-sub-heading {
    margin-top: 40px;
    margin-bottom: 90px;

    h4 {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.25rem;
      margin-top: 8px;
    }
  }

  .dealer-locator-container .filter-container .filter-group label {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .dealer-locator-container .filter-container .filter-group custom-select,
  .dealer-locator-container .filter-container .filter-group input,
  .dealer-locator-container .filter-container .filter-group custom-select .select-selected {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .dealer-locator .card-header {
    * {
      font-size: 32px;
      line-height: 38px;
    }
  }

  .dealer-locator-container .dealers-container .dealer-cards .dealer-card .dealer-card-content .dealer-title .dealer-title-text {
    height: 56px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.75rem;
  }
}

.dealer-locator {
  position: relative;
}

.map-content {
  width: 100%;
  height: 100%;

}

.filter-container {
  position: fixed !important;
  top: 16% !important;
  bottom: auto !important;
  right: 15%;
  width: 50%;
}

.search-container {
  position: absolute;
  width: 25rem;
  height: 70%;
  background: #FFFFFF;
  padding: 1.5625rem;
  left: 3.4375rem;
  top: 13%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

#radius-container {
  font-size: 0;
  background: #FFFFFF;
  padding: 1.25rem;
  text-align: center;
  display: inline-block;
}

#location {
  background: #e6e6e6;
  padding: 0 40px 0 10px;
  font-size: 1rem;
  height: 3.125rem;
  border-radius: 6px;
  width: 100%;
  border: 0;
  outline: none;
}

.location-block {
  position: relative;
}

#locator-icon {
  width: 1.4375rem;
  height: 1.375rem;
  position: absolute;
  right: 0;
  transform: translate(-50%, 15px);
  background-image: url('../../../icons/address.webp');
}

.suggestion-container {
  width: 88%;
  left: 1.5625rem;
}

.dealer-count-title {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 500;
  margin: 1.25rem 0 .625rem 0;
  width: 100%;
}

.dealer-sub-title {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
}

.dealer-checkbox {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 1.25rem;
  padding: .9375rem 1.125rem .9375rem 1.25rem;
  border: 3px solid #eee;
  position: relative;
  border-radius: 0;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  margin-bottom: .75rem;

  input {
    margin-top: .4375rem;
  }
}

.dealer-title {
  color: #000;
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin: 0 0 4px;
  font-weight: 700;

}

.dealer-location {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #000;
  font-weight: 400;
  margin: 0;
}

.blackButton a,
.whiteButton a {
  border: 1px solid var(--sf-primary-color);
  padding: 13px;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
}

.blackButton,
.blackButton a {
  width: 100%;
}

.dealer-cards {
  width: 100%;
  height: calc(100% - 4.375rem);
  overflow: hidden;
}

.dealers-container {
  height: calc(100% - 50px);
}

.dealer-checkbox-wrapper {
  height: calc(100% - 140px);
  overflow: auto;
  padding-right: .625rem;
}

.bottom-cta {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5625rem;
  gap: .9375rem;
}

.dealer-checkbox-wrapper::-webkit-scrollbar {
  width: .375rem;
  height: .3125rem;
}

.dealer-checkbox-wrapper::-webkit-scrollbar-track {
  background: #d3d3d3;
  border: thin solid #d3d3d3;
  box-shadow: 0 0 3px 0 #dfdfdf inset;
  border-radius: .625rem;
}

.dealer-checkbox-wrapper::-webkit-scrollbar-thumb {
  background: grey;
  border: thin solid grey;
  border-radius: .625rem;
}

.dealer-checkbox.selected {
  border: 3px solid #408CF4;
}

[type="radio"].radio-style {
  height: 1.75rem;
  width: 1.75rem;
  accent-color: #007bff;
}

.maplibregl-popup {
  max-width: 21.5625rem !important;
  width: 21.5625rem !important;

}

.maplibregl-popup-content {
  padding: 1.5625rem !important;
  padding-top: 4.6875rem !important;
  box-shadow: 0 2px 7px 1px rgba(0,0,0,.3) !important;
}

.dealership-title {
  font-size: 1.3125rem;
  line-height: 1.375rem;
  font-weight: 500;
  margin: 0 0 5px;
  padding: 0;
  color: #000;
}

.dealership-address {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 1.25rem;
  color: #000;
  line-height: 1.375rem;

}

.mapboxgl-popup-close-button {
  font-size: 2.5rem !important;
  color: #6d6b6b !important;
  font-weight: 300;
  top:6px !important;
  right:6px !important;
}
.maplibregl-ctrl-fullscreen.mapboxgl-ctrl-fullscreen{
background-image: url('../../../icons/full-screen.svg')  !important;
background-size: 14px;
background-position: center;
}
.maplibregl-ctrl-shrink.mapboxgl-ctrl-shrink{
  background-image: url('../../../icons/minmize-screen.svg')  !important;
  background-size: 14px;
  background-position: center;
}
.loan-offer-btn.disabled{
  opacity: 0.65;
  pointer-events: none;
}
@media (max-width:999px) {
  .search-container {
    width: 100%;
    position: relative;
    left: 0;
    top:0;
    box-shadow: none;
    padding: 0 1.25rem;
  }

  .map-content {
    height: 25rem;
  }

  .dealership-title {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  .dealership-address {
    font-size: 0.875rem;
    line-height: 1.25rem;

  }
html,body{
  height: unset;
}
  .filter-container {
    position: relative !important;
    top: unset !important;
    bottom: unset !important;
    right: unset !important;
    width: 100% !important;

    #radius-container {
      display: flex;
      overflow-x: auto;
      justify-content: flex-start;
    }
  }

   .bottom-cta{
    position: fixed;
    bottom: 4.375rem;
    width: 100%;
    z-index: 100;
    left: 0;
    background: #fff;
    box-shadow: 0 -0.0625rem .375rem 0 rgba(0, 0, 0, 0.29);
    padding: .8125rem .9375rem .8125rem;
    display: flex;
    gap: 1.25rem;

  } 
  .whiteButton{
    .back-btn {
      text-indent: -999rem;
      background: #fff url(../../../icons/back-btn.svg) no-repeat center !important;
      padding: 1.1875rem 1.6875rem;
  }
  }
  .blackButton a{
    padding: 1.1875rem 1.6875rem;
  }
  .sf-dealer-locator-container, .sf-dealer-locator-wrapper, .sf-dealer-locator, .dealer-locator{
    height: unset;
  } 
  .dealer-checkbox-wrapper{
    overflow: visible;
  }
}