.section.faq-container {
    padding: 2.187rem 0.937rem;
}

.block.faq {
    margin-top: 1.5rem;
    -webkit-font-smoothing: antialiased;
    display: flex;
}

.faq-container {
    background: var(--secondary-gray-50);
}

.block.faq .faq-content-left {
    flex: 1;
    justify-content: space-between;
    width: 100%;
}

.block.faq .faq-content-right {
    display: none;
}

/* Style the faq-picture div */
.block.faq .faq-picture {
    display: none;
}

/* Style the faq-list div */
.block.faq .faq-list {
    margin-right: 0.625rem;
}

.block.faq .faq-title {
    margin-bottom: 1.125rem;
    text-align: left;
}

.block.faq .faq-title h2 {
    font-size: var(--heading-font-size-m);
    font-family: var(--heading-font-family);
    font-weight: 300;
    line-height: 1.75rem;
    color: var(--primary-blue-500);
}

.block.faq .faq-list details {
    margin-bottom: 1rem;
    border: 0.0625rem solid var(--secondary-gray-400);
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
}

.block.faq .faq-list .faq-item-label {
    font-size: var(--body-font-size-xs);
    color: var(--secondary-gray-600);
    padding: 0.5rem 3rem 0.25rem 1.5rem;
    font-weight: 300;
    position: relative;
    display: block;
    cursor: pointer;
    border-bottom: 0.625rem;
    line-height: 1.4;
    font-family: var(--heading-font-family);
    -webkit-font-smoothing: antialiased;
}

.block.faq .faq-list .faq-item {
    background: var(--tertiary-white);
}

.block.faq summary::after {
    content: "+";
    position: absolute;
    font-style: normal;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 100;
    font-size: var(--heading-font-size-l);
    right: 1.125rem;
}

.block.faq details[open] summary::after {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 0.05rem;
    background: currentcolor;
    vertical-align: middle;
}

.block.faq .faq-list .faq-item-body {
    word-wrap: break-word;
    padding: 0.5rem 1.875rem 0.25rem 1.5rem;
    font-size: 1rem;
    border-top: var(--secondary-gray-400) solid 1px;
    line-height: 1.4;
    color: var(--tertiary-black);
    font-weight: 300;
    font-family: var(--heading-font-family);
    -webkit-font-smoothing: antialiased;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.block.faq .faq-list .faq-item:nth-child(n+5) {
    display: none;
}

.block.faq.faq-expanded .faq-list .faq-item,
.adobe-ue-edit .block.faq .faq-list .faq-item {
    display: block;
}

.block.faq .view-more-faq {
    background-color: var(--primary-blue-350);
    border-color: var(--primary-blue-350);
    text-decoration: none;
    padding: 1em 1rem;
    display: inline-block;
    transition: 0.5s;
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 0.5;
    color: var(--tertiary-white);
    text-transform: uppercase;
    cursor: pointer;
}

.block.faq.faq-expanded .view-more-faq {
    display: none;
}

@media (width >= 768px) {
    .faq-container {
        background: var(--tertiary-white);
    }

    .block.faq .faq-content-left {
        width: 60%;
    }

    .block.faq .faq-content-right {
        width: 40%;
        display: block;
    }

    .block.faq .faq-picture {
        display: block;
        margin-left: 0.8rem;
            margin-top: 3.15rem;
    }

    .block.faq {
        padding: 1rem 1rem 1rem 2.5rem;
        padding-left: 0;
        padding-right: 0;
    }

    .block.faq .faq-title {
        margin-bottom: 2rem;
    }

    .section.faq-container {
        padding: 2.187rem 0;
    }
}

@media (width >= 900px) {
    .section.faq-container {
        max-width: 1200px;
        margin: auto;
    }
}
