.cmp-login--padding-left-right {
    margin: 0 20px;
    @media(width >=768px) {
        margin: 0 56px;
    }
}
.cmp-ebook--gradient-background {
    background: linear-gradient(228.24deg, rgba(23, 29, 155, 0.1) 31.52%, rgba(255, 98, 0, 0.1) 111.9%);
    padding: 16px;
    @media(width>=768px) {
        padding: 40px;
    }
    h4 {
        font-size: 24px;
        line-height: 26.4px;
        font-weight: 700;
        @media(width >=768px) {
            font-size: 32px;
            line-height: 38px;
        }
    }
}

.ebook-journey {
    .button-primary {
        background-color: #171C8F;
        padding: 8px 24px;
        height: 40px;
        border: none;
        line-height: 24px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #fff;
        cursor: pointer;
    }
    .field-container {
        margin-bottom: 30px;
        input {
            border: none;
            color: #939393;
            border-bottom: 1px solid #939393;
            background: transparent;
            width: 100%;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            &:focus {
                outline: none;
            }
            @media(width>=768px) {
                width: 50%;
            }
        }
    }
}