.chooseCarSection {
    .title-wrapper {
        .title {
            h1 {
                font-size: 1.1875rem;
                color: var(--tertiary-black);
                font-weight: bold;
                margin: 0;
            }
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inherit;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        width: 100%;
        box-shadow: none;
        margin-bottom: 0;

        .carImg {
            float: left;
            width: 100%;
            background: var(  --grey-shade-8);
            border: 1px solid var( --grey-shade-9);

            .car-image {
                float: left;
                width: 100%;
                background: var( --grey-shade-8);
                padding: .625rem 0;

                img {
                   margin:auto;
                    max-width: 100%;
                    display: block;
                    max-height: 10.1875rem;
                }
            }

            .logo {
                float: left;
                padding: 1.25rem;

                img {
                    max-width: 100%;
                    display: none;
                }

                span {
                    display: block;
                    font-size: 1.125rem;
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.6);
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 1.875rem;
                    background-image: url(../../../icons/car-arrow-mob.webp);
                    background-repeat: no-repeat;
                    width: 1.8125rem;
                    height: 1.1875rem;
                }
            }
        }

        .blackButton {
            a {
                font-size: 1rem;
                font-weight: 500;
                padding: .625rem 1.25rem;
                text-transform: uppercase;
                line-height: normal;
                width: 100%;
                text-decoration: none;
            }
        }

        .blackButton.selected {
            a {
                color: var(  --tertiary-black);
                background: var(  --tertiary-white);
            }
        }
    }

    .top-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .toggler-section {
            display: flex;
            flex-direction: column;
            gap: .625rem;
            margin: 3.125rem 0;

            .toggler-option {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: .625rem;
            }
        }

        .title-wrapper {
            .pretitle {
                font-size: 1.25rem;
                width: 100%;
                display: inline-block;
                text-transform: none;
                font-weight: bold;
            }
            #choose-your-car{
                font-size: 1.875rem;
                margin: 0;
                margin-top: .3125rem;
            }
        }
    }
}

.blackButton {
    display: inline-block;

    a {
        text-decoration: none;
        padding: .6875rem .75rem .5625rem .75rem;
        display: inline-block;
        font-size: 1rem;
        color: var(--tertiary-white);
        font-weight: 400;
        transition: 0.5s;
        text-transform: uppercase;
        border: 1px solid var(--sf-primary-color);

        &:hover {
            color: var(--tertiary-black);
            background: var(--tertiary-white);
           
        }
    }
}

.car_back {
    a {
        border: solid 1px var(--tertiary-black);
        background-color: var(--tertiary-black);
        text-decoration: none;
        padding: .6875rem .75rem .5625rem .75rem;
        display: inline-block;
        font-size: 1rem;
        color: var(--tertiary-white);
        font-weight: 400;
        transition: 0.5s;
        text-transform: uppercase;

        &:hover {
            color: var(--tertiary-black);
            background: var(--tertiary-white);
        }
    }

    text-align: center;
}

.selectBox {
    position: absolute;
    left: .625rem;
    top: .625rem;
}

@media (min-width: 62.4375rem) {
    .chooseCarSection {
        min-height: 37.5rem;
        .top-wrapper {
            flex-direction: row;

            .toggler-section {
                flex-direction: row;
                gap: 1.25rem;
                align-items: flex-end;
            }

            .title-wrapper {
                margin: 3.125rem 0;

                .title {
                    h1 {
                        margin: 0;
                        text-transform: uppercase;
                        font-size: 1.875rem;
                    }
                }
            }
        }

        li {
            float: left;
            width: 18%;
            text-align: center;
            box-shadow: 0 0 5px #ccc;
            margin-bottom: 1.5625rem;

            .carImg {
                border: 0;

                .car-image {
                    min-height: 10.1875rem;
                    max-height: 10.1875rem;
                    padding: 1.875rem 0 1.5625rem 0;
                }

                .logo {
                    min-height: 4.0625rem;
                    max-height: 4.0625rem;
                    width: 100%;

                    span {
                        display: none;
                    }

                    img {
                        display: block;
                      width: 100%;
                      min-height: 2.5rem;
                      max-height: 2.5rem;
                    }

                    &::after {
                        display: none;
                    }
                }
            }

            .blackButton {
                float: left;
                padding: 1.25rem;
                width: 100%;
            }

            &:nth-child(5n+1) {
                margin-left: 0;
            }
        }

        .title-wrapper {
            .pretitle {
                font-size: 1.25rem;
            }
        }

        li+li {
            margin-left: 1.5625rem;
        }
    }
}

@media (max-width: 62.4375rem) {
    .chooseCarSection {
        li {
            .carImg {
                .car-image {
                    display: flex;
                    min-height: 10.1875rem;
                    max-height: 10.1875rem;
                    img {
                        margin: auto;
                        max-height: 10.1875rem;
                    }
                }

                .logo {
                    margin: 0 0;
                    position: relative;
                    width: 100%;
                    justify-content: left;
                    padding-top: 0;
                   
                }
            }

            .blackButton {
                display: none;
                margin-top: auto;
            }
        }

        .carImg.model_list {
            margin-left: 0;
            margin-bottom: .625rem;
        }
    }
}

@media (min-width:62.4375rem ) and (max-width: 75rem) {
    .chooseCarSection {
        li {
            width: 17%;
        }
    }
}
@media (max-width:999px){
    .chooseCarSection{
        min-height: 87.5rem;
    }
}

.arena-style {

    .chooseCarSection .title-wrapper .title h1,
    .chooseCarSection .title-wrapper .pretitle {
        color: var( --sf-primary-color);
    }

}
.hide{
    visibility: hidden;
}
