.dealer-list-container .grey-bg .dealer-menu {
    display: flex;
    margin: 0 auto; /* Center the container */
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
   
}

.dealer-list-container .grey-bg .dealer-menu > div:nth-child(-n+4) {
    margin-bottom: unset;
}
.grey-bg .dealer-menu > div {
    width: 100%;
    margin-bottom: .625rem !important
}


.dealer-list-container .grey-bg .dealer-menu > div a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    text-decoration: none;
    -webkit-box-shadow: 0 0 .625rem var(  --black-shade-3);
    -moz-box-shadow: 0 0 .625rem var(  --black-shade-3);
    box-shadow: 0 0 .625rem var(  --black-shade-3);
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--tertiary-white);
    min-height: unset;
    height: 100%;
}

.dealer-list-container .grey-bg .dealer-menu > div a .d-grid-item {
    display: flex;
    flex-direction: row;
    text-align: left;
    max-width: 100%;
    align-items: center;
}
.dealer-list-container .dealer-list-wrapper{
    padding-bottom: 4.375rem;
    margin-bottom: 3.125rem;
}

.dealer-list-container .grey-bg .dealer-menu > div a .d-grid-item .d-grid-item-icon {
    width: 3.75rem;
    height: 4.0625rem;
    background: rgba(241, 241, 241, 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: .75rem;
    text-align: center;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: .9375rem;
}

.dealer-list-container .grey-bg .dealer-menu > div a .d-grid-item .d-grid-item-icon img {
    display: block;
    max-width: 100%;
}

.dealer-list-container .grey-bg .dealer-menu > div a .d-grid-item .d-grid-item-title {
    font-size: 1rem;
    margin-top: 0;
    color: var(--tertiary-black);
    font-weight: 500;
    line-height: 1.25rem;
    margin-left: .625rem;
}

.dealer-list-container .grey-bg .dealer-menu > div a:hover {
    background-color: var( --sf-primary-color);
    color: var(--tertiary-white);
}

.dealer-list-container .grey-bg .dealer-menu > div a:hover .d-grid-item .d-grid-item-icon {
    background-color: var(--tertiary-white) !important;
}

.dealer-list-container .grey-bg .dealer-menu > div a:hover .d-grid-item .d-grid-item-title {
    color: var(--tertiary-white);
}

.popUpmain {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var( --black-shade-1); /* Semi-transparent background */
    z-index: 1000; /* Ensure it's above other content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  
  }

  
  
  .popUpmain .modal-content {
    padding: 2.1875rem;
    position: relative;
    max-width: 31.25rem;
    margin: auto;
    
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: var(--tertiary-white);
    background-clip: padding-box;
    border: 1px solid var(  --black-shade-4);
    border-radius: .3rem;
    outline: 0
}

.popUpmain .modal-content .close {
    position: absolute;
    right: .625rem;
    top: .625rem;
    padding-top: 1.0625rem;
    background: url("../../../icons/cross-form.webp") no-repeat;
    height: 1.0625rem;
    width: 1.0625rem;
}
.popUpmain .modal-content .popupContent {
    text-align: center;
    .logo-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:.625rem;
        .icon-img {
            background: url("../../../icons/info-icon.webp") no-repeat;
            width: 2rem;
            height: 2rem;
            background-size: 2rem;
          }
    }
}
.popUpmain .modal-content .popupContent.blue h2 {
    color: var(  --blue-shade-2);
    font-size: 1.875rem;
    margin: 0;
}
.popUpmain .modal-content .popupContent h2 img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -0.1875rem;
    height: 2rem;
}
.popUpmain .modal-content .popupContent p {
    font-size: 1.0625rem;
    word-break: break-word;
    margin: 1.5625rem auto 2.1875rem auto;
    font-weight: 400;
}
.blackButton {
    display: inline-block;
}
.popUpmain .modal-content .popupContent.blue .blackButton button {
    text-decoration: none;
    padding: .6875rem .75rem .5625rem .75rem;
    display: inline-block;
    font-size: 0.9375rem;
    color:var(--tertiary-white);
    font-weight: 400;
    transition: 0.5s;
    text-transform: uppercase;
    background:#0066ff !important;
    border: #0066ff solid 1px !important;
    min-width: unset;
    &:hover{
        background-color: var(--tertiary-white) !important;
        color:var(--tertiary-black) !important;
        border-color: var(--tertiary-black) !important;
    }
}
.popUpmain .modal-content .popupContent.blue .blackButton button:hover {
    background: var(--tertiary-white);
    border: var(--tertiary-black) solid 1px;
    color: var(--tertiary-black);
}
  /* Animation for the popup */
  .popup.fade-in {
    animation: fadeIn 0.3s ease-in-out forwards;
  }
  .modal-miscellaneous__grey-bg .dealer-menu li .d-grid-item-title {
    font-weight: 400 !important;
    font-size: .9375rem !important;
}
 .modal-miscellaneous__grey-bg .dealer-menu li>a {
    padding-left: 0;
    padding-right: 0;
    min-height: 11.625rem;
    padding-bottom: .625rem;
}

 @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }



.modal-miscellaneous-title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--tertiary-black);
    text-align: center;
    display: block;
    margin-bottom: 2rem;
}
.modal-miscellaneous__body .grey-bg {
    background-color: transparent;
    margin: 0 !important;
    padding: 0 !important;
}
.modal-miscellaneous__body .dealer-menu li {
   flex-basis: 50%;
}
.modal-miscellaneous__body .grey-bg .dealer-menu li {
    flex-basis: 50%;
  }
  .modal-miscellaneous__body .grey-bg .dealer-menu li a{
    padding: 1.625rem 1.25rem 2.125rem 1.25rem;
  }
  #miscellaneous-tile-popup .modal-content{
    padding:.625rem;
  }
  #miscellaneous-tile-popup.dealer-list-container .grey-bg .dealer-menu > div{
    width: 100%;
    margin-bottom: .625rem !important
  }
/* Responsive adjustments for widths >= 999px */
@media (min-width: 62.4375rem) {
    .dealer-list-container .grey-bg {
        padding: 0;
       
    }

    .dealer-list-container .grey-bg .dealer-menu > div {
        flex-basis: 25%;
        max-width: 25%;
        padding: 0 .75rem; /* Adjust padding to fit within the container */
    }

    .dealer-list-container .grey-bg .dealer-menu > div:nth-child(-n+4) {
        margin-bottom: 1.5rem !important; /* Reduced spacing between rows */
    }

    .dealer-list-container .grey-bg .dealer-menu > div a {
        flex-direction: column;
        align-items: center;
        padding: 1.625rem 2.5rem 2.125rem 2.5rem;
        height: 12.875rem; /* Maintain height */
    }

    .dealer-list-container .grey-bg .dealer-menu > div a .d-grid-item {
        align-items: center;
        flex-direction: column;
        max-width: 8.125rem;
        text-align: center;
    }

    .dealer-list-container .grey-bg .dealer-menu > div a .d-grid-item .d-grid-item-icon {
        height: 5.375rem;
        width: 5.375rem;
        padding: 0;
    }

    .dealer-list-container .grey-bg .dealer-menu > div a .d-grid-item .d-grid-item-title {
        margin-left: 0;
        margin-top: .625rem; /* Adjusted margin-top */
    }
    #miscellaneous-tile-popup.dealer-list-container .grey-bg .dealer-menu > div{
        flex-basis: 50%;
        max-width: 50%;
        a {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 1.5rem;
            height: 11.625rem;

            .d-grid-item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                .d-grid-item-title {
                    font-weight: 400;
                    font-size: .9375rem;
                }
            }
        }
      }
}



.arena-style {
    .grey-bg .dealer-menu > div a:hover {
        background-color: var( --sf-primary-color );
        color: var(--tertiary-white);
    }
}