.logo__picture {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (width >=768px) {
    justify-content: start;
  }
  
  picture{
    display:flex;
    align-items:center;
  }

  img{
    height: 18px;
    /* width: 4.75rem;
    @media (width >=768px) {
      height: 1.5rem;
      width: auto;
    }
  
    @media(width >=1200px){
      height: auto;
      width: auto;
    } */
  }

}
.top-logo .logo-wrapper{
  @media (width < 768px) {
    .logo__picture {
      img {
          height: 15px;
      }
  }
  }
}
@media (width < 768px) {
.logo__picture {
  img {
      height: 14px;
  }
}
}