.safety-hotspot-wrapper {
    background-color: var(--tertiary-white);
  }

  .safety-hotspot {
    p {
      margin: unset;
      font-family: unset;
      font-size: unset;
      line-height: unset;
    }
  
    h2{
      margin:unset;
      font-family:unset;
      font-size:unset;
      line-height:unset;
    }
  
    background-color:  var(--tertiary-black);
    padding-bottom: 36px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), 74% calc(100% - 25px), calc(74% - 15px) 100%, 0 100%);
  
    @media (width >= 768px) {
      padding-bottom: 90px;
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 74% calc(100% - 30px), calc(74% - 25px) 100%, 0 100%);
    }
  }

  .safetyComponentItem {
    display: flex;
    flex-direction: column;
    padding: 32px 20px 129px;
  
    @media (width >= 768px) {
      display: flex;
      flex-direction: row;
      padding: 130px 65px 96px;
      gap: 5%;
    }
    @media (width > 1024px) {
      padding: 200px 65px 96px;
      gap: 10%;
    }
  }

  .safetyComponentItem .text-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #fff;
    width: 45%;
  
    @media (width >= 768px) {
      gap: 6%;
    } 
    @media (width > 1024px) {
      gap: 15%;
    } 
    @media (width < 768px) {
      padding-left: 20px;
      width: 100%;
    }

    .title h1, h2, h3, h4, h5, h6 {
      font-family: "Kepler Std", sans-serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0.64px;

      @media (width >= 768px) {
        font-size: 3.5rem;
        line-height: 3.5rem;
        letter-spacing: 1.28px;
        width: 397px;
      }      
    }

    .title #nexa-safety-shield {
      @media (width >= 768px) {
        width: 629px;
      }
    }
  
    .description p {
      font-family: "Fira Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      width: calc(100% - 85px);
  
      @media (width >= 768px) {
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        width: 303px;
      }

      @media (width < 768px) {
        color: var(--tertiary-Light-grey);
      }
    }
  }

  .safetyComponentItem .hotspots-wrapper {
    position: relative;
    width: 55%;
  
    @media (width >= 768px) {
      padding-top: 0;
    }
    @media (width < 768px) {
      max-width: fit-content;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    .next-btn {
      background: url(../../icons/white_arrow_next.svg) center no-repeat;
      right: -1rem;
      top: 3.25rem;
      width: .75rem;
      height: .75rem;
      position: absolute;
      z-index: 100;
      @media(width >= 768px){
        display: none;
      }
    }
    .prev-btn {
      background: url(../../icons/white_arrow_prev.svg) center no-repeat;
      left: -0.625rem;
      top: 3.25rem;
      width: .75rem;
      height: .75rem;
      position: absolute;
      z-index: 100;
      @media(width >= 768px){
        display: none;
      }
    }
  }

  .safetyComponentItem .hotspots-wrapper .hotspots {
    position: relative;
    margin-top: 108px;
  
    @media (width >= 768px) {
      margin-top: 30px;
    }

    @media (width > 1024px) {
      margin-right: 50px;
    }
  }

  .safety-hotspot .switch-list-section {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 1.75rem;
    display: flex;
    justify-content: start;
    overflow: hidden;
    @media (width >= 768px){
      display: none;
    }
  
    .switch-list {
      list-style-type: none;
      display: flex;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      border-bottom: 1px solid #B2B2B2;
      gap: 16px;
      transition: transform 0.5s ease-in-out;
  
      @media (width >= 768px) {
        gap: 24px;
        justify-content: center;
        margin-top: 36px;
        border-bottom: none;
      }
    }
  
    @media (width >= 768px) {
      position: relative;
    }
  }
  
  .safetyComponentItem .hotspots-wrapper .hotspots .hotspot-img {
    object-fit: contain;
    width: 100%;
    height: auto;
    aspect-ratio: 319/180;
    margin-top: 25px;
  
    @media (width >= 768px) {
      object-fit: contain;
      width: 100%;
      height: auto;
      aspect-ratio: 709/402;
      margin-top:50px;
    }
  }

  .safety-hotspot .switch-list-section .switch-list .switch-list-item {
    cursor: pointer;
    color: #b2b2b2;
    text-decoration: none;
    font-family: "Fira Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
  
    @media (width >= 768px) {
      font-size: 16px;
      line-height: 20px;
      width: 210px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 14px;
      display: flex;
      justify-content: center;
      align-items: end;
      overflow-wrap: break-word;
      white-space: pre-wrap;
  
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #b2b2b2;
      }
  
      &.active {  
        &::after {
          border-bottom: 2px solid #fff;
        }
      }
    }
  
    &.active {
      color: #fff;
      font-weight: 500;
      border-bottom: 2px solid var(--primary-color);
    }
  }
  

  .safetyComponentItem .hotspots-wrapper .hotspots .circle {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("../../icons/circle_hotspot.svg");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  
    @media (width >= 820px) {
      height: 25px;
      width: 25px;
    }
  }

  .safetyComponentItem .hotspots-wrapper .hotspots .moved {
    background-image: url("../../icons/small-circle_hotspot.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
  }

  .safetyComponentItem .hotspots-wrapper .hotspots .line.vertical-line {
    position: absolute;
    width: 1.5px;
    background-color: #F2F2F2;
  }

  .safetyComponentItem .hotspots-wrapper .hotspots .line.horizontal-line {
    position: absolute;
    height: 1.5px;
    background-color: #F2F2F2;
  }

  .safetyComponentItem .hotspots-wrapper .hotspots .circle .text-container {
    display: none;
    position: absolute;
    color: #f2f2f2;
    font-family: "Fira Sans", sans-serif;
    width: 219px;
    margin-bottom: 24px;
    margin-left: 13px;
  
    .hotspot__title {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
  
      @media (width >= 768px) {
        font-size: 16px;
      }
    }
  
    .hotspot__description {
      margin-top: 4px;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Show at least 2 lines */
      -webkit-box-orient: vertical;
  
      @media (width >= 768px) {
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
      }
    }
  
    @media (width >= 768px) {
      width: 193px;
      margin-bottom: 11px;
      margin-left: 20px;
    }
  }
  
