.not-valid {
  &:focus {
    border-color: var(--tertiary-red);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }
}

.valid {
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

.is-valid {
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(61, 156, 48, 0.76);
  }
}

#clear_filter {
  display: none;
  white-space: nowrap;
}

.cd_breadcrumb {
  margin: 0;
  padding: .625rem 0;
  list-style: none;

  li {
    display: inline-block;

    a {
      font-size: .875rem;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--tertiary-black);
      text-decoration: none;
    }

    a.home-icon {
      background: url("../../../icons/home-icon.webp") 0 3px no-repeat;
      padding-left: .9375rem;
      line-height: 150%;
      padding-top: .3125rem;
      padding-bottom: 1.25rem;
    }

    a.back-icon {
      background: url("../../../icons/brd-arrow.webp") 0 3px no-repeat;
      padding-left: .625rem;
      line-height: 150%;
      margin-left: .625rem;
    }

    a.hover {
      text-decoration: none;
    }
  }
}

.dealer-page-title {
  font-size: 1.25rem;
  margin: .625rem 0 1.25rem 0;
  font-weight: 500;
  text-transform: uppercase;
}

.search-form-wrapper {
  background-color: var(--grey-shade-5);
  padding: 0;
  margin: 3.125rem 0;
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 1rem;
}

.cd_form {
  .form-control {
    border: 1px solid var(--light-grey-shade-5);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 2.5rem;
    padding: .5rem;
    background: var(--tertiary-white);
    font-weight: normal;
    color: var(--tertiary-black);
    outline: 0 none;

    &::placeholder {
      color: var(--grey-shade-7);
    }

    &:focus {
      outline: 0 none;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    &:read-only {
      color: var(--grey-shade-6) !important;
    }

    &:disabled {
      color: var(--grey-shade-6) !important;
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: var(--tertiary-white);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control.is-valid {
  border-color: var(--tertiary-green);
  box-shadow: 0 0 0 0.2rem var(--grey-shade-1);

  &:focus {
    border-color: var(--tertiary-green);
    box-shadow: 0 0 0 0.2rem var(--grey-shade-1);
  }
}

.form-control.is-invalid {
  border-color: var(--tertiary-red);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);

  &:focus {
    border-color: var(--tertiary-red);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }
}

.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: var(--tertiary-red);
}

.btn-group {
  display: flex;
  gap: 1.25rem;
}

.btn-dealer {
  font-size: 1rem;
  border: 1px solid var( --sf-primary-color);
  text-transform: uppercase;
  padding: .4375rem .75rem;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 1.5;
  height: auto;
  width: 100%;
  background: var( --sf-primary-color);
  color: var(--tertiary-white);

  &:hover {
    background: var(--tertiary-white);
    border: 1px solid var( --sf-primary-color);
    color: var( --sf-primary-color);
  }
}

.search_table_listings {
  margin-top: 1.25rem;
  background-color: var(--grey-shade-5);
  -webkit-box-shadow: 0 0 7px var(--black-shade-3);
  -moz-box-shadow: 0 0 7px var(--black-shade-3);
  box-shadow: 0 0 7px var(--black-shade-3);
  margin-bottom: 1.25rem;
  width: 100%;
  padding:20px 0;

  .table {
    border: 1px solid #e9e9e9;
    margin-bottom: 1rem;

    td {
      .btn-dealer {
        padding: .3125rem 2.1875rem;
        font-size: 0.875rem;
        margin: 0 .3125rem .3125rem 0;
      }

      .btn-dealer-white {
        padding: .3125rem 1.125rem;
        border: solid 1px var( --sf-primary-color);
        text-decoration: none;
        display: inline-block;
        color: var( --sf-primary-color);
        background: var(--tertiary-white);
        font-weight: 400;
        transition: 0.5s;
        text-transform: uppercase;
        font-size: .875rem;
        margin-right: .3125rem;

        &:hover {
          color: var(--tertiary-white);
          background-color: var( --sf-primary-color);
        }
      }

      .btn-wrapper {
        display: flex;
        flex-direction: column;

      }

      .launch_deal_btn {
        white-space: prewrap;
      }

    }
  }

  .table.table-bordered {
    th {
      border: 1px solid var(--grey-shade-3);
      font-size: 0.875rem;
      line-height: 130%;
    }

    td {
      border: 1px solid var(--grey-shade-3);
      font-size: 0.875rem;
      line-height: 130%;
    }
  }
}

.result-count {
  font-size: 0.875rem;
  color: #6d6d6d;
  font-weight: 500;
  margin: 0;
  margin-top: .625rem;
}
#popup{
  .modal-content{
    padding: 2.1875rem !important;
  }
  .close{
    top:30px !important
  }
}
.popUpmain {
  .popupContent.red {
    h2 {
      color: var(--red-shade-1);
      font-size: 1.875rem;
    }

    p {
      margin: 1.875rem 0;
    }

    .icon-img {
      background: url("../../../icons/error-icon.webp") no-repeat;
      width: 2rem;
      height: 2rem;
      background-size: 2rem;
    }

    .blackButton {
      button {
        text-decoration: none;
        padding: .6875rem .75rem .5625rem .75rem;
        display: inline-block;
        font-size: 0.9375rem;
        color: var(--tertiary-white);
        font-weight: 400;
        transition: 0.5s;
        text-transform: uppercase;
        background: var(--red-shade-1);
        border: var(--red-shade-1) solid 1px;
        min-width: unset;

        &:hover {
          background: var(--tertiary-white);
          border: var(--tertiary-black) solid 1px;
          color: var(--tertiary-black);
        }
      }
    }
  }

  .popupContent.blue {
    .icon-img {
      background: url("../../../icons/info-icon.webp") no-repeat;
      width: 2.625rem;
      height: 2.625rem;
    }

    h2 {
      color: var(--blue-shade-2);
      margin: 0;
    }

    p {
      margin: 1.875rem 0;
    }

    .blackButton {
      button {
        text-decoration: none;
        padding: .6875rem .75rem .5625rem .75rem;
        display: inline-block;
        font-size: 0.9375rem;
        color: var(--tertiary-white);
        font-weight: 400;
        transition: 0.5s;
        text-transform: uppercase;
        background: var(--blue-shade-2);
        border: var(--blue-shade-2) solid 1px;
        min-width: unset;

        &:hover {
          background: var(--tertiary-white);
          border: var(--tertiary-black) solid 1px;
          color: var(--tertiary-black);
        }
      }
    }
  }
}

.logo-wrapper {
  display: flex;
  gap: .625rem;
  justify-content: center;
  align-items: center;
}

.blackButton {
  display: inline-block;
}

.dealer-action {
  margin: .625rem 0;

  .dealer-action-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .radiobtn {
    display: flex;
    gap: 1.25rem;


    label {
      font-size: .875rem;
      font-weight: bold;
      display: inline-block;
      line-height: 150%;
      margin-right: .9375rem;
    }

    .radio-option {
      display: flex;
      align-items: center;
      gap: .3125rem;
    }
  }

  .radio-title {
    font-weight: 300;
    white-space: nowrap;
    font-size: 1rem;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

#myPager {
  li.active {
    a {
      z-index: 1;
      color: var(--tertiary-white);
      background-color: var( --sf-primary-color);
      border-color: var(--tertiary-black);
      padding: .3125rem .75rem;
      margin: 0 .3125rem;

      &:hover {
        background-color: var(--tertiary-white);
        color: var( --sf-primary-color);
      }
    }
  }

  li {
    a {
      color: var( --sf-primary-color);
      background-color: transparent;
      border: 1px solid #e3e3e3;
      padding: .3125rem .75rem;
      margin: 0 .3125rem;
      font-size: 0.875rem;

      &:hover {
        color: var(--tertiary-white);
        text-decoration: none;
        background-color: var(--sf-primary-color);
        border-color: var(--black-shade-4);
      }
    }
  }
}

.dealer-action-wrapper {
  display: flex;
  align-items: flex-start;
}

.btn-group .btn-dealer {
  height: 3.125rem;
}

.datebox-sort {
  overflow: hidden;
  clear: both
}

.datebox-sort .inputField {
  overflow: hidden;
  clear: both
}

.datebox-sort input[type="text"].form-control,
.datebox-sort input[type="email"].form-control,
.datebox-sort input[type="date"].form-control {
  border: 1px solid var(--grey-shade-3) !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  height: 2.5rem !important;
  padding: .75rem !important;
  font-weight: normal !important;
  outline: 0 none !important;

}

.datebox-sort input[type="date"].form-control.is-valid,
.datebox-sort input[type="date"].form-control.is-invalid {
  padding: .375rem .75rem !important;
  padding-right: calc(1.5em + .75rem) !important;
}

.datebox-sort input[type="text"].form-control:read-only,
.datebox-sort input[type="text"].form-control:disabled,
.datebox-sort input[type="email"].form-control:read-only,
.datebox-sort input[type="email"].form-control:disabled {
  color: #757474 !important
}

.datebox-sort .form-control.is-invalid {
  border-color: var(--tertiary-red);
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.datebox-sort .form-control.is-valid,
.was-validated .form-control:valid {
  border-color: var(--tertiary-green);
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.datebox-sort .form-control.is-invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.datebox-sort .dateselector.date {
  position: relative;
  overflow: hidden;
  clear: both
}

.datebox-sort>div {
  margin-bottom: .625rem;

}

.datebox-sort .invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: .75rem;
  color: var(--tertiary-red);
  text-align: left !important;
  display: flex;
  font-weight: 300 !important;

}

#details-popup {
  .modal-content {
    padding: 3.125rem;
  }

  .form-control.is-valid {
    box-shadow: none;
  }

  .form-control.is-valid:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  }

  .blackButton {
    text-decoration: none;
    padding: .6875rem .75rem .5625rem .75rem;
    display: inline-block;
    font-size: 0.9375rem;
    color: var(--tertiary-white);
    font-weight: 400;
    transition: 0.5s;
    text-transform: uppercase;
    background: var(--sf-primary-color);
    border: var(--sf-primary-color) solid 1px;
  }

  .blackButton:hover {
    background: var(--tertiary-white);
    border: var(--sf-primary-color) solid 1px;
    color: var(--sf-primary-color)
  }
}

@media (min-width: 999px) {
  .dealer-page-title {
    font-size: 1.875rem;
    margin: 0 0 1.875rem 0;
  }

  .search-component-wrapper {
    padding-bottom: 2rem;
    margin-bottom: 3.125rem;
  }
  .search-component-wrapper >div{
    padding: 2rem;
      padding-bottom: 0;
      background-color: var(--grey-shade-5);
    
  }
  .search-form-wrapper {
    padding: 0;
  }

  .cd_form {
    .form-control {
      background: #f9f9f9;
      height: 3.125rem;
      padding: .75rem;
    }
  }

  .btn-dealer {
    padding: .75rem;
    width: auto;
  }

  .search_table_listings {
    .table {
      td {
        .btn-dealer-white {
          margin-bottom: .3125rem;
        }
      }
    }
  }

  .dealer-action {
    .dealer-action-wrapper {
      flex-direction: row;
    }
  }

  .dealer-action-wrapper {
    align-items: center;
  }
}

@media (max-width: 999px) {
  .search_table_listings {
    .table {
      tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.25rem;
        border: 1px solid #00000029;
        box-shadow: none;
      }

      thead {
        display: none;
      }

      td {
        &:first-child {
          display: none;
        }

        &:nth-child(3) {
          order: -1;
          font-weight: bold;
          font-size: 1.1875rem !important;
          color: var(--tertiary-black);
        }

        border: 0 !important;
        padding: 0.6rem;
        display: flex;
        justify-content: space-between;
      }

      border: 0;
      box-shadow: none;
    }

    overflow: visible;
    box-shadow: none;
    margin-top: .625rem;
  }

  .result-count {
    display: none;
  }
}

.arena-style {
  .container ul.cd_breadcrumb li a {
    color: var(--sf-primary-color);
  }

  .dealer-page-title {
    color: var(--sf-primary-color);
  }

  .btn-dealer {
    background: var(--sf-primary-color) !important;
    border: 1px solid var(--sf-primary-color) !important;
    color: var(--tertiary-white) !important;
  }

  .btn-dealer:hover {
    background: var(--tertiary-white) !important;
    color: var(--tertiary-black) !important;
    border-radius: 0;
    border: 1px solid var(--sf-primary-color);
  }

  #myPager li.active a {
    color: var(--tertiary-white);
    background-color: var(--sf-primary-color);
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

.table {
  width: 100%;
  color: #212529
}

.table-hover tbody tr:hover td {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

.table td,
.table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: left;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;

}

.table tbody+tbody {
  border-top: 2px solid #dee2e6
}

.table-sm td,
.table-sm th {
  padding: .3rem
}

.table-bordered {
  border: 1px solid #dee2e6
}

.table-responsive {
  overflow-x: auto;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6
}

.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px
}

#validation-popup {
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4375rem;
  }
}
.radio-wrapper {

	/* Style for the radio button container */
	input[type="radio"] {
		display: none;
		/* Hide the default radio button */
	}

	/* Style for the custom radio button */
	input[type="radio"]+label {
		position: relative;
		padding-left: 30px;
		/* Space for custom radio */
		cursor: pointer;
		display: inline-block;
		line-height: 20px;
		font-size: 16px;
	}

	/* Creating the custom radio circle */
	input[type="radio"]+label::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 20px;
		/* Size of the radio circle */
		height: 20px;
		border-radius: 50%;
		border: 2px solid #cccccc;
		/* Border color when not selected */
		background-color: white;
		/* Background color when not selected */

	}

	/* Style for the selected radio button */
	input[type="radio"]:checked+label::before {
		border: 1px solid #408CF4;
		/* Border color when selected */
		width: 20px;
		height: 20px;
		border-width: 2px;
		background-color: #fff;
	}

	/* Style for the inner circle of the selected radio button */
	input[type="radio"]:checked+label::after {
		content: '';
		position: absolute;
		left: 5px;
		top: 5px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #408CF4;
	}

}