.form-input.input-outlined input,
.form-dropdown.dropdown-outlined select{
    border:0;
    border: 1px solid var(--tertiary-black);
    border-radius:0;
    font-size: 1rem;
    color: var(--tertiary-black);
    height: fit-content;
    padding: 1.25rem;
    box-shadow: 0 0 0;
}

.form-input.input-outlined label,
.form-dropdown.dropdown-outlined label {
  display: block;
  font-size: 0.875rem;
  font-family: var(--font-primary-nexa);
  position: relative;
  padding: 0 5px;
  top: .6875rem;
  left: .625rem;
  background: var(--tertiary-white);
  font-weight: 600;
  z-index: 1;
  width: fit-content;
}