a {
  text-decoration: none;
}

p {
  font-weight: 300;
}

a:hover {
  text-decoration: underline;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem;
}
.ml-2, .mx-2 {
  margin-left: 0.5rem !important;
}
.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.flex-column {
  flex-direction: column !important;
}

.d-flex {
  display: flexbox !important;
  display: flex !important;
}

.blackButton {
  display: inline-block;
}

.blackButton button {
  border: solid .0625rem #000000;
  background-color: #000000;
  text-decoration: none;
  padding: .6875rem .75rem .5625rem .75rem;
  display: inline-block;
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 400;
  transition: 0.5s;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-modify-thankyou__content {
  max-width: 34.1875rem !important;
  min-width: 31.25rem;
}

.modal.fade .modal-dialog {
  transform: translate(0, 0);
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.form-group {
  margin-bottom: 1rem;
}

.loginBoxContainer {
  width: 100%;
  float: left;
}

.loginSignUpBox {
  width: 100%;
  background: #fff;
  float: left;
  padding: 3.125rem 1.875rem;
}

.loginLeftBox {
  width: 100%;
  float: left;
  position: relative;
  padding: 0 1.875rem;
}

.loginLeftBox .title {
  width: 100%;
}

.loginLeftBox .title * {
  width: 100%;
  float: left;
  font-size: 1.125rem;
  color: #000000;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.9375rem;
}


.invalid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: var(--tertiary-red)
}

.valid-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: var(--tertiary-green)
}

.loginLeftBox .go-back-text {
  margin-bottom: 1.25rem;
  text-align: center;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.popUpmain {
  overflow-y: scroll;

  .modal-lg {
    max-width: 62.5rem;
  }

  .modal-content {
    padding: 10;
  }

  .close.finalCloseButton {
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    top: 0;
  }
}

.modal-content .closeIcon {
  background: url("../../../icons/cross.webp") no-repeat;
  background-size: 1rem 1rem;
  width: 1rem;
  height: 1rem;
}

.close:not(:disabled, .disabled):focus,
.close:not(:disabled, .disabled):hover {
  opacity: 0.75;
}

.fade {
  transition: opacity 0.15s linear;
}

.employerFormSec {
  padding-bottom: 5rem;
  width: 100%;
}

.employerFormSec h6 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1.25rem;
}

.applicationStatusSec h6 {
  margin: 1.5625rem 0 0;
}

.employerFormBox.employerFormBox1 {
  display: block;
}

.applicationStatusSec .employerFormBox {
  background: #fff;
  padding: 3.125rem 0 0.625rem;
}

.employerFormSec .employerFormBox {
  margin-top: 0;
  width: 100%;
}

.employerFormBox {
  display: none;
}

.applicationStatusSec .applicationStatusWrap {
  display: flex;
  flex-direction: column;
}

.applicationStatusSec .bnklogo {
  width: 100%;
  background: #fff;
  padding: 1.5625rem 0 0 0;
  position: relative;
}

.applicationStatusSec .bnklogo img {
  max-width: 6.25rem;
}

.p_appr_text {
  font-size: 1rem;
  font-weight: normal;
  margin: 0.625rem 0;
}

.v-details {
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  right: 1.5625rem;
  top: 5.9375rem;
  z-index: 1;
}
.user_full_name_modify {
  /* display: none; */
}
.applicationStatusSec .statuSteps {
  display: flex;
  flex-wrap: wrap;
  padding: 1.875rem 0 1.875rem 1.5625rem;
  background: #fff;
  position: relative;
}

.applicationStatusSec .statuSteps li {
  width: 100%;
  display: flex;
  text-align: left;
  align-items: flex-start;
  padding: 0 0.625rem 1.5625rem 0.625rem;
  position: relative;
  list-style: none;
}

.applicationStatusSec .statuSteps li:first-child:before {
  width: 0.125rem;
  left: 1.25rem;
}

.applicationStatusSec .statuSteps li:last-child {
  padding-bottom: 0;
}

.applicationStatusSec .statuSteps li:last-child::before {
  width: 0;
}

.applicationStatusSec .statuSteps li:before {
  background: #cdcdcd;
  width: 0.125rem;
  height: 100%;
  left: 1.25rem;
  top: 0.25rem;
  text-align: left;
  position: absolute;
  content: "";
}

.applicationStatusSec .statuSteps li.grey span {
  border: #b7b7b7 solid 0.125rem;
  background: #b7b7b7 url('../../../icons/red-cross.webp') no-repeat;
  background-size: 0.875rem;
  background-position: center center;
}

.applicationStatusSec .statuSteps li:last-child span {
  border: .125rem solid #cdcdcd;
}

.applicationStatusSec .statuSteps li span {
  width: 1.25rem;
  height: 1.25rem;
  top: 0.125rem;
  border: 0.125rem solid #408cf4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  margin: 0 auto 0.9375rem;
  position: relative;
}

.applicationStatusSec .statuSteps li .content {
  width: calc(100% - 1.375rem);
  padding-left: 0.9375rem;
}

.applicationStatusSec .statuSteps li.disbursh .title {
  color: #a8a8a8;
}

.applicationStatusSec .statuSteps li .title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000000;
  line-height: normal;
}

.applicationStatusSec .dealer-block {
  padding: 0;
}

.applicationStatusSec .dealer-code-text {
  max-width: 14.6875rem;
  font-size: 1rem;
  line-height: 1.1;
  margin-bottom: 0;
  font-weight: 400;
  color: #000;
}

.applicationStatusSec .dealer-code-info {
  width: 1.5625rem;
  height: 1.5625rem;
  border: 0.125rem solid #8b8b8b;
  border-radius: 50%;
  font-size: 1.25rem;
  line-height: 1.1;
  margin-left: 0.4375rem;
  display: grid;
  place-items: center;
  position: relative;
}

.applicationStatusSec .dealer-code-info:hover .dealer-info-tooltip {
  opacity: 1;
  z-index: 1;
  visibility: visible;
  transition: all ease 0.3s;
}

.applicationStatusSec .dealer-info-tooltip {
  right: -300%;
  width: 20rem;
  background-color: #fff;
  border: 0.0625rem solid #8b8b8b;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.14);
  padding: 0.9375rem 0.9375rem;
  position: absolute;
  top: -430%;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
}

.applicationStatusSec .dealer-info-tooltip::before {
  left: 73%;
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.625rem 0.6563rem 0 0.6563rem;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  bottom: -0.625rem;
  z-index: 1;
  margin-left: 0.125rem;
}

.applicationStatusSec .dealer-info-text {
  margin-bottom: 0;
  font-weight: 400;
  color: #000;
  font-size: .9375rem;
  line-height: 1.4;
}

.customRadioBtn {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  font-size: 1.25rem;
  user-select: none;
  line-height: normal;
}

.customRadioBtn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.applicationStatusSec .des-block {
  margin: 1.25rem 0 0 0;
  max-width: 9.375rem;
}

.applicationStatusSec .des-block .form-control {
  border-color: #9f9f9f;
  background-color: #fff;
  height: 2.5rem;
}

.employerFormSec .form-control {
  font-size: 1rem;
  color: #000;
  font-weight: 400;
  border: 0.0625rem solid #d1d1d1;
  background: #f9f9f9;
  height: 3.125rem;
  border-radius: 0;
  padding-left: 0.9375rem;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + .125rem);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: .0625rem solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.customRadioBtn:hover input~.radioMark {
  background-color: #fff;
}

.dealer-block-right .radioMark {
  width: 1.375rem;
  height: 1.375rem;
}

.radioMark {
  width: 1rem;
  height: 1rem;
  top: 0.1875rem;
  left: 0;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  border: #ccc solid 0.125rem;
}

.dealer-block-right .customRadioBtn input:checked~.radioMark {
  border: #408cf4 solid .125rem;
}

.customRadioBtn input:checked~.radioMark {
  border-color: #fff;
}

.customRadioBtn input:checked~.radioMark:after {
  display: block;
}

.dealer-block-right .customRadioBtn .radioMark:after {
  width: 0.875rem;
  height: 0.875rem;
  top: 0.125rem;
  left: 0.125rem;
}

.customRadioBtn .radioMark:after {
  width: 0.625rem;
  height: 0.625rem;
  top: 0.0625rem;
  left: 0.0625rem;
  border-radius: 50%;
  background: #408cf4;
}

.radioMark:after {
  content: " ";
  position: absolute;
  display: none;
}

.loan_expired {
  margin: 1.25rem;
  color: red;
  display: none;
  font-weight: 300;
  line-height: 1.5rem;
  font-size: 1rem;
}

.submit p{
  font-weight: 600;
  margin-bottom: 0.3125rem;
}

.submit .branch_detail {
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  line-height: 1.3;
  margin-bottom: 0px;
  font-style: italic;
}

.show_branch {
  margin-top: .9375rem;
}

.show_branch .title {
  font-weight: 500;
  margin-bottom: 0.3125rem;
}

.show_branch .branch_detail {
  font-size: 0.9375rem;
  font-weight: 500;
  text-align: left;
  line-height: 1.3;
  margin-bottom: 0;
  font-style: italic;
}

.applicationStatusSec .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5rem 0 1.875rem;
  border-bottom: .0625rem solid #d5d5d5;
  padding-bottom: 2.1875rem;
}

.applicationStatusSec .bottom .download {
  color: #408cf4;
  font-size: 1.125rem;
  font-weight: 600;
  position: relative;
  max-width: 13.3125rem;
  width: 100%;
  margin-right: 0.9375rem;
  text-decoration: underline;
  margin-bottom: 0.625rem;
}

.applicationStatusSec .bottom .loan_approve {
  width: 100%;
  align-items: flex-start;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.applicationStatusSec .bottom .linkBtn .whiteButton {
  vertical-align: middle;
  display: inline-block;
}

.applicationStatusSec .bottom .loan_approve .whiteButton {
  margin-bottom: 0.3125rem;
  margin-right: 0.3125rem;
}

.employerFormSec .whiteButton a {
  width: 100%;
  background: transparent;
}

.employerFormSec .btn1 {
  font-weight: 600;
  padding: 0 1rem;
  font-size: 1rem;
  height: 3.125rem;
  line-height: 3.125rem;
}

.whiteButton a {
  border: solid 0.0625rem #000000;
  text-decoration: none;
  padding: 0.6875rem 0.75rem 0.5625rem 0.75rem;
  display: inline-block;
  font-size: 1rem;
  color: #000000;
  background: #ffffff;
  font-weight: 400;
  transition: 0.5s;
  text-transform: uppercase;
}

.whiteButton a:hover {
  color: #ffffff;
  background: #000000;
}

.tooltip-top {
  opacity: 1;
  display: none;
  z-index: 100;
  top: -170%;
  width: 18.75rem;
  left: 50%;
  transform: translateX(-50%);
}

.bs-tooltip-auto[x-placement^="top"],
.bs-tooltip-top {
  padding: 0.4rem 0;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
}

.tooltip-top .arrow {
  left: 50%;
  transform: translateX(-50%);
}

.bs-tooltip-auto[x-placement^="top"] .arrow,
.bs-tooltip-top .arrow {
  bottom: 0;
}

.tooltip .arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
}

.tooltip-inner {
  max-width: 18.75rem;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem;
}

.applicationStatusSec .bottom .linkBtn .bookAmt {
  background: #fff;
  border: 0.0625rem solid #7c7c7c;
}

.nfDiscTxt .feedback {
  margin-bottom: 1.25rem;
  font-weight: 300;
  font-size: 1rem;
}

.nfDiscTxt p {
  margin-bottom: 1.25rem;
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #000000;
}

.nfDiscTxt ul,
.nfDiscTxt ol {
  margin-left: 1.25rem;
  margin-top: 0.9375rem;
  line-height: 150%;
  padding-left: 0;
  font-weight: 300;
  list-style: disc;
  font-size: 1rem;
}

.nfDiscTxt ol {
  list-style: decimal;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent {
  float: left;
  width: 100%;
  padding: 1.5625rem;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent .title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent .title img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.625rem;
  top: -0.1875rem;
  position: relative;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent p {
  width: 100%;
  margin-left: 0;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
  color: #666;
  margin-top: 0.9375rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.deskTable {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  border-right: #000 solid 0.0625rem;
  border-top: #000 solid 0.0625rem;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.mobTable li,
.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.deskTable li {
  width: 100%;
  display: flex;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.mobTable li:first-child div,
.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.deskTable li:first-child div {
  font-weight: 600;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.deskTable li div:nth-child(1) {
  width: 15%;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.deskTable li div:nth-child(2) {
  width: 15%;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.deskTable li div:nth-child(3) {
  width: 12%;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.deskTable li div:nth-child(4) {
  width: 15%;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.deskTable li div:nth-child(5) {
  width: 18%;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.deskTable li div:nth-child(6) {
  width: 12%;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.deskTable li div:nth-child(7) {
  width: 15%;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.mobTable li div:nth-child(1) {
  width: 33%;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.mobTable li div:nth-child(2) {
  width: 33.5%;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.mobTable li div,
.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.deskTable li div {
  padding: 0.625rem;
  text-align: center;
  border-left: #000 solid 0.0625rem;
  border-bottom: #000 solid 0.0625rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent ul.mobTable {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  border-right: #000 solid 0.0625rem;
  border-top: #000 solid 0.0625rem;
}

.infoPopupTableMain .modal-dialog .infoPopupTableContent .nfAcceptRejectBtn {
  margin-top: 1.25rem;
  text-align: center;
}

.userloginpopup .loginmodal {
  width: 90%;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.modal .close {
  text-shadow: none;
  position: absolute;
  right: .625rem;
  line-height: normal;
  top: .625rem;
  outline: 0;
  opacity: 1;
  z-index: 99;
}

.userloginpopup .close {
  color: #000;
  font-size: 2rem;
  position: absolute;
  right: .3125rem;
  font-weight: 400;
  opacity: 1;
  padding: 0;
  line-height: inherit;
  line-height: 1.25rem;
  top: .3125rem;
  outline: none;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.userloginpopup .close span img {
  margin-top: .625rem;
  margin-right: .625rem;
}

.nexa_finance-modal input[type="text"],
.nexa_finance-modal input[type="number"] {
  width: 100%;
  float: left;
  outline: none;
  font-size: 0.875rem;
  color: #000000;
  text-align: left;
  border: 0;
  border-bottom: #8f8f8f solid .0625rem;
  padding: .625rem 0;
  font-weight: 400;
  margin-bottom: .625rem;
}

.nexa_finance-modal .sub-btn {
  display: inline-block;
  background: #000000;
  border: .0625rem solid #000000;
  color: #FFFFFF;
  padding: .5rem .9375rem;
  text-decoration: none;
  vertical-align: top;
  text-transform: uppercase;
  width: auto;
  margin: 0rem;
  cursor: pointer;
  margin-top: .5rem;
  font-size: 0.9375rem;
}

.loginLeftPadding {
  padding: 0;
}

.loginSignUpPadding {
  padding: 1.25rem;
}

.loanOfferViewDetailPopupMain .loanOfferView2-popup {
  padding-left: 0.5rem;
}

.loanOfferViewDetailPopupMain .modal-dialog {
  margin: 1.75rem auto;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .closeIcon {
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  cursor: pointer;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox {
  display: flex;
  flex-wrap: wrap;
  padding: 1.125rem 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: -0.3125rem;
  width: 100%;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox:nth-child(1) {
  padding: 0;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox .nfLoanDetailElement {
  flex-grow: 1;
  margin-bottom: 1.25rem;
  padding-right: 1.875rem;
  box-sizing: border-box;
  display: inline-block;
  width: 100% !important;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox .nfLoanDetailElement .nfLoanDetailtitle {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #777;
  border-bottom: 0.125rem solid #e5e5e5;
  padding-bottom: 0.5rem;
  margin-bottom: 0.875rem;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox .nfLoanDetailElement .nfLoanDetailpointer {
  width: 100%;
  float: left;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox .nfLoanDetailElement .nfLoanDetailpointer ul {
  margin-left: 1.5625rem;
  line-height: 130%;
  margin-top: 0;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox .nfLoanDetailElement .nfLoanDetailpointer ul li {
  width: 100%;
  float: left;
  margin-bottom: 0.625rem;
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 1.4;
  color: #000;
  list-style: disc;
}

.green-tick-icon-booking {
  background-image: url('../../../icons/right.webp');
  background-size: 1rem 1rem;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  background-repeat: no-repeat;

}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent h2 {
  width: 100%;
  padding: 1.5625rem 0 0 0;
  color: #000;
  font-size: 1.25rem;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  left: 0;
  top: 0;
  position: absolute;
}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: 300;
}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedbackSmileySec {
  float: left;
  width: 100%;
  text-align: center;
}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedbackSmileySec ul {
  padding: 0;
  margin: 0;
}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedbackSmileySec ul li {
  width: 2.9375rem;
  height: 2.9375rem;
  display: inline-block;
  margin: 0 .625rem;
}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedbackSmileySec ul li:nth-child(1) {
  background: url('../../../icons/smiley1.webp') left top no-repeat;
}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedbackSmileySec ul li:nth-child(2) {
  background: url('../../../icons/smiley2.webp') left top no-repeat;
}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedbackSmileySec ul li:nth-child(3) {
  background: url('../../../icons/smiley3.webp') left top no-repeat;
}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedbackSmileySec ul li:nth-child(4) {
  background: url('../../../icons/smiley4.webp') left top no-repeat;
}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedbackSmileySec ul li:nth-child(5) {
  background: url('../../../icons/smiley5.webp') left top no-repeat;
}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedbackSmileySec ul li:hover {
  background-position: left -3.1875rem;
  cursor: pointer;
}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedSmileyQues2 {
  float: left;
  width: 100%;
}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedSmileyQues2 span {
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: .9375rem 0px;
}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedSmileyQues2 textarea {
  width: 100%;
  height: 6.25rem;
  resize: none;
  padding: .625rem;
  font-size: 0.875rem;
  border: #000 solid .0625rem;
}

.nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedSmileyButtMain {
  float: left;
  width: 100%;
  margin-top: .9375rem;
  text-align: center;
}

.modify-applicant-details-link {
  font-weight: 300;
  font-size: 1rem;
}

.applicant-name-id {
  font-size: 1rem;
  font-weight: 700;
}

.user-full-name {
  font-size: 1rem;
  font-weight: 400;
}

/* modify applicant details popup css */
.modal-dialog-modify,
.popUpmain .modal-dialog-modify .modal-content {
  max-width: 52rem;
}

.popUpmain .modal-dialog-modify .modal-modify-content {
  border-radius: 0;
}

.modal-modify .modal-body {
  padding: .625rem;
}

.modal-modify-title {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 1.25rem;
}

.row8 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.no-gutters.row8>[class*=col-] {
  padding-left: .5rem;
  padding-right: .5rem;
}

.modal-modify .label {
  font-size: .875rem;
  font-weight: 400;
  color: #000;
  margin-bottom: .625rem;
}

.modal-modify .position-relative {
  background-color: #e6e6e6 !important;
  border-color: #e6e6e6;
  position: relative !important;
}
.modal-modify #user-full-name-filed {
  width: 90%;
  border: none;
}

.modal-modify input:read-only {
  background-color: #e6e6e6 !important;
  border-color: #e6e6e6;
  opacity: 1;
}

.modal-modify .applicant-edit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: .9375rem;
  padding-left: .625rem;
  width: 10%;
  font-weight: 300;
  font-size: 1rem;
}

.modal-modify .form-control {
  height: 3.125rem;
  border-radius: 0;
  border: .0625rem solid #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #000;
  background-image: none;
}

.modal-modify .mt-72 {
  margin-top: .9375rem;
}

.modal-modify .small {
  font-size: .625rem;
  font-weight: 400;
  color: #000;
}

.text-right {
  text-align: right;
}

.modal-modify .is-edit-block {
  margin-top: 1.75rem;
}

.modal-modify .form-check-input {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0;
}

.modal-modify .form-check {
  display: flex;
}

.modal-modify .form-check-label {
  padding-left: .625rem;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  margin-bottom: 0;
}

.modal-modify .modify-button {
  display: flex;
  margin-top: 1.875rem;
}

.modal-modify .is-verified .modal-modify-title {
  margin-bottom: 1.125rem;
  font-size: 1rem;
}

.modal-modify .verified-title {
  font-size: .9375rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-top: .9375rem;
}

.modal-modify .otp-block {
  max-width: 25.9375rem;
  margin-left: auto;
  margin-right: auto;
}

.modal-modify .otp-input {
  position: relative;
}

.modal-modify .otp-input input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 0;
  height: 2.5rem;
  font-size: 1rem;
}

.modal-modify .resend-otp {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 500;
  position: absolute;
  top: .625rem;
  right: .625rem;
}

.modal-modify .otp-timer {
  font-size: .75rem;
  text-transform: uppercase;
  text-align: right;
  color: green;
  font-weight: 400;
  margin-top: .625rem;
}

.modal-modify .modify-button-last {
  margin-top: 1.25rem;
}

.modal-modify.popUpmain .modal-content .popupContent {
  text-align: left;
}

.modify-button-last .whiteButton {
  display: inline-block;
}

.modal-modify .btn-outline-custom,
.modal-modify .modify-btn-submit,
.modal-modify .modify-btn-next {
  padding: .625rem 4.375rem !important;
  box-shadow: none;
  font-size: 1rem !important;
}

.modal-modify-thankyou__title {
  font-size: 2.25rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1.875rem;
}

.modal-modify-thankyou__text {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  text-align: center;
}
/* css for withdraw popup */
.modal-withdraw-body {
  padding: 1.875rem 1.25rem 2.5rem 1.25rem;
}
.modal-withdraw--title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #000000;
  text-align: center;
  padding-bottom: 1.375rem;
  margin-bottom: 0;
}
.modal-withdraw-control {
  position: relative;
  margin-bottom: .625rem;
}
.modal-withdraw-control .form-control {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #000000;
  border: .125rem solid #ededed;
  border-radius: 0;
  height: 3.25rem;
  padding-left: .875rem;
  padding-right: 1.4375rem;
  padding-top: 1.25rem;
  appearance: none;
}
.modal-withdraw-control label {
  font-style: normal;
  font-weight: 400;
  font-size: .625rem;
  line-height: .75rem;
  color: #000000;
  position: absolute;
  top: .5rem;
  left: .875rem;
}
.modal-withdraw textarea {
  border: .125rem solid #ededed;
  border-radius: 0;
  resize: none;
  height: auto;
}
.btn-withdraw-group {
  margin-bottom: 0;
  margin-top: 1.375rem;
  justify-content: flex-end;
}
.modal-withdraw.popUpmain .modal-content .popupContent .btn-withdraw-gray {
  background-color: #999999 !important;
  border-color: #999999;
  pointer-events: none;
}
@media (width >= 768px) {
  .flex-md-row {
    flex-direction: row !important;
  }

  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important;
  }

  .mb-md-4,
  .my-md-4 {
    margin-bottom: 1.5rem !important;
  }

  .employerFormSec {
    padding-bottom: 5rem;
  }

  .employerFormSec .employerFormBox {
    margin-top: 2.5rem;
    padding: 2.5rem;
    background: #f9f9f9;
  }

  .applicationStatusSec .applicationStatusWrap {
    max-width: 55.625rem;
    margin: 0 auto;
  }

  .applicationStatusSec .bnklogo {
    padding: 1.5625rem 0 0 1.5625rem;
  }

  .applicationStatusSec .bnklogo img {
    max-width: 7.8125rem;
  }

  .v-details {
    top: 3.75rem;
  }

  .modal-dialog {
    margin: 1.75rem auto;
  }

  .applicationStatusSec .statuSteps {
    padding: 3.125rem 3.125rem 1.875rem;
    margin-top: 0;
  }

  .applicationStatusSec .statuSteps li {
    width: 25%;
    text-align: center;
    display: block;
  }

  .applicationStatusSec .statuSteps li:first-child:before {
    width: 50%;
    left: 50%;
  }

  .applicationStatusSec .statuSteps li:last-child::before {
    width: 50%;
  }

  .applicationStatusSec .statuSteps li:before {
    width: 100%;
    background: #408cf4;
    height: 0.1875rem;
    top: 1rem;
    text-align: center;
    left: 0;
  }

  .applicationStatusSec .statuSteps li span {
    background: #28a745 url('../../../icons/green-tick.webp') no-repeat;
    background-position: center center;
    width: 2rem;
    height: 2rem;

  }

  .applicationStatusSec .statuSteps li .content {
    width: 100%;
  }

  .applicationStatusSec .dealer-block {
    padding: 0 6.25rem 0 6.25rem;
    margin: 1.25rem 0 0 0;
  }

  .applicationStatusSec .dealer-code-text {
    max-width: inherit;
  }

  .applicationStatusSec .dealer-info-tooltip {
    right: auto;
  }

  .applicationStatusSec .dealer-info-tooltip::before {
    left: 46%;
  }

  .radioMark {
    width: 1.375rem;
    height: 1.375rem;
    top: 0;
  }

  .customRadioBtn .radioMark:after {
    top: 0.125rem;
    left: 0.125rem;
    width: 0.875rem;
    height: 0.875rem;
  }

  .infoPopupTableMain .modal-dialog .infoPopupTableContent p {
    font-size: 1.125rem;
    width: 80%;
    margin-left: 10%;
  }

  .infoPopupTableMain .modal-dialog .infoPopupTableContent ul.deskTable {
    display: block;
  }

  .infoPopupTableMain .modal-dialog .infoPopupTableContent ul.mobTable {
    display: none;
  }

  .userloginpopup .loginmodal {
    width: inherit;
  }

  .loginLeftPadding {
    padding: 0 1.875rem;
  }

  .loginSignUpPadding {
    padding: 3.125rem 1.875rem;
  }

  .loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox:nth-child(1) {
    padding: 1.125rem 1.25rem;
  }

  .nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent p {
    font-size: 1rem;
    margin-top: 1.25rem;
  }

  .nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedSmileyButtMain {
    float: left;
    width: 100%;
    margin-top: 1.25rem;
    text-align: center;
  }

  .nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent {
    padding: 50px;
  }

  .nfFeedbackSmileyPopupMain .nfFeedbackSmileyPopupContent .nfFeedSmileyQues2 span {
    font-size: 1rem;
    margin: 1.25rem 0px;
  }

  .modal-modify-title {
    font-size: 1.125rem;
    margin-bottom: 2.5rem;
  }

  .modal-modify .mt-72 {
    margin-top: 4.5rem;
  }

  .modal-modify .is-edit-block {
    margin-top: 3rem;
  }

  .modal-modify .modify-button {
    display: block;
  }

  .modal-modify .is-verified .modal-modify-title {
    margin-bottom: 1.875rem;
  }

  .modal-modify .verified-title {
    font-size: 1rem;
    margin-top: 2.5rem;
  }

  .modal-modify .modify-button-last {
    margin-top: 3.4375rem;
  }
  .modal-withdraw-body {
    padding: 2.5rem 3.75rem 3.125rem 4.375rem;
  }
}
#amt_error_popup{
.icon-img {
  background: url("../../../icons/error-icon.webp") no-repeat;
  width: 2.8125rem;
  height: 2.8125rem;
}
}

#xpressTitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 5px 0px;
  margin-bottom: 0px;
}

#click_here_popup {
  .modal-content {
    padding: 1.5625rem;
  }

  h2 {
    width: 100%;
    float: left;
    font-size: 1.125rem;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 300;
    color: #000000;
  }

  button {
    min-width: unset;
  }
}

.loan_type_approval {
  color: #408cf4;
  font-weight: bold;
  display: block;
  margin-top: .3125rem;
}

#user_full_name_filed:read-only {
  pointer-events: none;
}

@media (width <=768px) {
  .modal-modify-thankyou__dialog {
    width: 100%;

    h1 {
      margin-bottom: 0;
      line-height: 2rem;
    }
  }
}