.user-profile-container{
  background-color:var(--grey-shade-5);
}
.user-profile-container .user-profile-block{
  background-color:  var(    --grey-shade-5 );
  padding-bottom: 0;
  width: 100%;
}
.user-profile-container .user-profile-block .user-information-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}
.user-profile-container .user-profile-block .user-information-box .user-img {
  width: 20%;
  min-width: 6.25rem;
  text-align: center;
}
.user-profile-container .user-profile-block .user-information-box .user-img img {
  width: 4.8125rem;
  height: 4.8125rem;
  background:var(--grey-shade-8);
  border-radius: 50%;
  margin: 0 auto;
}
.user-profile-container .user-profile-block .user-information-box .user-details {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.user-profile-container .user-profile-block .user-information-box .user-details .user_bx {
  padding-top: .625rem;
}
.user-profile-container .user-profile-block .user-information-box .user-details .user_bx .user_name {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1.5rem;
  margin-top: 0;
}
.user-profile-container .user-profile-block .user-information-box .user-details .user_bx .user_designation {
  font-weight: normal;
  font-size: 0.875rem;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5rem;
}
.user-profile-container .user-profile-block .user-information-box .user-details .user_bx .user_addr {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
.user-profile-container .user-profile-block .user-information-box .user-details .user_logout {
  align-self: inherit;
  margin-top: 0;
    a{
      padding: 7px 10px;
    font-size: 0.875rem;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    }
}
.popUpmain {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it's above other content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.popUpmain .modal-content {
  padding: 2.1875rem;
  position: relative;
  max-width: 31.25rem;
  margin: auto;
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color:  var(  --tertiary-white );
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.popUpmain .modal-content .close {
  position: absolute;
  right: .625rem;
  top: .625rem;
  padding-top: 1.0625rem;
}
.popUpmain .modal-content .popupContent {
  text-align: center;
}
.popUpmain .modal-content .popupContent.blue h2 {
  color:  var(   --blue-shade-2 );
}
.popUpmain .modal-content .popupContent h2 img {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  height: 2rem;
}
.popUpmain .modal-content .popupContent p {
  font-size: 1.0625rem;
  word-break: break-word;
  margin: 1.5625rem auto 2.1875rem auto;
  font-weight: 400;
}
.blackButton {
  display: inline-block;
}
.popUpmain .modal-content .popupContent.blue .blackButton button {
  text-decoration: none;
  padding: .6875rem .75rem .5625rem .75rem;
  display: inline-block;
  font-size: 0.9375rem;
  color:  var(  --tertiary-white );
  font-weight: 400;
  transition: 0.5s;
  text-transform: uppercase;
  background:  var(   --blue-shade-2 );
  border:  var(   --blue-shade-2 ) solid 1px;
}
.popUpmain .modal-content .popupContent.blue .blackButton button:hover {
  background:  var(  --tertiary-white );
  border:  var( --tertiary-black ) solid 1px;
  color:  var( --tertiary-black );
}
/* Animation for the popup */
.popup.fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 62.4375rem) {
  .grey-bg {
    padding: 4.375rem;
  }
  .user-profile-container  .user-profile-block{
    margin: 3.125rem 0;
    padding: 4.375rem 0 0 1.875rem;
  }
  .user-profile-container .user-profile-block .user-information-box {
    margin-bottom: 3.125rem;
    padding: 0;
  }

  .user-profile-container .user-profile-block .user-information-box .user-details {
    flex-direction: row;
  }

  .user-profile-container .user-profile-block .user-information-box .user-details .user_logout {
    align-self: flex-end;
    margin-top: 0;
  }

  .user-profile-container .user-profile-block .user-information-box .user-details .user_logout a:hover {
    text-decoration: none;
  }
}

