.header {
    text-align: left;
    font-size: 1.25rem;
    color: var(--tertiary-black);
    font-weight: bold;
    margin: 3.125rem 0 1.25rem;

    strong {
        font-size: 1.25rem;
        width: 100%;
        display: inline-block;
        text-transform: none;
    }

    h3 {
        width: 100%;
        font-size: 1.1875rem;
        color: var(--tertiary-black);
        font-weight: 600;
        margin-bottom: .9375rem;
    }

    .mob-car-img {
        max-width: 100%;
    }

}

.content {
    display: flex;
    flex-flow: column wrap;

    .car-details,
    .variant-selection {
        flex: 1;
        min-width: 18.75rem;
    }

    .variant-selection {
        h3 {
            width: 100%;
            font-size: 1.1875rem;
            color: var(--tertiary-black);
            font-weight: 600;
            margin-bottom: .9375rem;
        }

        [type="radio"] {
            height: 1.375rem;
            width: 2.125rem;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: .625rem;

            label.active {
                border: var(--blue-shade-4) solid 2px;
                color: var(--tertiary-black);
            }

            label.group-label {
                display: inline-flex;
                align-items: center;
                padding-left: 3.125rem;

                &.active {
                    .cusCheckMark {
                        color: var(--tertiary-black);
                    }
                  
                }
                &:hover{
                    border: var(--blue-shade-4) solid 2px;
                }
                .cusCheckMark {
                    color: var(--dark-grey-shade-4);
                }
            }

            label {
                font-size: 1.25rem;
                line-height: 1;
                width: 100%;
                padding: .9375rem .9375rem .9375rem .75rem;
                border: var(--light-color) solid 2px;
                font-weight: bold;

                input {
                    margin-right: .625rem;
                }
            }
        }
    }

    .car-details {
        .selectColor {
            width: 100%;

            h5 {
                color: var(--tertiary-black);
                font-size: 1.1875rem;
                font-weight: 400;
                white-space: nowrap;
                margin-right: 0;
                margin-bottom: 1.25rem;

                strong {
                    padding-top: .9375rem;
                    display: inline-block;
                    font-weight: 400;
                }
            }

            ul {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                padding-inline-start: 0;

                li {
                    flex: 0 0 calc(100% / 3);
                    max-width: calc(100% / 3);
                    list-style: none;

                    label {
                        width: 7rem;
                        height: 7.8125rem;
                        display: inline-block;
                        margin-bottom: 0;
                        padding: 0;
                        float: none;
                        text-align: center;
                        border: transparent solid 2px;
                        position: relative;
                        cursor: pointer;
                        font-size: 1.375rem;
                        user-select: none;
                        list-style: none;

                        .text {
                            color: var(--dark-grey-shade-4) !important;
                            font-size: .875rem;
                            font-weight: 400;
                            line-height: 1.125rem;
                        }

                        .cusCheckMark {
                            width: 1.3125rem;
                            height: 1.3125rem;
                            right: 1rem;
                            border-radius: 50%;
                            background-color: var(--blue-shade-4);
                            z-index: 1;
                        }

                        .cusCheckMark::after {
                            border: solid white;
                            border-width: 0 2px 2px 0;
                            display: block;
                            transform: rotate(45deg);
                            left: .5rem;
                            top: .25rem;
                            width: .375rem;
                            height: .625rem;
                            content: "";
                            position: absolute;
                        }

                        .color {
                            width: 4.125rem;
                            height: 4.125rem;
                            position: relative;
                            overflow: hidden;
                            border-radius: 50%;
                            margin: auto;
                        }

                        .color-in {
                            width: 3rem;
                            height: 3rem;
                            display: block;
                            border: 2px solid #ddd;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            border-radius: 50%;
                            overflow: hidden;
                        }

                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }

                    }

                    label.active {
                        .color {
                            border: 1px solid var(--dark-grey-shade-4);
                        }

                        .cusCheckMark {
                            display: block;
                            position: absolute;
                            top: 0;
                        }
                    }
                }
            }
        }

        img {
            width: 100%;
            height: auto;
            border-radius: .625rem;
            margin-bottom: 1.25rem;
        }

        .lg-car-img {
            display: none;
        }

        .features {
            background-color: var(--tertiary-white);
            box-shadow: 0 0 1.625rem #00000017;
            padding: .875rem 1.25rem;
            margin-bottom: 1.25rem;

            a.btn {
                display: flex;
                height: 2rem;
                padding: .5rem 1rem;
                justify-content: left;
                align-items: center;
                border: none;
                text-decoration: none;
                cursor: pointer;
            }

            a.btn-more {
                margin-top: 0;
                font-size: .875rem;
                line-height: 1.0625rem;
                font-weight: 500;
                color: var(--blue-shade-4);
                text-transform: uppercase;
            }

            a.p-0 {
                padding: 0;
            }

            h3 {
                font-size: 1rem;
                line-height: 1.1875rem;
                font-weight: 500;
                color: #707070;
                margin-bottom: .5625rem;
            }

            ul {
                list-style: none;
                padding: 0;
                max-height: 42px;
                overflow: hidden;

                li {
                    font-size: .875rem;
                    font-weight: 400;
                    line-height: 1.0625rem;
                    color: #707070;
                    margin-bottom: .5rem;
                    position: relative;
                    padding-left: .625rem;
                }

                li::after {
                    content: "";
                    width: .375rem;
                    height: .375rem;
                    display: block;
                    background-color: rgb(0 0 0 / 42%);
                    border-radius: 50%;
                    position: absolute;
                    top: .375rem;
                    left: 0;
                }
            }
        }

        .price {
            padding: .9375rem 0;
            flex-direction: column;

            h3 {
                color: var(--dark-grey-shade-4);
                font-weight: 600;
                font-size: 1.3125rem;
                margin-bottom: .3125rem;
            }

            .price-block {
                width: 100%;
                margin-top: 0;
                text-align: left;
                font-size: 1.3125rem;

                small {
                    font-size: .75rem;
                    display: inline-block;
                    width: 100%;
                    font-weight: bold;
                }
            }
        }
    }
}

.pageButton {
    margin: 0;
    text-align: left;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--tertiary-white);
    box-shadow: 0 -1px .375rem #00000029;
    padding: .9375rem 1rem;
    z-index: 9999;
    width: 100%;

    .whiteButton {
        text-align: center;
        margin-bottom: .625rem;
        display: inline-block;
        margin-right: .5rem;
    }

    .blackButton {
        display: inline-block;

        a {
            border: solid 1px var(--tertiary-black);
        }
    }

    a {
        font-size: 1rem;
        font-weight: 500;
        padding: 1.1875rem 1.6875rem;
        text-transform: none;
        width: 100%;
        border: solid 1px var(--tertiary-black);
        text-decoration: none;
        transition: .5s;
        color: var(--tertiary-black);
    }

    a.back-btn {
        text-indent: -999rem;
        padding: 1.1875rem 1.6875rem;
        border-color: #ddd;
        background: var(--tertiary-white) url("./images/back-btn.svg") no-repeat center;
    }
}

@media (width >=62.4375rem) {
    .header {
        margin: 3.125rem 0;

        .mob-car-img {
            display: none;
        }
    }

    .content {
        flex-flow: row nowrap;
        gap: 3.125rem;

        .car-details {
            flex: 0 0 48%;

            .selectColor {
                ul {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 0;

                    li {
                        flex: none;
                    }
                }
            }



            .price {
                flex-direction: row;
                padding: 1.5625rem 0;
                padding-top: 0;
                width: 100%;
                display: flex;

                h3 {
                    text-align: left;
                }

                .price-block {
                    text-align: right;
                    width:40%;
                }
            }

            .selectColor h5 {
                margin-bottom: 1.25rem;

                strong {
                    padding-top: 0;
                }
            }

            .features {
                box-shadow: none;
                padding: 0;

                ul {
                    display: grid;
                    grid-template-columns: auto auto;
                    padding-left: 0;
                    list-style: none;
                }
            }

            .lg-car-img {
                display: block;
                margin-bottom: 3.125rem;
            }
        }
    }

    .variant-selection {
        flex: 0 0 48%;
    }

    .car-details {
        .lg-car-img {
            margin: 4.6875rem 0 3.125rem;
        }
    }

    .pageButton {
        text-align: right;
        width: 100%;
        margin: 1.875rem 0 3.125rem;
        box-shadow: none;
        position: unset;
        padding: 0;

        .whiteButton {
            display: inline-block;
            margin-right: .5rem;
        }

        .blackButton a {
            padding: .9375rem 1.5625rem;
        }

        a.back-btn {
            border: solid 1px var(--tertiary-black);
            background: none;
            text-indent: 0%;
            padding: .9375rem 1.5625rem;
        }
    }
}

.customCheckBox .color small {
    width: 1.5625rem;
    height: 100%;
    display: inline-block;
    top: 0;
    left: 52%;
    background: #ff0;
    position: absolute;
}

.arena-style {
    .variant-selection {
        .header {
            .pretitle {
                color: var(--sf-primary-color);
            }

            .title {
                color: var(--sf-primary-color);
            }
        }
    }

    .pageButton {
        .blackButton {
            a {
                background-color: var(--sf-primary-color);
            }
        }
    }
}

#customer-verification-popup {
    .loginBoxContainer {
        width: 100%;
        float: left;
    }

    .loginSignUpBox {
        width: 100%;
        background: var(--tertiary-white);
        float: left;
        padding: 3.125rem 1.875rem;
    }

    .loginLeftBox {
        width: 100%;
        float: left;
        position: relative;
        padding: 0 1.875rem;
    }

    .clearfix::after {
        display: block;
        clear: both;
        content: "";
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .sub-btn {
        display: inline-block;
        background: var(--sf-primary-color);
        border: 1px solid var(--tertiary-black);
        color: var(--tertiary-white);
        padding: .5rem .9375rem;
        text-decoration: none;
        vertical-align: top;
        text-transform: uppercase;
        width: auto;
        margin: 0;
        cursor: pointer;
        margin-top: .5rem;
        font-size: 0.9375rem;
    }

    .ph-message {
        text-align: center;
        margin: 0 0 1.25rem 0;
        font-weight: light;
        font-size: .9375rem;
        color: var(--tertiary-black);
        line-height: 1.5rem;
    }

    .ph-message span {
        font-weight: bold;
    }

    .otp-finance .input-group-otp {
        position: relative;
    }

    .loginLeftBox input {
        width: 100%;
        float: left;
        outline: none;
        font-size: 0.875rem;
        color: var(--tertiary-black);
        text-align: left;
        border: 0;
        border-bottom: #8f8f8f solid 1px;
        padding: .625rem 0;
        font-weight: 400;
        margin-bottom: .625rem;
    }

    .nf-error {
        color: red;
        font-size: 0.9rem;
        padding: .3125rem 0 .625rem;
    }

    input[type="text"],
    input[type="number"] {
        width: 100%;
        float: left;
        outline: none;
        font-size: 0.875rem;
        color: var(--tertiary-black);
        text-align: left;
        border: 0;
        border-bottom: #8f8f8f solid 1px;
        padding: .625rem 0;
        font-weight: 400;
        margin-bottom: .625rem;
    }

    .resend0_dealer_login_ps.disabled {
        opacity: 0.4;
    }

}

.hide {
    visibility: hidden;
}

.group-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-radio {
    left: 17px;
    top: 15px;
    background-color: #fff;
    border: 2px solid #C5C5C5;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
}

.group-label.active .custom-radio {
    background: url('../../../icons/active-radio-button.webp');
    display: block;
    border: #408cf4 solid 1px;

    background-repeat: no-repeat;
    background-size: cover;
}
#which-one-is-yours-{
    font-size: 1.875rem;
    margin-top: .625rem;
}