.nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: none;
  align-items: center;
}

.nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  cursor: pointer;
}

.nav-hamburger-icon,
.nav-hamburger-icon::before,
.nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

.nav-hamburger-icon::before,
.nav-hamburger-icon::after {
  content: "";
  position: absolute;
  background: currentcolor;
}

.nav-hamburger-icon,
.nav-hamburger-icon::before,
.nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

.nav-hamburger-icon::before,
.nav-hamburger-icon::after {
  top: 6px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

.nav-hamburger-icon::after {
  top: -6px;
  bottom: 3px;
}

@media (width >= 767px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tertiary-white);
  padding: 0px 20px;
  height: var(--nav-height);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .links {
  display: flex;
  height: -webkit-fill-available;
  align-items: center;
}
.navbar .links .link-title {
  text-decoration: none;
  color: var(--secondary-gray-800);
  cursor: pointer;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 3px solid transparent;
}

.navbar .links .link-title:hover {
  border-bottom: 3px solid #171c8f;
  color: var(--primary-text);
  font-weight: bold;
}

.navbar .right .location,
.navbar .right .language {
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  color: var(--secondary-gray-800);
}

.navbar .right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar .right > img {
  height: 30px;
  cursor: pointer;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.menu {
  display: none;
  width: 100%;
  max-width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  z-index: 999;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.menu-header .back-arrow,
.menu-header .close-icon {
  cursor: pointer;
  font-size: 24px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list > li {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
}

.menu-list > li > a {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 0px;
  padding-bottom: 0;
}

.menu-list li .icon,
.menu-list .user__account__list-icon {
  margin-right: 10px;
  font-size: 20px;
  color: gray;
  padding: 0;
}

.menu-list li .expand-icon {
  margin-left: auto;
  font-size: 16px;
  color: gray;
}

.menu-list li.contact-us {
  flex-direction: column;
  align-items: flex-start;
}

.menu-list li.contact-us .contact-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.menu-list li.contact-us .contact-icons .icon {
  font-size: 24px;
}

.menu .menu-list li .menu-title {
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
}

.menu-title-clicked {
  font-weight: bold;
  color: var(--primary-text);
}

.menu-btn {
  display: none;
}
.car {
  display: none;
}
.menu .accordion:after {
  content: url("../../icons/expand_more.svg");
  color: #777;
  font-weight: bold;
  position: absolute;
  right: 20px;
}
.menu .active:after {
  content: url("../../icons/expand_less.svg");
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.desktop-panel {
  display: none;
  visibility: hidden;
  position: absolute;
  top: var(--nav-height);
  right: 0;
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px;
  z-index: 10;
  transition: opacity 0.3s ease;
  opacity: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  max-height: max-content;
}

.navbar .links .link-title:hover + .desktop-panel,
.desktop-panel:hover {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.car-panel {
  display: none;
  position: absolute;
  top: var(--nav-height);
  right: 0;
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px;
  z-index: 10;
  transition: opacity 0.3s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .navbar .links,
  .navbar .right {
    display: none;
  }
  .car {
    display: block;
    cursor: pointer;
  }

  .nav-hamburger {
    display: flex;
  }
}

.panel .link-container-section {
  flex-direction: column;
  gap: 0;
}

.panel .link-grid,
.panel .teaser {
  box-sizing: border-box;
}

.panel .link-grid-column {
  width: 100%;
}

.panel .link-grid-column .links-container li a {
  padding: 14px 32px;
  font-size: 12px;
  line-height: 16px;
  min-height: auto;
}

.panel .accordian-item,
.panel .teaser {
  display: none;
}

@media (min-width: 767px) {
  .buy.panel,
  .owners.panel {
    display: flex;
    padding: 32px 64px;
    background-color: var(--nav-background-color);
    flex-wrap: wrap;
  }

  .panel .link-container-section {
    flex-direction: row;
  }

  .panel .link-grid-column .links-container,
  .panel .link-grid-column .accordian-item {
    padding: 0;
  }

  .panel .link-grid-column .links-container li a {
    padding: 0;
    min-height: 40px;
    font-size: 14px;
    line-height: 20px;
  }

  .panel .accordian-item,
  .panel .teaser {
    display: block;
  }

  .panel .link-grid {
    flex: 1 1 55%;
  }

  .panel .teaser {
    flex: 1 1 45%;
  }

  .panel .teaser__card {
    display: flex;
    margin: 0;
    border: 0;
    box-shadow: none;
    border-radius: 4px;
    background: var(
      --gradient-1,
      linear-gradient(60deg, #c9d3d7 3.71%, #ebebeb 104.51%)
    );
  }

  .panel .teaser__image {
    display: flex;
  }

  .panel .teaser__image picture {
    width: 100%;
    display: flex;
  }

  .panel .teaser__image img {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 85% 100%, 0 100%);
  }

  .panel .teaser__content {
    padding: 24px;
  }

  .panel .teaser__pretitle p,
  .panel .teaser__title h3,
  .panel .teaser__actions a {
    font-family: "Fira Sans", sans-serif;
  }

  .panel .teaser__pretitle p {
    margin: 0 0 8px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }

  .panel .teaser__title h3 {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 24px;
  }

  .panel .teaser__actions a {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    background: none;
    color: #18171a;
    padding: 0 28px 4px 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #18171a;
    margin-bottom: 0;
    margin-top: 30px;
  }

  .panel .teaser__actions a::after {
    content: url("../../icons/arrow.svg");
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
