.panel {
  &.mob-popupsearch {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    padding: 0;
    background-color: var(--tertiary-light-grey);
    z-index: 1;

    .search-header-page {
      .menu-header {
        display: inline-flex;
        padding: 16px 20px 16px 153px;
        justify-content: flex-end;
        align-items: center;
        gap: 113px;
        .menu-title {
          margin: 0 auto;
          color: var(--tertiary-white);
        }
        .close-icon {
          background-repeat: no-repeat;
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}
.menu:has(.mob-popupsearch) {
  overflow: hidden;
}

/* html.no-scroll:has(.search-recomm){
  overflow: hidden;
} */

.search-header-page {
  &.container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;

    .menu-header {
      display: none;
    }
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    padding: 0 20px;
  }

  button {
    border: none;
    background-color: transparent;
  }

  .search-form {
    position: relative;

    .search-input {
      width: 100%;
      margin: 0 auto;
      max-height: 36px;

      input {
        border: 0;
        border-bottom: 1px solid var(--tertiary-deep-Grey);
        width: 100%;
        padding: 6px 0;
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        color: var(--secondary-main);
        font-weight: 400;
        background-color: transparent;
        display: block;
        padding-right: 24px;
        font-family: var(--body-font-family);
        height: 32px;

        &::placeholder {
          color: var(--secondary-main);
        }

        &:focus-visible {
          outline: -webkit-focus-ring-color auto 0px;
        }
      }

      .search-icon {
        width: 24px;
        display: block;
        height: 24px;
        background: url("/icons/search_icon_grey.svg") transparent no-repeat center / contain;
        position: absolute;
        right: 0;
        top: 6px;
        border: 0;
        cursor: pointer;
        padding: 0;
        background-size: 24px;
      }
    }
  }
}

/* desktop search header */
.desktop-panel .search-header-page {
  .wrapper {
    padding: 0;
    row-gap: 64px;
  }

  &.container {
    /* 8 Column Grid Width */
    max-width: calc(((((100vw - 56px - 56px) - (24px * 11)) / 12) * 8) + (24px * (8 - 1)));
  }
}

/* Search Recomm */

.search-recomm {
  font-family: var(--body-font-family);
  .search-recomm-title {
    font-family: var(--body-heading-font-family);
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.48px;
    color: var(--tertiary-black);
    margin: 0px 0px 16px 0px;
    padding: 0px;
    font-weight: 700;
    margin-top: 32px;
  }
  .search-recomm-list {
    display: flex;
    color: var(--secondary-main);
    gap: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    .search-recomm-list-item {
      color: var(--secondary-main);
      border: 1px solid var(--secondary-main);
      padding: 4px 12px;
      border-radius: 54px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
    }
  }
}

@media screen and (width >= 768px) {
  .panel {
    &.mob-popupsearch {
      display: none !important;
    }
  }
  .search-header {
    &.block {
      width: 100%;
    }
  }
  .search-header-page {
    &.container {
      padding: 32px 0 40px;
      position: relative;
      background-color: transparent;
    }
    .menu-header {
      display: none;
    }
    .search-form {
      .search-input {
        input {
          font-size: var(--body-font-size-xs);
          line-height: 20px;
          height: 40px;
          padding: 10px 0;
        }
      }
    }
    .search-recomm {

      .search-recomm-list {
        row-gap: 12px;
        column-gap: 16px;
      }

      .search-recomm-title {
        margin-top: 0px;
      }
    }

  }
}

 
