.contact-wrapper{
  width: 100%;
}
.user__contact{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.user__contact .user__contact-title {
  color: var(--Primary-Main, #18171a);
  font-family: var(--font-primary-nexa);
  padding-top: 8px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  @media (width >= 768px) {
font-family:  var(--font-secondary-nexa);
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.02em;

  }
}

.user__contact__icons {
  display: flex;
  align-items: baseline;
  gap: 2.5rem;
}

.user__contact--icon-text{
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;

  @media((width >=768px) and (width <1200px)){
    img{
    height: 1rem;
    width: 1rem;
    }
  }
}

.user__contact .user__contact__icon-call_container{
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 1rem 1rem;
  clip-path: polygon(72% 12px, 75% 0, 100% 0, 100% 100%, 0 100%, 0 12px);
  background: var(--Gradients-Gradient-1, linear-gradient(60deg, #C9D3D7 3.71%, #EBEBEB 104.51%));

  a{
    color: #18171A;
    font-family: var(--font-primary-nexa);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.25rem;
    height: 1.25rem;
  }
  .separator{
    background-color: #000;
    height: 0.875rem;
    width: 0.0625rem;
    margin: 0;
  }
}

@media (width >= 768px) {
  .user__contact{
    gap: 1rem;
  }
  .user__dropdown .user__contact .user__contact-title {
    padding-top: 1rem;
  }
  .user__contact__icons {
    gap: 3rem;
  }
  .user__contact__icons button:first-child{
    margin-right: -1.5rem;
  }
  .user__contact .user__contact__icon-call_container{
    display: none;
    a{
      font-size: 0.75rem;
      line-height: 1rem;
    }
    .separator{
      height: 1rem;
    }
  }
}

.phone{
  border: none;
  background: none;
  padding: 0;
}
.primary-telephone, .secondary-telephone, .primary-whatsappno, .primary-email, .secondary-telephone-icon{
  display: none;
}
.user__contact__icon-call_container .primary-telephone, .user__contact__icon-call_container .secondary-telephone {
  display: block;
}

@media (width >= 768px){
  .phone, .whatsapp, .email{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    font-family: var(--font-primary-nexa);
    gap: 8px;
    color:var(--primary-main-color);
    font-size: 16px;
    font-weight: 400;
  }
  .user__contact--icon-text img{
    width:20px;
    height: 20px;
  }
  .primary-telephone, .secondary-telephone, .primary-whatsappno, .primary-email, .secondary-telephone-icon{
    display: flex;
  }
}

@media(width >=1200px){
  .user__contact{
    gap: 1.5rem;
  }
  .user__contact .user__contact-title {
    font-size: 1.5rem;
    line-height: 1.25rem;
  }
  .user__contact .user__contact__icon-call_container{
    a{
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}
