.car-details {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 3.5rem 6rem;
}
.car-details .car-details_top {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  .car-details_title {
    text-align: left;
    font-family: var(--font-secondary-nexa);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.64px;
    color: #515151;

    select {
      font-family: var(--font-secondary-nexa);
      font-style: italic;
      font-size: 3rem;
      font-weight: 700;
      line-height: 3.5rem;
      letter-spacing: 0.96px;
      appearance:none;
      border: none;
      color: #18171a;
    }

    .title_svg {
      width: 1rem;
      height: 1rem;
      display: inline-flex;
      align-items: center;
    }
  }
  .car-details_description {
    font-family: var(--font-primary-nexa);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.25rem;
    color: #18171a;
  }
}
.car-details .car-details_middle {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  .car-details_search {
    width: 100%;
    border-bottom: 1px solid #b2b2b2;
    display: flex;
    justify-content: space-between;

    .car-details_search-box {
      width: 100%;
      border: none;
      padding-bottom: 0.625rem;
      font-family: var(--font-primary-nexa);
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1rem;
      color: #515151;
    }
    input:focus {
      outline: none;
    }
    .search_icon {
      width: 1rem;
      height: 1rem;
    }
  }

  .highlight {
    display: flex;
    align-items: baseline;
    margin-top: 2rem;
    gap: 2rem;

    .car-details_highlight {
      width: 5.25rem;
      .highlight_text {
        font-family: var(--font-primary-nexa);
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1rem;
        color: #18171a;
        width: 5.25rem;
      }
      .toggle_btn {
        margin-top: 0.75rem;
        width: 1.75rem;
        height: 0.875rem;
      }
    }
    .car-models {
      display: flex;
      flex-direction: row;
      gap: 1.75rem;
      overflow: scroll;
      scrollbar-width: none;

      .car-model {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 0.125rem;
        width: 5rem;

        .car-model_name {
          font-family: var(--font-primary-nexa);
          font-size: 0.875rem;
          font-weight: 500;
          line-height: 1.25rem;
          color: #18171a;
          margin: unset;
        }
        .car-model_type {
          font-family: var(--font-primary-nexa);
          font-size: 0.625rem;
          font-weight: 300;
          line-height: 1.25rem;
          color: #515151;
          margin: unset;
          margin-top: 0.125rem;
          text-transform: uppercase;
          width: 5rem;
        }
        .delete-icon {
          margin-top: 0.5rem;
        }
      }
    }
    .add-icon{
        background-color: #b2b2b2;
        padding: 0.25rem;
        display: flex;
    }
  }
}
.car-details .car-details_bottom {
  display: flex;
  flex-direction: column;
  margin-top: 1.75rem;

  .car-details_accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    .accordion-title {
      background: var(
        --Gradients-Gradient-4---60,
        linear-gradient(
          238deg,
          rgba(56, 79, 110, 0.6) -11.12%,
          rgba(91, 91, 91, 0.6) 111.5%
        )
      );
      padding: 1.25rem 1rem 0.75rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.01);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .toggle_arrow {
        width: 1rem;
        height: 1rem;
        transition: transform 0.2s ease, width 0.2s ease, height 0.2s ease;
      }
      .toggle_arrow.active {
        transform: rotate(180deg);
      }
    }
    .accordion_table {
     flex-direction: column;

      .feature {
        display: flex;
        gap: 2rem;
        padding: 1rem 1.25rem;

        .feature-title {
          font-family: var(--font-primary-nexa);
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.25rem;
          color: #515151;
          width: 4rem;
        }
        .feature-comparison {
          display: flex;
          gap: 1.5rem;
          overflow: hidden;
          scrollbar-width: none;

          .comparison-item {
            font-family: var(--font-primary-nexa);
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;
            color: #18171a;
            width: 4.5rem;
            overflow: hidden;
          }
        }
      }
    }
  }
}
.accordion_table.hidden {
  display: none;
}
.accordion_table:not(.hidden) {
  display: flex;
}


@media (width >= 1024px) {
  .car-details {
    padding: 5rem 3.5rem;
  }
  .car-details .car-details_top {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;

    .car-details_title{
      display:flex;
      align-items: center;
      h1,h2,h3,h4,h5,p{
        font-family: var(--font-secondary-nexa);
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.5rem;
        letter-spacing: 0.96px;
      }
      .title_svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .car-details_description {
      width: 20rem;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.25rem;
    }
  }
  .car-details .car-details_middle {
    margin-top: 4rem;
    position: relative;

    .car-details_search {
      position: absolute;
    width: auto;
    bottom: 0px;

      .car-details_search-box {
        padding-bottom: 0.325rem;
        font-size: 1rem;
        line-height: 1.25rem;
      }
      .search_icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .highlight {
      display: flex;
      align-items: baseline;
      gap: 3.75rem;

      .car-details_highlight {
        display: flex;
        align-items: center;
        width: 17.8rem;

        .highlight_text {
          font-size: 1.125rem;
          font-weight: 400;
          line-height: 1.5rem;
        }
        .toggle_btn {
          margin-top: 0;
          margin-left: 2.75rem;
          width: 2.5rem;
          height: 1.25rem;
        }
      }
      .car-models {
        gap: 0;
        justify-content: space-between;
        width: 100%;

        .car-model {
          gap: 0;
          justify-content: space-between;
          width: 7rem;

          .car-model_name {
            font-size: 1.125rem;
            line-height: 1.5rem;
          }
          .car-model_type {
            font-size: 0.875rem;
            font-weight: 400;
            margin-top: 0.25rem;
            width: 100%;
          }
          .delete-icon {
            margin-top: 1.125rem;
          }
        }
      }
    }
  }
  .car-details .car-details_bottom {
    margin-top: 2.875rem;

    .car-details_accordion {
      .accordion-title {
        padding: 1rem 1.5rem;
      }
      .accordion_table {
        .feature {
          gap: 3.75rem;
          padding: 1.125rem 1.5rem;

          .feature-title {
            font-size: 1rem;
            width: 16.3rem;
          }
          .feature-comparison {
            width: 100%;
            justify-content: space-between;

            .comparison-item {
              font-size: 1rem;
              width: 7rem;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
