@import url("../forms/default-forms.css");
@import url("../forms/no-label-forms.css");
@import url("../forms/outlined-forms.css");

.register-your-interest {
  .disabled{
   pointer-events: none;
   opacity: 0.7;
  }
  .loader{
   display:flex;
   justify-content: space-around;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: var(--tertiary-white);
    max-width: 360px;
    position: relative;

    .close-button-container {
      position: absolute;
      top: 16px;
      right: 16px;
      z-index: 5;

      .close-button {
        border: none;
        outline: none;
        background: url(/icons/close_white.svg);
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }

    .image-container {
      margin-bottom: -1px;
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 16px), calc(100% - 114px) calc(100% - 16px), calc(100% - 128px) 100%, 0 100%);
      max-height: 320px;
      background: linear-gradient(0deg, var(--primary-main) 30%, transparent 60%);

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .information-container {
        position: absolute;
        padding: 20px;
        bottom: 0;
        width: 100%;

        .title,
        .description,
        .sign-in {
          margin: 0;
        }

        .title {
          color: var(--tertiary-white);
          font-size: 1.5rem;
          font-family: var(--font-secondary-nexa);
          font-weight: 700;
          line-height: 28px;
          letter-spacing: 0.48px;
          word-wrap: break-word;
          margin-bottom: 0.5rem;
        }

        .description {
          color: var(--tertiary-light-grey);
          font-size: 0.625rem;
          font-family: var(--font-primary-nexa);
          font-weight: 400;
          line-height: 16px;
          word-wrap: break-word;
          margin-bottom: 1.5rem;
        }

        .sign-in {
          color: var(--tertiary-light-grey);
          font-size: 0.625rem;
          font-family: var(--font-primary-nexa);
          font-weight: 400;
          line-height: 16px;
          word-wrap: break-word;

          .sign-in-link {
            font-weight: 500;
            text-decoration: none;
            color: var(--tertiary-white);
          }
        }
      }
    }

    .form-container {
      background-color: var(--tertiary-white);
      padding: 16px;

      form {

        input,
        select {
          font-size: 0.875rem;
        }

        select {
          background-color: transparent;
        }

        .step-header {
          display: flex;
          gap: 16px;
          margin: 1rem 0 2rem;

          .back-button {
            border: none;
            outline: none;
            cursor: pointer;
            background: url(/icons/arrow_left_black.svg) no-repeat center;
            height: 24px;
            width: 24px;
            padding: 0;
          }

          .step-number,
          .step-title {
            font-family: var(--font-secondary-nexa);
            font-size: 1.25rem;
            line-height: 1.625rem;
            margin: 0;
          }

          .step-number {
            color: var(--primary-main);
            font-style: italic;
          }

          .step-title {
            font-weight: 700;
          }
        }

        .step-container {
          display: none;

          &.active {
            display: block;
          }

          .form-heading {
            margin: 0;
            font-family: var(--font-primary-nexa);
            font-size: 1rem;
            line-height: 1.25rem;
            font-weight: 500;
            color: var(--secondary-main);
            margin-bottom: 1rem;
          }
        }

        .form-fields {
          .otp-container {
            width: 100%;
            padding: 0;

            .otp-input {
              display: flex;
              flex-direction: column;
              gap: 8px;
              align-items: end;

              .otp-input-container {
                display: flex;
                gap: 16px;

                input {
                  text-align: center;
                  padding: 0;
                  height: 40px;
                }
              }

              .otp-button {
                cursor: pointer;
                position: absolute;
                right: 0;
                bottom: -1rem;
                color: var(--primary-main);
                font-size: 0.75rem;
                line-height: 0.75rem;
                font-family: var(--font-primary-nexa);
                font-weight: 400;
                word-wrap: break-word;
                z-index: 1;
              }
            }

            .otp-digit.green {
              color: #37B200;
              border-bottom-color: #37B200;
            }

            .otp-digit.red {
              color: #F0373A;
              border-bottom-color: #F0373A;
            }
          }

          .otp-button-container {
            display: flex;
            width: 100%;
            justify-content: end;

            .otp-button {
              outline: none;
              border: none;
              background-color: transparent;
              cursor: pointer;
              color: var(--tertiary-deep-Grey);
              font-size: 0.75rem;
              font-family: var(--font-primary-nexa);
              font-weight: 400;
              line-height: 16px;
              word-wrap: break-word;

              &.active {
                color: var(--primary-main);
              }
            }
          }

          .form-input:has(#mobile) {
            position: relative;

            .tick-icon {
              position: absolute;
              background: url('/icons/check_circle.svg') no-repeat center;
              width: 24px;
              height: 24px;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
            }
          }

          .dropdown-city-dealer {
            border-bottom: 1px dashed var(--primary-main);
          }
        }

        .personal-details {
          margin-bottom: 3rem;
        }

        .dealership-details {
          margin-bottom: 1rem;
        }

        .dealership-form {
          .dealership-form-row-1 {
            .dealership-form-fields {
              display: flex;
              flex-direction: column;
            }

            .pin-code-container {
              position: relative;

              .detect-location__button_ryi {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-100%);
                background: url(/icons/detect_location.svg);
                width: 24px;
                height: 24px;
                cursor: pointer;
              }
            }
          }

          .dealership-form-data-row-2 .container__dealers {
            padding-bottom: 2rem;

            @media(width >=768px) {
              padding-bottom: 0px;
            }

            .dealer__list__container {
              display: flex;
              flex-direction: column;
              gap: 8px;
              padding: 0 8px;
              max-height: 160px;
              overflow: auto;

              @media(width >=768px) {
                height: 114px;
              }

              &::-webkit-scrollbar {
                width: 1px;
              }

              &::-webkit-scrollbar-track {
                background: var(--tertiary-medium-grey);
              }

              &::-webkit-scrollbar-thumb {
                background: var(--primary-main);
              }

              .dealer__card {
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                position: relative;
                border-bottom: 1px solid var(--tertiary-medium-grey);
                padding-top: 10px;
                padding-bottom: 8px;

                .dealership__top__info {
                  display: flex;
                  justify-content: space-between;
                  gap: 32px;
                }

                .dealer__radio,
                .dealer__name,
                .dealer__address,
                .dealer__distance {
                  margin: 0;
                }

                .dealer__radio {
                  width: 12px;
                  height: 12px;
                  accent-color: var(--primary-main);
                  position: absolute;
                  left: 0;
                  top: 11px;
                }

                .dealer__name {
                  font-size: 0.75rem;
                  font-weight: 500;
                  line-height: 1rem;
                  color: var(--secondary-main);
                }

                .dealer__address {
                  font-size: 0.625rem;
                  font-weight: 400;
                  color: #939393;
                }

                .dealer__distance {
                  font-size: 0.75rem;
                  font-weight: 500;
                  line-height: 1.25rem;
                  white-space: nowrap;
                }
              }
            }
          }
        }

        .socials {
          margin-bottom: 1rem;

          .reach-heading {
            color: var(--secondary-main);
            margin: 0;
            font-size: 1rem;
            font-family: var(--font-primary-nexa);
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 1rem;
            word-wrap: break-word;
          }

          .social-checkboxes {
            .form-checkbox {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin: 0;
              gap: 52px;

              .form-checkbox-label {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 8px;

                input {
                  width: 16px;
                  height: 16px;
                  accent-color: var(--primary-main);
                }
              }
            }
          }
        }

        .footer {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        .disclaimer-container {


          .disclaimer-text {
            color: var(--tertiary-deep-Grey);
            margin: 0;
            font-size: 0.625rem;
            font-family: var(--font-primary-nexa);
            font-weight: 400;
            line-height: 14px;
            word-wrap: break-word;

            strong a{
              color: var(--primary-main);
            }
          }
        }

        .interested-button {
          margin: 0;
          width: 100%;
          padding: 0;

          button {
            padding: 12px;
            border: none;

            &:disabled {
              cursor: auto;
              background-color: var(--tertiary-medium-grey);
            }
          }
        }
      }
    }

    &.thank-you-container {
      height: 720px;
      background-color: var(--primary-main);
      clip-path: polygon(calc(100% - 124px) 16px, calc(100% - 108px) 0, 100% 0, 100% 100%, 0 100%, 0 16px);

      .close-button-container {
        background-color: var(--tertiary-white);
        border-radius: 50%;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 32px;

        .close-button {
          background: url(/icons/close__icon.svg);
        }
      }

      .image-container {
        clip-path: none;
        max-height: initial;
        height: 100%;

        .information-container {
          display: none;
        }

        .thank-you-information {
          position: absolute;
          background: linear-gradient(180deg, var(--primary-main) 20%, transparent 100%);
          top: 0px;
          left: 0;
          width: 100%;
          padding: 48px 24px;

          .thank-you-icon {
            margin-bottom: 1rem;
            display: block;
            background: url(/icons/thank-you-icon.svg) no-repeat center;
            width: 40px;
            height: 40px;
          }

          .title {
            margin: 0 0 1.5rem;
            color: var(--tertiary-white);
            font-size: 1.125rem;
            font-family: var(--font-secondary-nexa);
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0.36px;
            word-wrap: break-word;
          }

          .description {
            margin: 0;
            color: var(--tertiary-white);
            font-size: 0.75rem;
            font-family: var(--font-primary-nexa);
            font-weight: 400;
            line-height: 16px;
            word-wrap: break-word;
          }
        }
      }

      .form-container {
        display: none;
      }
    }
  }


  @media (width >=768px) {
    .container {
      max-width: 640px;

      .image-container {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 16px), calc(100% - 144px) calc(100% - 16px), calc(100% - 158px) 100%, 0 100%);

        .information-container {
          padding: 20px 48px;

          .title {
            font-size: 2rem;
            line-height: 2.25rem;
            margin-bottom: 1.5rem;
          }

          .description {
            font-size: 0.875rem;
            line-height: 1.25rem;
            margin-bottom: 2rem;
          }

          .sign-in {
            font-size: .875rem;
            line-height: 1.25rem;

            .sign-in-link {
              font-size: 1rem;
            }
          }
        }
      }

      .form-container {
        padding: 48px;

        form {

          input,
          select {
            font-size: 1rem;
          }

          .step-header {

            .step-title,
            .step-number {
              font-size: 1.5rem;
            }
          }

          .form-fields {
            .otp-button-container {
              .otp-button {
                font-size: 0.875rem;
                line-height: 1.25rem;
              }
            }
          }

          .dealership-form {
            .dealership-form-data-row-2 {
              .dealer__list__container {
                .dealer__card {
                  .dealer__radio {
                    width: 16px;
                    height: 16px;
                  }

                  .dealer__name {
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                  }
                }
              }
            }
          }

          .socials {
            .reach-heading {
              font-size: 1.125rem;
              line-height: 1.5rem;
            }
          }
        }
      }

      &.thank-you-container {
        clip-path: polygon(calc(100% - 184px) 16px, calc(100% - 168px) 0, 100% 0, 100% 100%, 0 100%, 0 16px);

        .close-button-container {
          top: 48px;
          right: 32px;
        }

        .image-container {
          .thank-you-information {
            padding: 64px 32px;

            .thank-you-icon {
              margin-bottom: 2rem;
              background: url(/icons/thank-you-icon-big.svg) no-repeat center;
              width: 60px;
              height: 60px;
            }

            .title {
              font-size: 1.5rem;
              line-height: 1.75rem;
            }

            .description {
              width: 60%;
              font-size: 0.875rem;
              line-height: 1.25rem;
            }
          }
        }
      }
    }
  }

  @media (width >=1200px) {
    .container {
      max-width: 1040px;
      padding-top: 24px;
      flex-direction: row;
      clip-path: polygon(calc(100% - 278px) 24px, calc(100% - 260px) 0, 100% 0, 100% 100%, 0 100%, 0 24px);

      .close-button-container {
        top: 36px;

        .close-button {
          background: url(/icons/close__icon.svg);
        }
      }

      .image-container {
        width: 45%;
        clip-path: none;
        max-height: 100%;

        .information-container {
          padding: 24px;
        }
      }

      .form-container {
        width: 55%;
        padding: 44px 24px 24px;

        form {
          .form-fields {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0 16px;
            margin-bottom: 1rem;

            .form-field {
              margin-bottom: 1.5rem;
            }

            .otp-button-container {
              justify-content: start;
            }
          }

          .personal-details {
            margin-bottom: 0;
          }

          .dealership-form {
            .dealership-form-row-1 {
              .dealership-form-fields {
                flex-direction: row;
                gap: 16px;

                .form-field {
                  flex: 1;
                }
              }
            }
          }

          .socials {
            margin-bottom: 1.25rem;
          }

          .footer {
            flex-direction: row;
          }

          .disclaimer-container {
            margin-bottom: 1.25rem;
          }

          .interested-button {
            font-size: 1rem;
            width: max-content;
            margin-left: auto;

            button {
              padding: 12px 24px;
            }
          }
        }
      }

      &.thank-you-container {
        clip-path: polygon(calc(100% - 284px) 24px, calc(100% - 268px) 0, 100% 0, 100% 100%, 0 100%, 0 24px);
        height: 440px;
        padding-top: 0;

        .image-container {
          width: 100%;
          height: 100%;

          .thank-you-information {
            height: 100%;
            background: linear-gradient(90deg, var(--primary-main) 20%, transparent 100%);

            .description {
              width: 35%;
            }
          }
        }
      }
    }
  }
}

/* make this display none before pushing */
.register-your-interest-wrapper {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 80%);

  .register-your-interest {
    .container {
      @media (width < 1200px) {
        width: 90vw;
        overflow: hidden scroll;
        scrollbar-width: none;
      }

      @media (width < 768px) {
        height: 92vh;
      }
    }
  }
}

.form-input.valid input {
  border-bottom: 1px dashed var(--tertiary-black);
}

.dealership-form-row-1 .form-input input {
  border-bottom: 1px solid var(--tertiary-deep-Grey);
  color: #515151;
}