.light-teaser.buyers-guide-teaser .teaser__card {
  background: linear-gradient(
    238deg,
    rgba(56, 79, 110, 0.6) -11.12%,
    rgba(91, 91, 91, 0.6) 111.5%
  );
  backdrop-filter: blur(20px);
  padding: 16px 16px 32px;
  text-align: left;

  @media (min-width: 768px) {
    padding: 32px 32px 55px;
  }
}

.light-teaser.buyers-guide-teaser .teaser__content {
  position: relative;
}

.light-teaser.buyers-guide-teaser .teaser__info {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  color: var(--tertiary-white);
}

.light-teaser.buyers-guide-teaser .teaser__pretitle {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  width: 61.25%;

  @media (min-width: 768px) {
    font-size: 14px;
    font-weight: 400;
  }
}

.light-teaser.buyers-guide-teaser .teaser__title h3 {
  font-family: "Fira Sans", sans-serif;
  margin-top: 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 70%;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.light-teaser.buyers-guide-teaser .teaser__description {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  width: 100%;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    width: 77%;
  }
}

.light-teaser.buyers-guide-teaser .teaser__actions {
  position: absolute;
  top: 0;
  right: 0;
  width: 18%;

  @media (max-width: 768px) {
    width: 25%;
  }
}

.light-teaser.buyers-guide-teaser .teaser__actions .arrow_icon {
  background-image: url("./image/icons/north_east.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 84px;
  width: 84px;
}

.light-teaser.buyers-guide-teaser .primary__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
  text-underline-offset: 1px;
  padding: 0;

  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  order: 2;
  color: var(--tertiary-white);
  padding-bottom: 1px;
  background-color: transparent;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    text-underline-offset: 2px;
    padding-bottom: 2px;
  }
}

.light-teaser.buyers-guide-teaser .teaser__actions a::before {
  content: "";
  background-image: url("../../icons/white-slant-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;

  height: 80px;
  width: 80px;
}

@media screen and (max-width: 768px) {
  .light-teaser.buyers-guide-teaser .teaser__actions a::before {
    width: 30px;
    height: 30px;
  }
}

.dark-teaser.buyers-guide-teaser .teaser__card {
  position: relative;
  background-color: #1c1d1f;
  padding: 20px 20px 22px;

  @media (min-width: 768px) {
    width: 100%;
    height: 240px;
    padding: 30px 64px;
    display: flex;
    gap: 40px;
    align-items: center;
  }
}

.dark-teaser.buyers-guide-teaser
  .teaser__card
  .teaser__content
  .teaser__actions {
  transition: transform 0.5s ease-in-out;
}

.dark-teaser.buyers-guide-teaser
  .teaser__card:hover
  .teaser__content
  .teaser__actions {
  transform: scale(1.5);
}

.dark-teaser.buyers-guide-teaser .teaser__image > picture > img {
  object-fit: cover;
  width: 180px;
  height: 100px;

  @media (min-width: 768px) {
    width: 320px;
    height: 178px;
  }
}

.dark-teaser.buyers-guide-teaser .teaser__content {
  @media (min-width: 768px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.dark-teaser.buyers-guide-teaser .teaser__info {
  font-family: "Anek Latin", sans-serif;
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
  color: var(--tertiary-white);
  width: 75%;
}

.dark-teaser.buyers-guide-teaser .teaser__title h3 {
  font-family: "Anek Latin", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 44px;
  width: 100%;
  margin-top: 9px;

  @media (min-width: 768px) {
    margin-top: 0px;
    font-size: 40px;
  }
}

.dark-teaser.buyers-guide-teaser .teaser__description {
  border-top: 1px solid var(--tertiary-white);
  padding-top: 8px;
  font-family: "Roboto", sans-serif;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 100%;

  @media (min-width: 768px) {
    border-top: 2px solid var(--tertiary-white);
    padding-top: 24px;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 16px;
  }
}

.dark-teaser.buyers-guide-teaser .teaser__actions {
  @media (max-width: 768px) {
    position: absolute;
    top: 10%;
    right: 20px;
    aspect-ratio: 64/64;
  }
}

.dark-teaser.buyers-guide-teaser .teaser__actions .primary__btn {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.dark-teaser.buyers-guide-teaser .teaser__actions .primary__btn::before {
  content: "";
  display: inline-block;
  background-image: url("../../icons/arrow_with_background.svg");
  background-size: 100%;
  width: 50px;
  height: 50px;
}
