.navbar .links .desktop-panel.panel.compare:has(.compare-cars-header){
  display: unset;
}
.menu-list > li.nav-link.compare a{
  color: var(--text-color);
  width: 100%;
  height: 100%;
}
.compare-cars-header{
  h2, p {
    margin: 0px;
    padding: 0px;
  }
  .d-flex{
    display: flex;
  }
  .align-item{
    align-items:center
  }
  &.block-margin{
    margin-block: 32px 40px;
  }
  .image-wrapper img{
    width: 100%;
    max-width: 433px;
  }
  .text-wrapper{
    flex: 1;

    .content{
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      max-width: 504px;
    }
    h2{
      line-height: 32px; 
      color: var(--primary-main);
    }
    p{
      font-size: 18px;
      line-height: 24px;
      color: var(--secondary-main);
    }
  }
  .redirect-anchor{
    gap:8px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 10px;
    a{
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: var(--primary-main);
    }
    .anchor-icon{
      width: 24px;
      height: 24px;
      background: url(/icons/north_east.svg) no-repeat center center / contain;
      display: block;
      position: relative;
    }
  }
}