.car-filter {
  padding: 16px 20px;
  width: 100%;
  font-family: var(--font-primary-nexa);

  .filter-cars {
    display: flex;
    flex-direction: column;
  }

  .e-img {
    margin-right: 6px;
  }

  .car-filter-list {
    display: flex;
    padding: .5rem 0 0;
    margin-bottom: 1.25rem;
    margin-right: -1.25rem;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    border-bottom: 1px solid var(--primary-main);
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    .filter {
      border: 0;
      padding: .75rem 1.5rem;
      min-width: auto;
      color: #515151;
      font-size: .75rem;
      font-weight: 500;
      line-height: 1rem;
      cursor: pointer;

      &:hover {
        background-color: var(--tertiary-light-grey);
      }

      &.selected {
        background-color: transparent;
        color: #18171a;
        font-weight: 500;
        border-radius: 0%;
        border-bottom: 2px solid var(--primary-main);
      }


    }
  }

  .filter-text {
    padding: 12px 0;

    .title {
      color: var(--primary-main);
      font-family: var(--font-secondary-nexa);
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      /* 116.667% */
      letter-spacing: 0.96px;
      padding: 0 0 5px;
    }

    .subtitle {
      color: #18171a;
      font-family: var(--font-secondary-nexa);
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 400;
      line-height: 2rem;
    }
  }

  .card-list-teaser {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--primary-main);

    .teaser-list {
      position: fixed;
      display: flex;
      bottom: 1.5rem;
      width: 100%;

      .teaser {
        width: calc(100% - 2.5rem);
        border-radius: 4px 4px 4px 0;
        background: linear-gradient(179deg,
            rgb(157 207 218 / 25%) -62.26%,
            rgb(22 29 31 / 25%) 82.34%);
        backdrop-filter: blur(40px);
      }

      .teaser__card {
        display: flex;
        height: 100%;
      }

      .teaser__image {
        display: flex;
        height: 100%;
        width: clamp(7.625rem, 39%, 15rem);

        picture {
          max-width: 100%;
          display: flex;
        }

        img {
          max-width: 100%;
          height: auto;
          object-fit: cover;
          clip-path: polygon(0 0, 100% 0, 100% 80%, 85% 100%, 0 100%);
        }
      }

      .teaser__content {
        padding: .75rem 1rem;
        width: 74%;

        @media (width >=768px) {
          width: unset;
          padding: 1rem;
        }
      }

      .teaser__pretitle p,
      .teaser__title h3,
      .teaser__actions a {
        font-family: var(--font-primary-nexa);
      }

      .teaser__description p {
        margin: 0 0 13px;
        color: var(--Primary-Main, #18171a);
        font-family: var(--font-primary-nexa);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        /* 133.333% */
      }

      .teaser__title h4 {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin: 0 0 8px 0;
      }

      .teaser__actions {
        line-height: 1.25rem;

        a {
          position: relative;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          background: none;
          color: #18171a;
          padding: 0 24px 4px 0;
          border-radius: 0;
          border: none;
          box-shadow: none;
          width: auto;
          height: auto;
          margin-bottom: 0;
          margin-top: 30px;
        }

        @media (width >=768px) {
          padding: 0 28px 4px 0;
        }
      }

      .teaser__actions a::after {
        content: url("../../icons/arrow.svg");
        position: absolute;
        right: 0;
        bottom: -3px;

        @media (width >=768px) {
          bottom: 0;
        }
      }
    }

    .card-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: .25rem;
      gap: 1rem;
      overflow: auto;
      padding-right: 10px;

      .card-logo-image {
        display: none;
      }

      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: calc(50% - 8px);
        box-sizing: border-box;
        padding: .875rem .75rem .75rem;
        background: linear-gradient(179deg,
            rgb(157 207 218 / 8%) -62.26%,
            rgb(22 29 31 / 8%) 82.34%);
        filter: drop-shadow(0 3.269px 3.269px rgb(0 0 0 / 4%));
        backdrop-filter: blur(9.8065px);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 85% 100%, 0 100%);
        align-items: center;

        .card-content {
          line-height: 0;
          width: 110px;

          @media(width>=768px) {
            width: 100%;
          }

          @media(width >=1420px) {
            width: 187px;
          }

        }

        .card-title,
        .card-description {
          color: #18171a;
          font-family: var(--font-primary-nexa);
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          margin-bottom: 3px;
          margin-top: 0;
        }

        .card-description {
          margin: 0;
          display: none;
          color: #636363;
        }

        .card-price,
        .card-price-text {
          color: #767879;
          font-family: var(--font-primary-nexa);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          margin: 0;
          display: inline;
        }

        .card-price-text {
          margin-right: 4px;
        }

        .card-image {
          display: flex;
          justify-content: left;
          margin-bottom: 4px;
          height: 63px;
          width: 110px;

          @media(width >=768px) {
            height: 80px;
            width: auto;
          }

          @media(width >=1420px) {
            width: 187px;
          }

          img {
            height: 100%;

          }
        }
      }
    }
  }
}


.card-list::-webkit-scrollbar {
  width: 3px;
}

.card-list::-webkit-scrollbar-thumb {
  background: var(--primary-main);
  border-radius: 10px;
}

@media (width >=768px) {

  .car-filter {
    padding: 0 3.5rem;

    .filter-cars {
      height: 100%;
    }

    .car-filter-list {
      padding: 0;
      margin: 0;
      border-bottom: 1px solid var(--tertiary-medium-grey);

      .filter {
        border: 0;
        padding: .75rem 3rem;
        min-width: auto;
        color: #515151;
        font-size: 0.625rem;
        font-weight: 400;
        line-height: 0.75rem;
        transition: all 0.2s linear;

        &.selected,
        &:hover {
          background-color: transparent;
          color: #18171a;
          font-weight: 500;
          border-radius: 0%;
          border-bottom: 2px solid var(--primary-main);
        }
      }
    }

    .filter-text {
      padding: 2rem 0 .75rem;

      .title {
        padding: 0 0 .25rem;
        letter-spacing: 0.48px;
        font-size: .875rem;
        line-height: .9375rem;
      }

      .subtitle {
        font-size: 1.125rem;
        line-height: 1.25rem;
        font-weight: 400;
      }
    }

    .card-list-teaser {
      flex-direction: row;
      flex-grow: 1;
      max-height: 340px;
      border-right: none;

      .card-list {
        padding: 0 2.5rem 0 0;
        margin-right: 28px;
        flex-basis: 76%;
        align-content: flex-start;
        max-height: inherit;
        overflow: hidden auto;
        height: 100%;
        row-gap: 40px;

        .card {
          padding: 12px 16px 12px;
          flex-basis: calc(25% - 16px);
          background: transparent;
          cursor: pointer;
          display: flex;
          align-items: center;

          &:hover {
            background: linear-gradient(179deg,
                rgb(157 207 218 / 8%) -62.26%,
                rgb(22 29 31 / 8%) 82.34%);

            .card-image img {
              filter: none;
            }
          }

          .card-title {
            font-size: 0.75rem;
            line-height: 1rem;
          }

          .card-description {
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }

          .card-price,
          .card-price-text {
            font-size: .875rem;
            font-weight: 500;
            line-height: 0.75rem;
          }

          .card-price-text {
            font-weight: 400;
          }
        }
      }

      .card-list::-webkit-scrollbar,
      .teaser-list::-webkit-scrollbar {
        width: 2px;
      }

      .card-list::-webkit-scrollbar-track,
      .teaser-list::-webkit-scrollbar-track {
        background: linear-gradient(34deg, #C9D3D7 0%, #EBEBEB 100%, #EBEBEB 100%);
      }

      .card-list::-webkit-scrollbar-thumb,
      .teaser-list::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
      }

      .teaser-list {
        position: relative;
        flex-basis: 24%;
        flex-direction: column;
        overflow: hidden auto;
        gap: 0;
        margin-top: 0;
        bottom: unset;

        .teaser {
          flex: none;
          width: auto;
        }

        .teaser:first-child {
          clip-path: polygon(0 0, 100% 0, 100% 86%, 62% 86%, 57% 100%, 0 100%);
          margin-bottom: 1.25rem;

          .teaser__card {
            background: none;
            height: auto;
          }

          .teaser__image {
            display: none;
          }

          .teaser__title h4 {
            margin: 0 0 8px;
            color: var(--Primary-Main, #18171a);
            font-family: var(--font-primary-nexa);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1rem;
            /* 122.222% */
          }

          .teaser__actions a {
            font-size: 0.625rem;
            line-height: 0.75rem;
            margin-top: 0;
          }

          .teaser__description p {
            color: var(--Primary-Main, #18171a);
            font-family: var(--font-primary-nexa);
            font-size: 0.625rem;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            /* 142.857% */
            margin: 0 0 2rem;
          }

          &::after {
            content: "";
            width: 100%;
            display: block;
            height: 24px;
            position: relative;
            margin-top: -12px;
          }
        }

        .teaser:not(:first-child) {
          background: none;
          height: 230px;
          clip-path: polygon(0 25px,
              16% 25px,
              60% 25px,
              66% 0,
              100% 0,
              100% 100%,
              0 100%);

          .teaser__image {
            width: 100%;

            img {
              clip-path: none;
              border-radius: 4px;
            }
          }

          .teaser__content {
            position: absolute;
            padding: 12px;
            bottom: 12px;
            left: 12px;
            right: 12px;
            border-radius: 4px;
            background: linear-gradient(206deg,
                rgb(56 79 110 / 60%) -4.69%,
                rgb(91 91 91 / 60%) 110.79%);
            backdrop-filter: blur(7px);

            .teaser__title h4 {
              margin: 0 0 10px;
              color: #fff;
              font-family: var(--font-primary-nexa);
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
              /* 133.333% */
            }

            .teaser__actions {
              line-height: 0;

              a {
                margin-top: 0;
                color: var(--Tertiary-White, #fff);
                font-family: var(--font-primary-nexa);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                /* 125% */
                border-color: white;
                width: auto;
                height: auto;

                &::after {
                  content: url("");
                  right: 0;
                  bottom: 4px;
                  background-image: url("../../icons/white-slant-arrow.svg");
                  background-size: 24px;
                  display: inline-block;
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (width >=1200px) {
  .car-filter {
    padding: 1.5rem 3.5rem 2.5rem;

    & .car-filter-list .filter {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    & .filter-text {
      .title {
        font-size: 1.5rem;
        line-height: 1.75rem;
        letter-spacing: 0.48px;
      }

      .subtitle {
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 400;
      }
    }

    .card-list-teaser {
      .card-list .card {

        .card-price,
        .card-price-text {
          font-size: 0.875rem;
          line-height: 1.25rem;
        }

        .card-title {
          font-size: 1rem;
          line-height: 1.25rem;
        }
      }

      .teaser-list .teaser:first-child {
        .teaser__title h4 {
          font-size: 1.125rem;
          line-height: 1.5rem;
        }

        .teaser__description p {
          font-size: 0.875rem;
          line-height: 1.25rem;
        }

        .teaser__actions a {
          font-size: 1rem;
          line-height: 1.25rem;
        }
      }
    }
  }
}

@media((width >=768px) and (width < 1200px)) {
  .car-filter .card-list-teaser .card-list {
    gap: 0.75rem;
    padding: 0;
    margin-right: 1rem;

    .card {
      flex-basis: calc(25% - 10px);
    }
  }
}