.hide {
  visibility: hidden;
}

.employerFormSec {
  padding-bottom: 5rem;
  width: 100%;
}

.is-invalid {
  display: block !important;
}

.employerFormSec .steps {
  display: none;
  margin-top: 1.5625rem;
  list-style: none;
}

.employerFormSec .steps .step-1 {
  background: url('../../../icons/step1.webp') no-repeat;
  background-size: 3.625rem 3.25rem;
  width: 3.625rem;
  height: 3.25rem;
}

.employerFormSec .steps .step-2 {
  background: url('../../../icons/step2.webp') no-repeat;
  background-size: 3.625rem 3.25rem;
  width: 3.625rem;
  height: 3.25rem;
}
.employerFormSec .steps .step-3 {
  background: url('../../../icons/step3.webp') no-repeat;
  background-size: 3.625rem 3.25rem;
  width: 3.625rem;
  height: 3.25rem;
}

.employerFormSec .steps .step-4 {
  background: url('../../../icons/step4.webp') no-repeat;
  background-size: 3.625rem 3.25rem;
  width: 3.625rem;
  height: 3.25rem;
}

.employerFormSec .steps li {
  width: 25%;
  padding: 0 .625rem;
  text-align: center;
  position: relative;
  list-style: none;
}

.employerFormSec .steps li:before {
  position: absolute;
  content: '';
  width: 100%;
  background: #cdcdcd;
  height: .0625rem;
  top: 1rem;
  left: 0;
}

.employerFormSec .steps li.active span {
  background: var(--sf-primary-color);
  cursor: pointer;
}

.employerFormSec .steps li .content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.employerFormSec .steps li .title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #999;
  padding-left: .9375rem;
  line-height: normal;
  text-align: left;
}

.employerFormSec .steps li span {
  border-radius: 50%;
  background-color: #cdcdcd;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  margin: 0 auto .9375rem;
  position: relative;
}

.employerFormSec .employerFormBox {
  margin-top: 2.5rem;
  background: transparent;
  padding: 0;
  width: 100%;
  padding-top: 1rem;
}

.employerFormBox.personalDetailSec .personalDetailForm {
  display: flex;
  flex-direction: column;
}

.employerFormBox.personalDetailSec .personalDetailForm .left {
  width: 100%;
}

.employerFormSec h6 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1.25rem;
}

.employerFormSec .formWrap {
  background: transparent;
  box-shadow: none;
  padding: 0;
}

.employerFormSec .form-group {
  position: relative;
  margin-bottom: 1.25rem;
  width: 100%;
}

.form-group.margin-b-0{
  margin-bottom: 0;
}

.employerFormSec .personalDetailForm label {
  font-size: 1rem;
  color: #000;
  font-weight: 400;
  padding-right: .9375rem;
  margin-bottom: 0;
}
.employerFormSec .personalDetailForm #gender-label{
  display: flex;
  align-items: center;
}
.employerFormSec .form-group select {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  border: 1px solid #d1d1d1;
  height: 3.125rem !important;
  border-radius: 0;
  padding-left: .9375rem;
  outline: none;
  box-shadow: none;
  width: 100%;
  background: #F9F9F9 url("../../../icons/drop-down.webp") no-repeat;
  appearance: none;
  padding-right: 2.375rem;
  background-position: 96% center;
}

.employerFormSec .form-control {
  font-size: 1rem;
  color: #000;
  font-weight: 400;
  border: 1px solid #d1d1d1;
  background: #F9F9F9;
  height: 3.125rem;
  border-radius: 0;
  padding-left: .9375rem;
  outline: none;
  box-shadow: none;
  width: 100%;
}

input[type="text"]:read-only,
input[type="tel"]:read-only,
textarea:read-only,
.form-control[readonly] {
  opacity: 0.3;
  background-color: #ddd !important;
}

.employerFormSec .personalDetailForm .gender {
  display: flex;
  flex-direction: column;
  margin: .125rem 0 1.5rem;
}

.employerFormSec .personalDetailForm .gender .full-width {
  display: flex;
}

.employerFormSec .personalDetailForm .radioBtn {
  display: flex;
  height: 2.625rem;
}

.employerFormSec .personalDetailForm .radiobox {
  display: block;
  position: relative;
  padding-left: 5.5625rem;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0;
  padding-right: 0;
}

.employerFormSec .personalDetailForm .radiobox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.employerFormSec .personalDetailForm .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #999;
  border-radius: 0;
  background-color: white;
  width: 5.4375rem;
  height: 2.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.employerFormSec .personalDetailForm .checkmark .tick {
  background-color: #408cf4;
  width: .8125rem;
  height: .8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
}

.employerFormSec .personalDetailForm .checkmark .tick .tick-icon {
  background: url('../../../icons/tick.webp') no-repeat;
  background-size: .5rem .5625rem;
  width: .5rem;
  height: .5625rem;
}

.employerFormSec .personalDetailForm .checkmark .gName {
  margin-left: .5rem;
  font-weight: 600;
  color: #797575;
  font-size: .8125rem;
}

.employerFormSec .personalDetailForm .radiobox input:checked~.checkmark {
  border: 2px solid #408cf4;
}

.employerFormSec .personalDetailForm .radiobox input:checked~.checkmark .tick {
  opacity: 1;
}

.employerFormSec .personalDetailForm .radiobox input~.checkmark .male {
  background: url('../../../icons/male.webp') no-repeat;
  background-size: 1.5625rem;
  height: 1.5625rem;
  width: 1.5625rem;
}

.employerFormSec .personalDetailForm .radiobox input:checked~.checkmark .male {
  background: url('../../../icons/male-blue.webp') no-repeat;
  background-size: 1.5625rem;
}

.employerFormSec .personalDetailForm .radiobox input .checkmark .male {
  background: url('../../../icons/male.webp') no-repeat;
  background-size: 1.5625rem;
  height: 1.5625rem;
  width: 1.5625rem;
}

.employerFormSec .personalDetailForm .radiobox input:checked~.checkmark .female {
  background: url('../../../icons/female-blue.webp') no-repeat;
  background-size: .9375rem 1.5625rem;
  height: 1.5625rem;
  width: .9375rem;
}

.employerFormSec .personalDetailForm .radiobox input~.checkmark .female {
  background: url('../../../icons/female.webp') no-repeat;
  background-size: .9375rem 1.5625rem;
  height: 1.5625rem;
  width: .9375rem;
}

.employerFormSec .personalDetailForm .radiobox input:checked~.checkmark .transgender {
  background: url('../../../icons/transgender-blue.webp') no-repeat;
  background-size: 1.375rem 1.5625rem;
  height: 1.5625rem;
  width: 1.375rem;
}

.employerFormSec .personalDetailForm .radiobox input~.checkmark .transgender {
  background: url('../../../icons/transgender.webp') no-repeat;
  background-size: 1.375rem 1.5625rem;
  height: 1.5625rem;
  width: 1.375rem;
}

.employerFormSec .personalDetailForm .radiobox.transgender-gender .checkmark {
  width: 8.125rem;
}

.employerFormSec .personalDetailForm .radiobox+.radiobox {
  margin-left: 1.25rem;
}

.employerFormSec .form-group .workExpRow {
  display: flex;
  width: 100%;
}

.employerFormSec .form-group .workExpRow>span:first-child {
  white-space: nowrap;
  padding: 1.25rem .9375rem 0 0;
}

.employerFormSec .form-group .workExpRow select {
  margin-left: .625rem;
  background-position: 90% center;
}

select:disabled {
  color: white;
  opacity: 1.0 !important;
  background-color: darkgrey !important;
  cursor: not-allowed;
}

.mobileFooter {
  position: fixed;
  bottom: 4.375rem;
  width: 100%;
  z-index: 100;
  left: 0;
  background: #fff;
  box-shadow: 0 -0.0625rem .375rem 0 rgba(0, 0, 0, 0.29);
  padding: .8125rem .9375rem .8125rem;
  display: flex;
  gap: 1.25rem;

}

.mobileFooter .whiteButton .btn1 {
  border: 1px solid #ddd;
  padding: .8125rem .9375rem .8125rem;
  width: 100%;
  text-align: center;
  margin-bottom: .625rem;
  display: inline-block;
}

.mobileFooter.goToUplod .whiteButton {
  border: 1px solid #ddd;
  padding: .8125rem .9375rem .8125rem;
  text-align: center;
  margin-bottom: .625rem;
  display: inline-block;

}

.mobileFooter .whiteButton .back-icon {
  background: url('../../../icons/prev.webp') no-repeat;
  background-size: .75rem 1.25rem;
  width: .75rem;
  height: 1.25rem;
}

.employerFormBox.personalDetailSec .personalDetailForm .right {
  width: 100%;
}

.employerFormSec .right h6 {
  font-weight: 700;
}

.right {
  float: right;
}

.employerFormBox .employerBtn {
  width: 100%;
  text-align: right;
  margin: 2.5rem 0 0;
  gap: .625rem;
  justify-content: flex-end;
  display: none;
}

.employerFormBox .employerBtn>div {
  display: inline-block;
}

.employerFormSec .employerBtn .btn1,
.employerFormSec .employerBtn a {
  font-weight: 600;
  font-size: 1rem;
  padding: 0 1rem;
  height: 3.125rem;
  line-height: 3.125rem;
  text-decoration: none;
  border: 1px solid #000;
  display: inline-block;
  text-transform: uppercase;
}

.employerFormSec .mobileFooter .blackButton button,
.employerFormSec .mobileFooter .blackButton a {
  text-transform: initial;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding: 0 1.25rem;
  margin-bottom: 0;
  height: 3.125rem;
  line-height: 3.125rem;
  border: 1px solid #000;
  display: inline-block;
  text-decoration: none;
}

.invalid-feedback,
.validation-text {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  font-style: italic;
  color: #dc3545;
  display: none;
}

.addressDetailForm .formWrap {
  display: flex;
}

.addressDetailForm .formWrap .left {
  width: 50%;
  padding-right: 4.0625rem;
  border-right: 1px solid #cdcdcd;
}

.addressDetailForm .formWrap .right {
  width: 50%;
  padding-left: 4.0625rem;
  position: relative;
}

.employerFormSec .addressDetailForm textarea.selected {
  border: 1px solid #000;
}

.employerFormSec .addressDetailForm textarea.form-control {
  height: 3.125rem;
  resize: none;
  padding-top: .8125rem;
}

.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.form-control.is-valid:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.uploadDocumentForm ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 6.25rem;
}

.uploadDocumentForm ul li {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  list-style: none;
  margin-bottom: .625rem;
  position: relative;
  padding: .9375rem;
}

.uploadDocumentForm ul li .uploadDocumentForm-card {
  background: white;
  box-shadow: 0 0 2.1875rem 0 rgba(0, 0, 0, 0.08);
  text-align: center;
  padding: 2.1875rem;
  display: block;
  height: unset;
}

.uploadDocumentForm ul li>span:first-child {
  flex: 1;
}

.uploadDocumentForm ul li a {
  border: 1px solid #707070;
  height: 4.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  font-weight: 600;
  color: #408cf4;
  text-decoration: none;
  padding: 0 .625rem 0 1.5625rem;
  background-position: .625rem center;
  margin-bottom: 1.25rem;
}

.uploadDocumentForm ul li.plus a {
  background: #eee url('../../../icons/plus.webp') no-repeat;
  background-position: .9375rem center;
  color: #408CF4;
}

.uploadDocumentForm ul li.big-tick a {
  background: #eee url("../../../icons/big-tick.webp") no-repeat;
  background-position: .9375rem center;
  color: #408CF4;
  /* Text color for plus */
}

.uploadDocumentForm ul li.cross-error a {
  background: #eee url("../../../icons/cross-error.webp") no-repeat;
  background-position: .9375rem center;
  color: #FD2020;
  /* Text color for cross-error */
}

.uploadDocumentForm ul li .c-error {
  font-size: .875rem;
  color: #fd2020;
  line-height: 125%;
  font-weight: 400;
  display: block;
  margin: .625rem 0 0 0;
}

.employerFormSec .uploadDocumentForm .employerBtn {
  margin-top: 1.5625rem;
}

.uploadDocumentForm .employerBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.uploadDocumentForm .employerBtn .linkBtn {
  max-width: 100%;
  width: 100%;
  display: flex;
  gap: 1.25rem;
  justify-content: flex-end;
  margin-top: 1.25rem;
}

.uploadDocumentForm .employerBtn .linkBtn .whiteButton {
  max-width: 7.125rem;
}

.btn-ocr {
  background-color: #b0b0b0 !important;
  border-color: #b0b0b0 !important;
  padding: .75rem 3.1875rem .75rem 1.5625rem !important;
  font-weight: 700 !important;
  width: 16.6875rem;
  min-width: 16.6875rem;
  height: 3.125rem;
  position: relative;
  color: #fff;
  vertical-align: top;
}

.ocr_loader {
  display: none;
}

.uploadDocumentForm ul li p {
  font-size: 1.0625rem;
  font-weight: 300;
  color: #8d8d8d;
}

.ocr-btn {
  display: flex;
  align-items: center;
  height: 100%;
}

.btn-ocr-loader {
  display: block;
  margin-right: 1rem;
  background: url('../../../icons/ocr-loader.svg') no-repeat;
  background-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;

}
.uploadPopup h6 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1.25rem;
  margin-top: 0;
  text-align: left;
  padding-left: 2rem;
}

#uploadSelectDocMain-popup {
  z-index: 1001;
}

.uploadPopup .docRadioBtn {
  display: inline-block;
  margin: 0 0 1.5625rem 0;
  width: 100%;
}

.uploadPopup .customRadioBtn {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  gap: .625rem;
  align-items: center;
}

.customRadioBtn {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  user-select: none;
  line-height: normal;
  min-height: 3.125rem;
}

.dropImageBoxMain {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
}

.dropImageBoxMain .dropImageBox {
  width: 100%;
  text-align: center;
  border: 1px dotted #555;
  padding: 1.5625rem 1.5625rem 1.5625rem;
}

.dropImageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropImageBox .dropImage {
  background: url('../../../icons/dropImage.webp') no-repeat;
  width: 4.1875rem;
  height: 4.1875rem;
}

.uploadIncomeSec .docRadioBtn {
  display: flex;
  margin: 2.5rem 0 .9375rem;
  padding-top: 1.25rem;
  border-top: 1px solid #e5e5e5;
}

.uploadPopup .heading {
  font-size: 1rem;
  font-weight: 600;
  color: #939393;
  margin-top: .9375rem;
}

.uploadPopup .dropImageBox .heading {
  margin-top: .9375rem;
}

.uploadPopup .heading a {
  color: #408cf4;
  text-decoration: underline;
}

.uploadPopup p {
  font-size: .75rem !important;
  color: #858585;
  margin: .625rem 0 0;
  word-break: break-word;
  line-height: normal;
  font-weight: 300 !important;
}

.uploadSelectDocMain .modal-content {
  max-width: 21.875rem;
  padding: 0;
}

.uploadSelectDocMain .modal-content .popupContent {
  padding: 1.5625rem 1.875rem;
  text-align: unset;
}

.uploadSelectDocMain .modal-content .popupContent .nfuploadDocBox h3 {
  font-weight: bold;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5625rem;
}

.uploadSelectDocMain .modal-content .popupContent .nfuploadDocBox .slectFileBtn {
  margin: 1.5625rem 0;
  position: relative;
}

.uploadSelectDocMain .modal-content .popupContent .nfuploadDocBox .slectFileBtn .whiteButton {
  display: inline-block;
  position: relative;
}

.uploadSelectDocMain .modal-content .popupContent .nfuploadDocBox .slectFileBtn a {
  display: inline-block;
  margin-left: 0;
  vertical-align: middle;
  position: relative;
}
.uploadSelectDocMain .modal-content .popupContent .nfuploadDocBox .slectFileBtn #selectFil,#reupload_btn{
  border:1px solid var(--sf-primary-color);
 padding: .6875rem .75rem .5625rem .75rem;
 font-size: 0.9375rem;
 display: inline-block;
}

.uploadSelectDocMain .modal-content .popupContent .nfuploadDocBox .slectFileBtn .whiteButton input {
  opacity: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.uploadSelectDocMain .modal-content .popupContent .nfuploadDocBox .slectFileBtn .info-icon {
  background: url('../../../icons/circle3.webp') no-repeat;
  height: 1.625rem;
  width: 1.625rem;
  margin-left: .625rem
}



.uploadSelectDocMain .modal-content .popupContent .nfuploadDocBox .slectFileBtn .nfUploadDocToolTip {
  background: #fff;
  margin: 0 auto;
  padding: .4375rem;
  text-align: center;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
  border-radius: .625rem;
  margin-top: .9375rem;
  float: left;
  z-index: 10;
  width: 100%;
  font-size: .8125rem;
  line-height: 1.4;
  font-weight: 300;
}

.uploadSelectDocMain .modal-content .popupContent .nfuploadDocBox .slectFileBtn .nfUploadDocToolTip:after {
  content: "";
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.15) -2px -2px 2px;
  transform: rotate(45deg);
  top: -0.5rem;
  left: 50%;
  border-width: .375rem;
  border-style: solid;
  border-color: transparent #fff #fff transparent;
}

.uploadSelectDocMain .modal-content .popupContent .nfuploadDocBox .blackButton {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 3.4375rem;
}

.uploadIncomeSec .dropImageList {
  display: flex;
}

.uploadIncomeSec .dropImageList .dropImageWrap+.dropImageWrap {
  margin-left: .625rem;
}

#income-popup .modal-content {
  max-width: 68.75rem;
}

.uploadIncomeSec .dropImageList .dropImageWrap {
  width: 100%;
  margin-bottom: .9375rem;
}

.dropImageBoxMain .dropImageBox .uploadedImg {
  width: auto;
  position: relative;
  display: inline-block;
}

.dropImageBox .uploadedImg .uploaded-doc {
  background: url('../../../icons/doc.webp') no-repeat;
  max-width: 8.875rem !important;
  width: 8.875rem;
  height: 8.875rem;
  background-size: 8.875rem;
}

.dropImageBox .uploadedImg .delete-icon {
  background: url('../../../icons/close-doc.webp') no-repeat;
  height: 2.1875rem;
  width: 2.1875rem;
  background-size: 2.1875rem;
}

.uploadIncomeSec .dropImageBox .uploadedImg a {
  width: 2.1875rem;
  height: 2.1875rem;
  display: inline-block;
  position: absolute;
  right: -15px;
  top: -15px;
}

.uploadIncomeSec .dropImageBox .uploadedImg {
  width: auto;
  position: relative;
  display: inline-block;
}

.uploadIncomeSec .dropImageBox .uploadedImg img {
  max-width: 8.875rem !important;
}

.dropImageBoxMain .dropImageBox .uploadedImg a {
  width: 2.1875rem;
  height: 2.1875rem;
  display: inline-block;
  position: absolute;
  right: -0.9375rem;
  top: -0.9375rem;
}

.dropImageBoxMain .dropImageBox .uploadedImg a img {
  width: 100%;
  height: auto;
  max-width: 8.875rem;
}

#preview-doc {
  font-size: 1.125rem !important;
  cursor: pointer;
}

.uploadIncomeSec .title {
  font-size: .875rem;
  font-weight: 600;
  color: #000;
  margin-bottom: .9375rem;
  position: relative;
}

.uploadIncomeSec .title>small {
  font-size: 70% !important;
  position: absolute;
  bottom: -0.6875rem;
  left: 0;
}

.uploadIncomeSec .dropImageBox {
  text-align: center;
  border: 1px dotted #555;
  padding: 1.5625rem;
  background: #fff;
}

#income-popup {
  overflow: auto;
  .docRadioBtn{
    margin-left: 2rem;
    .customRadioBtn{
      padding-left: 0;
    }
  }
  .popupContent {
    text-align: unset;
  }
}

#doc-validation-popup {
  .popupContent.blue {
    h2 {
      color: #06f;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .625rem;
    }

    p {
      margin: 1.875rem 0;
    }

    .blackButton button {
      min-width: unset;
      background-color: #06f !important;
      border: #06f solid 1px;

      &:hover {
        background-color: #fff !important;
        color: #000 !important;
        border-color: #000;
      }
    }
  }
}

.uploadSelectDocMain .modal-content .popupContent .nfuploadDocBox ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.uploadSelectDocMain .modal-content .popupContent .nfuploadDocBox ul li {
  margin-top: .9375rem;
}

.uploadSelectDocMain .modal-content .popupContent .nfuploadDocBox ul li a {
  display: flex;
  color: #000;
  font-size: .9375rem;
  text-decoration: none;
}

.uploadSelectDocMain .modal-content .popupContent .nfuploadDocBox ul li a img {
  margin-left: .625rem;
}

.uploadDocumentForm .docRadioBtn {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-right: .625rem;
}

.uploadDocumentForm .customRadioBtn {
  padding-left: 1.875rem;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: .625rem;
}

#incorrect-doc-validation-popup {
  .modal-reupload-msg-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 125%;
    color: #ffac03;
    margin-bottom: 1.25rem;
    text-align: center;
  }

  .modal-reupload-msg-text {
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 125%;
    color: #000 !important;
    margin-bottom: 1.875rem !important;
    text-align: center;
  }
}

#ocr-error-popup {
  .popupContent.red {
    p {
      margin: 1.25rem
    }

    .blackButton {
      button {
        min-width: unset;
      }
    }
  }
}

#success-popup {
  .modal-content {
    padding-bottom: 1.25rem;
  }

  .icon-img {
    background: url('../../../icons/sucess-icon.webp') no-repeat;
    background-size: 2rem;
    width: 2rem;
    height: 2rem;
  }

  .modal-content .popupContent.green h2 {
    color: #090;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
  }

  .modal-content .popupContent.green p {
    margin: 1.875rem 0;
  }

  .modal-content .popupContent.green .blackButton button {
    text-decoration: none;
    padding: .6875rem .75rem .5625rem .75rem;
    min-width: unset;
    display: inline-block;
    font-size: 0.9375rem;
    color: #fff;
    font-weight: 400;
    transition: 0.5s;
    text-transform: uppercase;
    background: #090 !important;
    border: #090 solid 1px;

    &:hover {
      color: #fff !important;
      border-color: #090 !important;
    }
  }
}
#gender_title_validation_popup{
  .modal-content {
    padding-bottom: 1.25rem;
  }
  h2 {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: .4375rem;
		color: #0066ff;
		font-size: 1.875rem;
	}
  
	.info-icon {
		background: url("../../../icons/info-icon.webp") no-repeat;
		width: 2rem;
		height: 2rem;
		background-size: 2rem;
	}
  button {
		min-width: unset;
		color: #fff !important;
		background-color: #0066ff !important;
		border-color: #0066ff !important;

		&:hover {
			color: #fff !important;
			background-color: #0066ff !important;
		}
	}
}
#pincode_error_popup,#invalid_ifsc_popup{
  .modal-content {
    padding: 1.25rem 0;
  }
  h2 {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: .4375rem;
		font-size: 1.875rem;
	}
  
	.icon-img  {
		background: url("../../../icons/error-icon.webp") no-repeat;
	width: 2rem;
	height: 2rem;
	background-size: 2rem;
	}
}
#upload-select-doc-main-popup {
  z-index: 1001;
}

@media (width >=999px) {
  .employerFormSec .steps {
    display: flex;
  }

  .employerFormBox.personalDetailSec .personalDetailForm .left {
    width: 48%;
  }

  .employerFormBox.personalDetailSec .personalDetailForm .right {
    width: 48%;
    margin-left: 0;
  }

  .employerFormBox.personalDetailSec .personalDetailForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .employerFormSec .formWrap {
    background-color: white;
    padding: 2.5rem;
    box-shadow: 0 0 1.75rem 0 rgba(0, 0, 0, 0.1);
  }

  .employerFormSec .employerFormBox {
    padding: 2.5rem;
    background: #f9f9f9;
    padding-top: 1rem;
  }

  .employerFormSec .personalDetailForm .gender {
    flex-direction: row;
    align-items: center;
  }

  .mobileFooter {
    display: none;
  }

  .employerFormBox .employerBtn {
    display: flex;
  }

  .uploadDocumentForm ul li {
    width: 32%;
    list-style: none;
    padding: 0;
  }

  .uploadDocumentForm ul li+li {
    margin-left: 1.25rem;
  }

  .uploadDocumentForm ul {
    margin-bottom: 0;
  }

  .uploadPopup .docRadioBtn {
    display: flex;
    margin: 1.5625rem 0;
    flex-wrap: wrap;
  }
  .uploadPopup .dropImageList .customRadioBtn{
    padding-left: 2rem;
  }

  .dropImageBoxMain .dropImageBox {
    width: 49%;
  }

  .uploadIncomeSec .dropImageList .dropImageWrap {
    width: 25%;
  }
  .uploadIncomeSec .dropImageList .dropImageBox{
margin-left: 2rem;
  }
}

@media only screen and (width <=767px) {
  .employerFormSec {
    background: #ececec;
    padding-bottom: 1.25rem;
  }
  .uploadPopup .docRadioBtn{
    padding-left: 2rem;
  }
  .addressDetailForm .formWrap {
    flex-direction: column;
  }
  #income-popup .docRadioBtn{
    padding-left: 0;
    margin-left: 0;
  }
  #income-popup .dropImageBoxMain{
    padding-left: 0;
  }

  .addressDetailForm1 .formWrap .right {
    width: 100%;
    padding-left: 0;
  }

  .addressDetailForm .formWrap .left {
    width: 100%;
    padding-right: 0;
    border-right: 0;
  }

  .employerFormSec .form-group .workExpRow {
    flex-direction: column;
  }

  .employerFormSec .uploadDocumentForm .employerBtn {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 -0.0625rem .375rem #00000029;
    padding: .9375rem 1rem .9375rem 1rem;
    z-index: 999;
    text-align: left;
  }

  .uploadDocumentForm .employerBtn .linkBtn {
    justify-content: flex-start;
    margin-top: 0;
    flex-wrap: wrap;
  }

  .uploadDocumentForm .employerBtn .linkBtn .whiteButton {
    width: 100%;
    display: inline-block;
    max-width: 3.375rem;
    margin-bottom: 0;
    vertical-align: top;
  }

  .employerFormSec .uploadDocumentForm .employerBtn .whiteButton a {
    text-indent: -999rem;
    padding: 0 !important;
    background: url("../../../icons/back-btn.svg") no-repeat center !important;
    width: 3.375rem;
  }

  .uploadPopup .customRadioBtn {
    min-height: 3.125rem;
    padding-right: 2rem;
    margin-left: 0 !important;
    padding-left: 0;
  }
}

@media only screen and (width <=767px) {
  .uploadIncomeSec .dropImageList .dropImageWrap {
    width: 100%;
    margin: 0 0 .9375rem;
  }

  .uploadIncomeSec .dropImageList {
    flex-wrap: wrap;
  }

  .uploadDocumentForm .docRadioBtn {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .employerFormSec .personalDetailForm .gender .full-width {
   flex-direction: column;
  }
}




/* Finalize Loan css */

.finalLoanSec {
  max-width: 50rem;
  margin: 0 auto;
}

.employerFormSec .title * {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1.25rem;
}

.finalLoanSec .finalLoanWrap {
  max-width: 44.0625rem;
  width: 100%;
  margin: 0 auto 2.1875rem;
  background: #fff;
  padding: 2.1875rem 0.9375rem;
  position: relative;
}

.finalLoanSec .finalLoanWrap:after {
  position: absolute;
  content: "";
  background: url('../../../icons/zig-zag.webp')no-repeat;
  height: 0.625rem;
  width: 100%;
  bottom: -0.625rem;
  left: 0;
  background-size: 100%;
}

.finalLoanSec .bankLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.finalLoanSec .bankLogo img {
  max-width: 6.875rem;
  height: auto;
}

.finalLoanSec .bankLogo a {
  color: #408cf4;
  text-decoration: none;
  font-size: 1rem;
}

.finalLoanSec ul {
  border-top: 0.0625rem solid #d4d4d4;
  margin: 1.875rem 0 0;
  padding-left: 0;
}

.finalLoanSec ul li {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0 0.5rem;
  border-bottom: 0.0625rem solid #d4d4d4;
}
.finalLoanSec ul li.processing-fee{
  padding: 0;
}

.finalLoanSec ul li div {
  font-size: 0.75rem;
  font-weight: 400;
  color: #585858;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
}

.finalLoanSec ul li:nth-child(2n + 1) div:last-child {
  color: #408cf4;
}

.finalLoanSec ul li div:last-child {
  font-size: 0.9375rem;
  font-weight: 600;
}

.finalLoanSec ul li:last-child {
  border-bottom: 0;
}

.finalLoanSec ul li:last-child div:last-child {
  color: #585858;
}

.finalLoanSec ul li div .addRemoveDis2 {
  font-weight: normal;
  margin-right: 0.3125rem;
  font-size: 0.875rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
  top: 0.0625rem;
}

.finalLoanSec ul li div:last-child span {
  font-size: 0.8125rem;
  font-weight: 400;
  display: inline-block;
  width: 100%;
}

.psDiscTxtContainer {
  display: block;
  max-width: 44.0625rem;
  margin: auto;
}

.psDiscTxtContainer p {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #000;
}

.hdfcdis {
  float: left;
}

.hdfcdis ul,
.sbidis ul {
  border: none;
  margin: 0;
}

input.disclamer.form-check-input {
  opacity: 1 !important;
  border: 0.0625rem solid #000;
}

.form-check-input {
  margin: 0 !important;
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}

.form-check-label {
  padding-left: 1.25rem !important;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  margin-bottom: 0;
}

.sbidis {
  float: left;
}

.psDiscTxtContainer .employerBtn {
  display: inline-block;
  margin-top: 0;
  width: 100%;
}

.blackButton {
  display: inline-block;
}

.employerFormSec .employerBtn {
  text-align: right;
  margin: 2.5rem 0 0;
}

.finalLoanSec .linkBtn {
  position: fixed;
  bottom: 4.375rem;
  width: 100%;
  z-index: 100;
  left: 0;
  background: #fff;
  box-shadow: 0 -0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.29);
  padding: 0.9375rem 0.875rem 0.9375rem;
}

.finalLoanSec .employerBtn .linkBtn .blackButton a {
  text-align: center;
  margin-bottom: 0.625rem;
}

.finalLoanSec .psDiscTxt .disclaimerContainer a small {
  display: inline-block;
  width: 0.9375rem;
  height: 0.625rem;
  background: url('../../../icons/downarrow.webp') right center no-repeat;
  background-size: 0.9375rem;
}

.finalLoanSec .psDiscTxt .disclaimerContainer a small.active {
  background: url('../../../icons/uparrow.webp') right center no-repeat;
  background-size: 0.9375rem;
}

.employerFormSec .btn1 {
  font-weight: 600;
  padding: 0 1rem;
  font-size: 1rem;
  height: 3.125rem;
  line-height: 3.125rem;
}

.blackButton a {
  border: solid 0.0625rem #000;
  background-color: #000;
  text-decoration: none;
  padding: 0.6875rem 0.75rem 0.5625rem 0.75rem;
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  transition: 0.5s;
  text-transform: uppercase;
}

.employerFormSec .employerBtn div+div {
  margin-left: 0.4375rem;
}

.psDiscTxtContainer .psDiscTxt {
  width: 100%;
  float: none;
}

.finalLoanSec .psDiscTxt {
  width: 100%;
  margin-top: 0;
  text-align: left;
}

.psDiscTxt {
  clear: both;
  overflow: hidden;
  padding-top: 0.75rem;
}

.finalLoanSec .psDiscTxt .disclaimerContainer {
  font-size: 1rem;
  margin-bottom: 0.625rem;
  display: inline-block;
}

.finalLoanSec .psDiscTxt .disclaimerContainer a {
  color: #555;
}

.psDiscTxt .disclaimerContainer a {
  display: block;
  color: #000;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.finalLoanSec .psDiscTxt ol {
  padding: 0.125rem;
  margin: 0;
  font-weight: 300;
}

.finalLoanSec .psDiscTxt ol li {
  margin-bottom: 0.3125rem;
  font-size: 0.875rem;
  width: 100%;
  margin-left: 0.8125rem;
  padding-right: 0.9375rem;
  line-height: 1.5;
}

.finalLoanSec .psDiscTxt ol li:last-child {
  margin-bottom: 0;
}

.loanOfferViewDetailPopupMain .loanOfferView2-popup {
  padding-left: 0.5rem;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .closeIcon {
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  cursor: pointer;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox {
  display: flex;
  flex-wrap: wrap;
  padding: 1.125rem 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: -0.3125rem;
  width: 100%;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox:nth-child(1) {
  padding: 0;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox .nfLoanDetailElement {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 1.25rem;
  padding-right: 1.875rem;
  box-sizing: border-box;
  display: inline-block;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox .nfLoanDetailElement .nfLoanDetailtitle {
  font-size: 0.9375rem;
  font-weight: 500;
  color: #777;
  border-bottom: 0.125rem solid #e5e5e5;
  padding-bottom: 0.5rem;
  margin-bottom: 0.875rem;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox .nfLoanDetailElement .nfLoanDetailpointer {
  width: 100%;
  float: left;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox .nfLoanDetailElement .nfLoanDetailpointer ul {
  margin-left: 1.5625rem;
  line-height: 130%;
  margin-top: 0;
}

.loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox .nfLoanDetailElement .nfLoanDetailpointer ul li {
  width: 100%;
  float: left;
  margin-bottom: 0.625rem;
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 1.4;
  color: #000;
  list-style: disc;
}

.modal.fade .modal-dialog {
  transform: translate(0, 0);
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.modal-content .closeIcon {
  background: url('../../../icons/cross.webp') no-repeat;
  background-size: 1rem 1rem;
  width: 1rem;
  height: 1rem;
}

.fade {
  transition: opacity 0.15s linear;
}

/* user login pop css */
.userloginpopup {
  background: rgba(14, 14, 14, 0.41);
}

.userloginpopup .loginmodal {
  margin: 0;
}

.loginBoxContainer {
  width: 100%;
  float: left;
}

.loginSignUpBox {
  width: 100%;
  background: #fff;
  float: left;
  padding: 3.125rem 1.875rem;
}

.loginLeftBox {
  width: 100%;
  float: left;
  position: relative;
  padding: 0 1.875rem;
}

.loginLeftBox .title {
  width: 100%;
}

.loginLeftBox .title * {
  width: 100%;
  float: left;
  font-size: 1.125rem;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.9375rem;
}

.nf-mobile-box p {
  margin-bottom: 1.25rem;
}

.nf-mobile-box .col-sm-12.form-group {
  text-align: center;
  gap: .5rem;
  display: flex;
  justify-content: center;
}

.nexa_finance-modal .sub-btn {
  display: inline-block;
  background: #000;
  border: 0.0625rem solid #000;
  color: #fff;
  padding: 0.5rem 0.9375rem;
  text-decoration: none;
  vertical-align: top;
  text-transform: uppercase;
  width: auto;
  margin: 0;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 0.9375rem;
}

.nexa_finance-modal .sub-btn:hover {
  background: #fff;
  color: #000;
}

.removeDisPoupMain .popupInnContent,
.addDisPoupMain .popupInnContent {
  padding: 0.9375rem 1.25rem;
  display: flex;
  flex-direction: column;
}

.addDisPoupMain .popupInnContent .title-input-container {
  width: 100%;
  text-align: center;
}

.addDisPoupMain .popupInnContent .dealerDiscountTitle * {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  float: left;
  text-transform: inherit;
}

.addDisPoupMain .popupInnContent input {
  float: left;
  padding: 0.75rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  border: #d1d1d1 solid 0.0625rem;
  height: 2.875rem;
  width: 100%;
  margin-top: 0.9375rem;
}

.error_msg {
  color: red;
}

.removeDisPoupMain .popupInnContent .buttonMain,
.addDisPoupMain .popupInnContent .buttonMain {
  width: 100%;
  text-align: center;
  margin-top: 1.25rem;
  float: right;
}

.removeDisPoupMain .popupInnContent .buttonMain {
  margin-top: 0;
}

.removeDisPoupMain .popupInnContent .buttonMain .blackButton,
.addDisPoupMain .popupInnContent .buttonMain .blackButton {
  display: inline-block;
  width: 6.25rem;
  text-align: center;
}

.removeDisPoupMain .popupInnContent .buttonMain .blackButton a,
.addDisPoupMain .popupInnContent .buttonMain .blackButton a {
  width: 100%;
}

.removeDisPoupMain .popupInnContent .remove-discount-title * {
  font-size: 1.125rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 0;
  line-height: 1.35rem;
  float: left;
  text-transform: inherit;
}

.removeDisPoupMain .popupInnContent .remove-discount-title strong {
  margin-bottom: 0;
}

.nfLoanDetailElement .nfLoanDetailtitle .nfLoanDetailpointer ul li span {
  color: #444;
}

.nfLoanDetailElement .nfLoanDetailtitle .nfLoanDetailpointer span {
  color: #777;
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.625rem;
  float: left;
  width: 100%;
}

.nfSubmitAppPopupMain button.close {
  display: none;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent {
  padding: 1.5625rem 1.5625rem 2.5rem 1.5625rem;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  display: inline-block;
  width: 100%;
  font-weight: 300;
  margin-bottom: 1.25rem;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubAppLoader {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 1.25rem;
}

.nfSubmitAppPopupMain .progress-bar-img {
  display: inline-block;
  background: url('../../../icons/progress-bar.webp') no-repeat;
  width: 19.25rem;
  height: 1.0625rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.green-tick {
  background: url('../../../icons/popup-right.webp') no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.625rem;
  height: 1.625rem;
}

.grey-cross {
  background: url('../../../icons/popup-cross.webp') no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.625rem;
  height: 1.625rem;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain {
  margin: 0.9375rem 0 2.1875rem 0;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine {
  width: 80%;
  margin-left: 10%;
  height: 0.125rem;
  background: #666;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine ul {
  position: relative;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine ul li:nth-child(1) {
  left: -1.875rem;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine ul li {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: -0.625rem;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine ul li label {
  width: 1.625rem;
  height: 1.625rem;
  display: inline-block;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine ul li span {
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 0.625rem;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine ul li:nth-child(2) {
  left: 16%;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine ul li:nth-child(3) {
  left: 55%;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine ul li:nth-child(4) {
  left: 90%;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine .nfPopupStepIcon {
  position: absolute;
  margin: auto;
  max-width: 100%;
  display: block;
}

.nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine ul li.active label .nfPopupCross {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

@media (width >=768px) {
  .finalLoanSec .finalLoanWrap {
    margin: 1.5625rem auto 2.1875rem;
    padding: 2.5rem;
  }

  .finalLoanSec .linkBtn {
    position: relative;
    background: none;
    bottom: 0;
    box-shadow: none;
    padding: 0;
  }

  .finalLoanSec .psDiscTxt .disclaimerContainer a small,
  .finalLoanSec .psDiscTxt .disclaimerContainer a small.active {
    display: none;
  }

  .loanOfferViewDetailPopupMain .popupContainer_fmp .nfLoanDetailGreyBox:nth-child(1) {
    padding: 1.125rem 1.25rem;
  }

  .removeDisPoupMain .popupInnContent,
  .addDisPoupMain .popupInnContent {
    padding: 1.5625rem;
    flex-direction: row;
  }

  .removeDisPoupMain .popupInnContent {
    flex-direction: column;
  }

  .addDisPoupMain .popupInnContent .title-input-container {
    width: 70%;
    text-align: left;
  }

  .addDisPoupMain .popupInnContent .dealerDiscountTitle * {
    font-size: 1.5625rem;
    text-align: left;
  }

  .addDisPoupMain .popupInnContent input {
    width: 90%;
  }

  .addDisPoupMain .popupInnContent .buttonMain {
    width: 25%;
  }

  .addDisPoupMain .popupInnContent .buttonMain .blackButton {
    width: 100%;
  }

  .addDisPoupMain .popupInnContent .buttonMain .blackButton+.blackButton {
    margin-top: 0.9375rem;
  }

  .removeDisPoupMain .popupInnContent .remove-discount-title * {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .nfSubmitAppPopupMain .nfSubmitAppPopupContent {
    padding: 2.5rem 3.125rem 3.125rem 3.125rem;
  }

  .nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine ul li:nth-child(1) {
    left: -0.700rem;
  }

  .nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine ul li:nth-child(2) {
    left: 25% !important;
  }

  .nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine ul li:nth-child(3) {
    left: 60%;
  }

  .nfSubmitAppPopupMain .nfSubmitAppPopupContent .nfSubmitAppStatusMain .nfSubmitAppStatusLine ul li:nth-child(4) {
    left: 90%;
  }
}

.popUpmain {
  .modal-lg {
    max-width: 62.5rem;
    height: 100%;
    overflow: auto;
  }

  .modal-content {
    padding: 0;
  }

  .close.finalCloseButton {
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    top: 0;
  }
}

.loanOfferViewDetailPopupMain .modal-dialog {
  margin: 1.75rem auto;
}

.psDiscTxtContainer li p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #000;
  margin: 0;
}

input[type="date"] {
  padding-right: 1.25rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: #F9F9F9 url("../../../icons/calender.webp") 96% center no-repeat;
  width: 1.625rem;
  height: 1.625rem;
}

.uploadPopup .modal-content {
  max-width: 42.5rem;
  padding: 1.875rem;
}

/* CSS added for fix ADB-10881 */
.addressDetailSec .customCheckBox {
  font-size: 1rem;
}

.addressDetailSec .customCheckBox [type="checkbox"] {
  height: 1.1875rem;
  width: 1.1875rem;
  top: .5625rem;
  background: transparent;
  position: absolute;
  border: #ccc solid .0625rem;
}

.addressDetailSec .customCheckBox span {
  padding-left: 1.6875rem;
}

.employerFormSec .left .form-group.office {
  margin-top: 2.5rem;
}

.employerFormSec .form-group.cAddress {
  line-height: 1;
}

#incorrect_doc_validation_popup {
  .modal-content {
    padding: 1.25rem;
    max-width: 37.5rem;
  }
  h2{
    margin-bottom: 0;
  }

  .warning-icon {
    background: url('../../../icons/warning-icon.webp');
    background-size: 1.625rem;
    width: 1.625rem;
    height: 1.625rem;
    display: inline-block;
  }
}
#doc_validation_popup{
  .modal-content{
     padding: 1.25rem;
  }
  h2{
    color:var(--sf-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.4375rem;
    margin-bottom: 0;
  }
  .info-icon{
    background: url('../../../icons/info-icon.webp');
    background-size: 2.625rem;
    width: 2.625rem;
    height: 2.625rem;
    display: inline-block;
  }
  button{
    min-width: unset;
  }
}
.loader {
  height: 100px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}
#branch_popup {
  overflow: auto;
  .modal-body {
      padding: 10px;
  }
  .label-branch{
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
  }
  .details-wrapper {
    display: flex;
    align-self: flex-end;
  }
.div-wrapper{
  display: flex;
  flex-direction: column;
  position: relative;
  @media (width <= 768px) {
    margin-bottom: 20px;
  }

  .std-city-dropdown,.std-state-dropdown,.std-branch-dropdown{
    border-radius: 0;
    border: 1px solid #000;
    text-transform: none;
    padding: 16px;
    height: 56px;
    font-size: 16px;
    cursor: pointer;
    line-height: 24px;
    color: #8a8a8a;
    font-weight: 300;
    width:100%;
    &:focus{
      outline: none;
    }
  }
}
  .modal-content {
      max-width: 90% !important;
      padding: 1.5625rem !important;
  }

  .modal-branch-title {
      font-size: 24px;
      line-height: 36px;
      font-weight: 600;
      color: #000;
      text-align: left;
      margin-bottom: 40px;
  }

  .no-gutters.row15 {
      margin-left: -7px;
      margin-right: -7px;
  }

  .no-gutters.row15>[class*=col-] {
      padding-left: 7px;
      padding-right: 7px;
      max-width: 500px;
  }

  .col-md-auto {
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
  }


.blackButton a,.whiteButton a {

  text-decoration: none;
  padding: 11px 12px 9px 12px;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  transition: 0.5s;
  text-transform: uppercase;
}

.btn-get-detail {
  height: 58px;
  min-width: 130px;
  text-align: center;
  text-transform: capitalize !important;
  line-height: 200%;
  display: inline-block;
  border: 1px solid #000;
}
.btn-get-detail.disabled{
  background-color: gray !important;
  border-color: gray !important;
  pointer-events: none;
}

.modal-branch-btn-outline {
  padding: 20px 47px !important;
  text-transform: capitalize !important;
  text-decoration: none;
  height: 58px;
  min-width: 130px;
  display: inline-block;
  border: 1px solid #000;
}

.modal-branch-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  margin: 30px 0 0 0;
}

select {
  height: 56px;
}

.or-breaker {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  color: #000;
  display: block;
  text-align: center;
  margin: 45px 0 45px 0;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.branch-form-control {
  border-radius: 0;
  border: 1px solid #000;
  text-transform: none;
  padding: 16px;
  height: 56px;
  font-size: 16px;
  line-height: 24px;
  color: #8a8a8a;
  font-weight: 300;
}

.invalid-feedback {

  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.modal-branch-button {
  margin: 60px 0 0 0;
  display: flex;
  justify-content: flex-end;
}

.modal-branch-button>div:has(+div) {
  margin-right: 15px;
}

ul {
  list-style: none;
  padding-left: 0;

  li {
      padding: 6px;
      cursor: pointer;

      &:hover {
          background-color: #5897fb;
          color: #fff;
      }
  }
}

.icon-img {
  background: url(../../../icons/error-icon.webp) no-repeat;
  width: 2.8125rem;
  height: 2.8125rem;
}
.select-selection__arrow{
  background-image: url(../../../icons/branch-selection-down-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 14px;
  height: 56px;
  right: 16px;
  position: absolute;
  top: 35%;
}
.dropdown-list{
  max-height: 11.875rem;
  overflow: auto;
  cursor: pointer;
  &::-webkit-scrollbar {
    width: 8px;
    height: 5px
  }
  
  &::-webkit-scrollbar-track {
    background: #eee;
    border: thin solid #d3d3d3;
    box-shadow: 0 0 3px 0 #dfdfdf inset;
    border-radius: 10px
  }
  
  &::-webkit-scrollbar-thumb {
    background: #999;
    border: thin solid gray;
    border-radius: 10px
  }
p.selected-value{
  background-color: #ddd;
}
  p{
    padding: .375rem;
    font-size: 1rem;
    margin: 0;
    &:hover{
      background-color: rgb(88, 151, 251);
      color:#fff
    }
  }
}
.std-state-dropdown.resuts,.std-city-dropdown.resuts,.std-branch-dropdown.resuts{
  position: absolute;
  left: 7px;
  top: 100%;
  width: calc(100% - 14px);
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0px 3px 26px #0000003b;
  input{
    width: 100%;
    background-color: #fff;
    border: 2px solid rgba(220, 220, 220, 0.52);
    color: #000;
    font-weight: 400;
    font-size: 16px;
    height: 50px;
    margin-bottom: 4px;
    &:focus{
      outline: none;
    }
  }

}
}
@media (width <= 768px) {
  .details-wrapper{
    margin-top: .9375rem;
  }
}

#old_branch_popup {
  .modal-content {
      max-width: 62.5rem !important;
      padding: 1.5625rem;
  }

  h2 {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: left !important;
  }
  .blackButton a,.whiteButton a {

      text-decoration: none;
      padding: 11px 12px 9px 12px;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      transition: 0.5s;
      text-transform: uppercase;
  }
  
  .formfieldRow {
      width: 100%;
      margin-top: 20px;
      display: flex;
  }

  .formfieldRow .formInputBx:last-child {
      margin-right: 0px;
  }

  .formfieldRow .formInputBx {
      width: 49%;
      margin-right: 2%;
      position: relative;
      margin-bottom: .9375rem;
  }

  .title_branch {
      margin-bottom: 2px;
      font-size: 13px;
      font-weight: bold;
      text-align: left !important;
  }

  .autocomplete_fmp {
      position: relative;
  }

  .formfieldRow .formInputBx input {
      width: 100%;
      padding: 12px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);
      border: #666 solid 1px;
      height: 50px;
      opacity: 1;
      cursor: pointer;
      &:focus{
        outline: none;
      }
  }

  .formfieldRow .formInputBx:last-child {
      margin-right: 0px;
  }

  .autocomplete-items {
      position: absolute;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      top: 100%;
      left: 0;
      right: 0;
      overflow: auto;
      height: 215px;
      &::-webkit-scrollbar {
        width: 8px;
        height: 5px
      }
      
      &::-webkit-scrollbar-track {
        background: #eee;
        border: thin solid #d3d3d3;
        box-shadow: 0 0 3px 0 #dfdfdf inset;
        border-radius: 10px
      }
      
      &::-webkit-scrollbar-thumb {
        background: #999;
        border: thin solid gray;
        border-radius: 10px
      }
  }

  .autocomplete-items p {
      padding: 5px;
      cursor: pointer;
      background-color: #fff;
      border: 1px solid #d4d4d4;
      border-top: 0;
  }

  .autocomplete-items  p {
      font-size: 12px !important;
      line-height: 1.5 !important;
      position: relative !important;
      font-weight: 300;
      color: #000;
      text-align: left !important;
      margin:0;
  }

  .branchSelectAdd {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      margin-top: 40px;
  }

  .branchSelectAdd p {
      width: 63%;
      font-size: 1rem;
      font-weight: 500;
      text-align: left;
      line-height: 1.4;
      margin-bottom: 0px;
      font-style: italic;
  }

  .branchSelectAdd .btnsMain {
      float: right;
      text-align: right;
      display: flex;
      gap:1.25rem;
      .whiteButton a,.blackButton a{
          height: 50px;
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 50px;
          padding: 0px 25px;
      }
      .whiteButton a{
          border:1px solid #000;
      }
  }
  @media (max-width:999px){
      .formfieldRow{
          flex-direction: column;
      }
      .formfieldRow .formInputBx {
          width: 100%;
          margin-right: 0px;
          margin-top: 15px;
      }
  }
}